[2022-08-02 18:14] DonJayamanne commented on #6918
Closing this issue as we expose an API for users to access the kernel connection. If users which to access the kernel, they could, send messages back to the extension host from the webview .

[2022-08-02 18:14] #6918 closed

[2022-08-02 18:26] DonJayamanne commented on #10182
* We can spawn the python process using the traditional approach and send messages using std stream or sockets. (removing need & complexity of using daemon)
* We can just kill these processes when vscode dies

[2022-08-02 18:36] 2-5 commented on #10182
I didn't mention in the original report, but these processes are killed when vscode exits. They are only orphaned while vscode is running. So it's not a problem from that point of view. Still a bit annoying when restarting kernels a lot.

[2022-08-02 18:46] DonJayamanne commented on #10182
We can update the code to have a single process per VS Code session, instead of having mutiples.

[2022-08-02 18:52] rchiodo commented on #11018
Thanks that helps. I'm reproing. The processes don't die during shutdown in VS code but do in Jupyter regardless of whether or not I kill them in the UI or just shutdown jupyter altogether.

[2022-08-02 18:54] #10941 closed

[2022-08-02 19:44] phgmacedo commented on #11006
In https://github.com/microsoft/vscode-jupyter/issues/10596 I have another case where the Jupyter debugger breaks.

[2022-08-02 19:56] phgmacedo commented on #10596
@DonJayamanne
vscode:
Version: 1.69.2 (user setup)
Commit: 3b889b090b5ad5793f524b5d1d39fda662b96a2a
Date: 2022-07-18T16:12:52.460Z
Electron: 18.3.5
Chromium: 100.0.4896.160
Node.js: 16.13.2
V8: 10.0.139.17-electron.0
OS: Windows_NT x64 10.0.22000

python extension: v2022.10.1

jupyter extension: v2022.6.1201981810

[2022-08-02 19:58] amunger commented on #10596
I can get this to easily repro with the @phgmacedo's steps:

I Set a breakpoint on the module I imported (.py file).
Somewhere during the debug session I clicked "restart debugging".

restarting the debugger while it is paused in an external file does not behave correctly

[2022-08-02 19:59] amunger commented on #10596
Quite different than the original issue though - I just can't do any more debugging a that point

[2022-08-02 20:02] phgmacedo commented on #10596
Yeah, maybe this should go to another issue. Can you guys transfer, do I open another one, or leave this one as is?

[2022-08-02 20:10] amunger opened #11026 "Debugger can't restart when paused in a separate file"
It happened like this:

I was debugging a notebook cell, which called a module.
I Set a breakpoint on the module I imported (.py file).
Somewhere during the debug session I clicked "restart debugging".

Then I got:
"Couldn't find a debug adapter descriptor for debug type 'Python Kernel Debug Adapter' (extension might have failed to activate)"

And I'm no longer able to debug the notebook until I r

[2022-08-02 20:11] amunger commented on #10596
I created a separate issue since that one is more cut and dry, I'm not convinced that they are caused by the same issue - the new one just seems like we aren't handling the reset message correctly.

[2022-08-02 20:30] phgmacedo commented on #11027
@DonJayamanne Can you kindly reopen this issue please? It was closed as not planned by @brettcannon but after some discussion he transfered it here.

[2022-08-02 20:34] DonJayamanne commented on #11015
@lipengmao  i think this wasn't working in yestedays insider vesion. Should be fixed today.

[2022-08-02 20:44] amunger commented on #11006
@rchiodo - can you provide the version info that you think might be relevant here (IPython, DebugPy)? I cannot get this to repro with what I have

[2022-08-02 20:52] rchiodo commented on #11006
I was using the latest of each.

![image](https://user-images.githubusercontent.com/19672699/182471113-f9ab904b-7636-4d87-9ce7-4af1b4c63230.png)

I don't think it's a bug in debugpy though. I think we're not tracking state in the extension correctly.

[2022-08-02 20:55] rchiodo commented on #11006
After I hit the error state, restarting the kernel has no effect (which I think if debugpy was the problem, it would go away). I have to reload VS code for it to work again.

[2022-08-02 21:01] rchiodo commented on #11006
And it's not always the same error.

Like right now the UI thinks there's still one more line to run:

![image](https://user-images.githubusercontent.com/19672699/182472541-ff22d376-a44b-4cdb-831a-2b6baef9a860.png)

But the output from the cell shows the final line already ran:

![image](https://user-images.githubusercontent.com/19672699/182472605-c47d65aa-599b-47bc-8e8b-660729982c87.png)

And I c

[2022-08-02 21:56] #10999 closed

[2022-08-02 22:48] #11013 closed

[2022-08-03 00:50] MrRogerTheShrubber commented on #1138
Oh, this is a good one! A lot of issues about supporting different types while debbugging are closed, but in a lot of cases, they don't work.

---

Hi guys! I was thinking to myself, and I reached the conclusion that public shaming bad projects with bad maintainers is a reasonable way to entice action.

So I'll tag some organizations in particularly egregious examples of bad behavior with the hope

[2022-08-03 00:57] MrRogerTheShrubber commented on #7069
The @python guys @microsoft keep closing all relevant egregious features even when they are not solved!

This one is still open.

Hi guys! I was thinking to myself, and I reached the conclusion that public shaming bad projects with bad maintainers is a reasonable way to entice action.

So I'll tag some organizations in particularly egregious examples of bad behavior with the hopes that given enoug

[2022-08-03 01:46] ydmykr opened #11031 "VS Code crashes when running a cell that produces a lot of output"
I am trying to print model summary in tensorflow and I think the model is large and it's crashing my notebook. The model is ResNet101.

![image](https://user-images.githubusercontent.com/100815370/182506283-b4d560f0-7f6a-40de-9ef8-27ae7c245bf2.png)

The whole computer comes to a halt, memory usage goes up to 99% and VS Code crashes. I have 16 GB of ram, so I didn't think printing something large w

[2022-08-03 01:51] DonJayamanne commented on #11031
Thanks for filing this issue and I'm sorry you are running into this.
* Is it VS Code or is it is the kernel that crashes?
* If you were to run this outside VS Code in classic jupyter via a terminal , do you experience the same problem?
* Can you run a cell at a time to check when exactly vscode crashes, that would help narrow down the issue

[2022-08-03 03:14] ZeroRin opened #11032 "Colored outputs being unreadable in text editor"
When I open a truncated colored output in text editor I got a json format output with encoded characters instead of texts that I'm interested in.
I understand this is technically not a bug, but this do prevent me from inspecting what's going on with my code.

For example, in the following scenario, I have difficulty reading the full traceback

![image](https://user-images.githubusercontent.com/149

[2022-08-03 03:36] gjsjohnmurray commented on #11027
Does the keyboard shortcut work instead of the context menu entry? I am asking because I think there's an open issue on the VS Code repo about the standard webview context menu items not working.

[2022-08-03 06:33] claudiaregio commented on #6359
I would still recommend this given it's the flow that Jupyter has and research in the past showed users not realizing a kernel had been selected but I think it's best if @minsa110 evaluates this as she is focused on the getting started flow.

[2022-08-03 06:45] DonJayamanne commented on #11026
I think the problem here is we're re-starting the kernel without first shutting down the existing debugger.
Looking at the error message, this is from VS Code, leading me to believe debugger crashes unexpectedly (due to restart of the kernel), hence the error message from VS Code.
I.e. if we're already debugging, then we should shutdown the debugger, then restart the kernel.

[2022-08-03 07:25] RichardPflaum commented on #8289
Thank you for the quick replies. Are you referring to the setting `"python.experiments.enabled": false`?
That doesn't remove linting of the cells for me.
I don't have the problem where function definitiions are not transfered from one cell to the next.
For me it's when i execute a script with a mistake, where something is actually not defined.
E.g. running a file hello.py containing nothing but `h

[2022-08-03 11:10] fabioz opened #11033 "Set `"PYDEVD_IPYTHON_COMPATIBLE_DEBUGGING" = "1"` in the environment prior to importing `debugpy`"
There was a recent fix in `debugpy` to work properly with IPython and the fix requires that `"PYDEVD_IPYTHON_COMPATIBLE_DEBUGGING" = "1"` is set in the environment prior to importing `debugpy`.

See: https://github.com/microsoft/debugpy/issues/869#issuecomment-1132141003 for details on why a custom support was needed.

[2022-08-03 11:12] fabioz commented on #10600
Note: this issue should be fixed in the `master` version in debugpy.

[2022-08-03 12:05] Saltsmart commented on #10973
The poor font colorization happens consistently. It is reported to be caused by Jupyter notebook renderers when running `Help: Start Extension Bisect`. No additional output is generated.

I haven't seen the strange cursor behavior since then.

[2022-08-03 12:05] #10973 closed

[2022-08-03 13:04] FPRM commented on #1138
Some updates about this feature ?

[2022-08-03 16:15] amunger opened #11036 "extra error output when debugging with run by line with debugpy 1.6.2"
Type: <b>Bug</b>

after upgrading to the latest debugpy, there is an error and stacktrace printed at the top of the cell output when starting RBL. Debugging seems to work aside from that though.

[code]

Extension version: 2022.8.1002161046
VS Code version: Code - Insiders 1.70.0-insider (e9bda7aa4ff76648cfccc1a7bde465443803da71, 2022-08-02T16:56:25.649Z)
OS version: Windows_NT x64 10.0.22000
Mode

[2022-08-03 16:20] amunger commented on #11006
I managed to hit that last described case after updating debugpy 1.6.0 to debugpy 1.6.2
I'm now also seeing that extra error in the cell output, https://github.com/microsoft/vscode-jupyter/issues/11036, which I see cropped in one of your screenshots.

[2022-08-03 16:28] rchiodo commented on #8289
This is the setting I was referring to:

[code]

That switches to a different way to do notebook intellisense. It changes linting in the interactive window.

However I would expect the value `hello` in a python file to show an error? Are you asking for it to not show any diagnostic messges for the interactive window (well because the execution of them shows the error anyway)?

That's not quite the

[2022-08-03 17:18] rchiodo opened #11038 "Intellisense completions have duplicates when `python.pylanceLspNotebooksEnabled` is true"
Repro steps:
1. Set "python.pylanceLspNotebooksEnabled" to true
2. Create a notebook
3. Create some cells that create a dataframe
4. Run the cell that creates the dataframe
5. Create a new cell to get members.
6. Type `df.ag`

Result:

![image](https://user-images.githubusercontent.com/19672699/182669060-40d5872f-29f4-4ad7-bfef-eb0772381cac.png)

Without `python.pylanceLspNotebooksEnabled`:

![ima

[2022-08-03 18:54] amunger commented on #11036
dupe of https://github.com/microsoft/debugpy/issues/1000

[2022-08-03 18:54] #11036 closed

[2022-08-03 19:33] chenhao1umbc opened #11039 "UI failure"
Issue Type: <b>Bug</b>

double click iteractive tab, there is a chance that the input box is missing or half-missing

Extension version: 2022.6.1201981810
VS Code version: Code 1.69.2 (3b889b090b5ad5793f524b5d1d39fda662b96a2a, 2022-07-18T16:14:10.636Z)
OS version: Linux x64 5.15.0-43-generic
Restricted Mode: No
Remote OS version: Linux x64 4.4.0-230-generic

<details>
<summary>System Info</summary

[2022-08-03 19:36] chenhao1umbc commented on #11039
Please check the link to see the screen shot. It is hard to descript precisely.
https://photos.app.goo.gl/Ej82s5sTmtjCFQkD7

[2022-08-03 21:52] luabud opened #11040 "File shadowing warning given on __init__.py file"
Type: <b>Bug</b>

I have an app where I have an __init__.py file  that contains only `__version__ = '0.1.0'`. But opening it in VS Code is giving me the file name shadowing warning from Jupyter:

![image](https://user-images.githubusercontent.com/45497113/182719088-dc465ae2-568f-4caa-94a1-c610711b1bf6.png)

I think the chances of someone creating a file called __init__.py for their file is really

[2022-08-03 22:31] wardyemc opened #11041 "Jupyter extension in VSCode incorrectly alerting about file name overriding"
### Applies To

- [ ] Notebooks (.ipynb files)
- [X] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

With the Jupyter extension enabled, every file is marked as potentially overriding a Python package, even my test one "crap.py"

The message issued is:

[code]

Every single file in my directory is marked as such. This doesn't appear to affect .ipynb files

[2022-08-04 00:21] EnchanterTim2 commented on #10170
Que vergonha da qualidade do trabalho desse @sadasant. Ele é Brasileiro? Um show de incompetência.
A @luabud é outra brasileira do time de @python na @microsoft.
Só entregam um trabalho de baixa qualidade, feito no ~jeitinho~, tudo mal feito, cheio de problemas.

As extensões Jupyter e Python e Pylance estão todas quebradas, parece um trabalho de amador, um trabalho porco. Um visualizador de variá

[2022-08-04 00:27] DonJayamanne commented on #11041
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/11040
Will be fixed as a hot fix.

[2022-08-04 00:27] #11041 closed

[2022-08-04 00:32] EnchanterTim2 commented on #10170
@sadasant I also see this, don't think I can test continue testing this, here's the console if that's helpful:

@weinand turns out we haven't published the Variable Viewer! Our build failed on Friday. I'll provide an update soon.

@weinand , @Tyriar we have just published this feature with version 2022.5.1001532360. I have also confirmed that it works! (At least or me) Please, try again 🙇‍♂️

Que

[2022-08-04 00:35] EnchanterTim2 commented on #10170
An illustration of the vscode team debugging the python experience:

![giphy](https://user-images.githubusercontent.com/110574767/182738238-e7ff3211-a1f5-46e5-81e9-2085596ae0da.gif)

@luabud @weinand @Tyriar @brettcannon and @gramster @greazer @sbatten @joaomoreno @rebornix @connor4312 @bpasero @jrieken @mjbvz @alexdima @sandy081

@isidorn @roblourens @aeschli @misolori @dbaeumer @kieferrm @lramos

[2022-08-04 01:53] DonJayamanne commented on #11031
I'm assuming you are referring to the cell with the code `base_model.summary`
Is it possible to try the following:
* Not print any output at all
* Run the first cell, then clear all output using the command or icon in the toolbar
* Run the next cell and clear all of the output.
* Similarly continue till you get to the problematic cell, again, comment out the code where you are printing the model s

[2022-08-04 03:07] DonJayamanne commented on #11033
@fabioz
From what I understand the suggestion is to set the env variable always for pydevd to work properly in IPython, is that correct.

[2022-08-04 03:10] DonJayamanne commented on #11005
This is a very edge case scenario, hence closing this.
After all, when the first notebook/IW is started user will be display a meaningful error message about the file `random.py` that could potentially cause issues.

[2022-08-04 03:10] #11005 closed

[2022-08-04 03:13] DonJayamanne commented on #11001
This test no longer exists

[2022-08-04 03:13] #11001 closed

[2022-08-04 03:48] DonJayamanne commented on #10674
Closing as I don't think this will be necessary anymore.

[2022-08-04 03:48] #10674 closed

[2022-08-04 03:49] DonJayamanne commented on #10343
No longer an issue

[2022-08-04 03:49] #10343 closed

[2022-08-04 03:55] DonJayamanne commented on #10858
Marked as fixed for validation

[2022-08-04 03:55] #10858 closed

[2022-08-04 04:00] DonJayamanne commented on #7661
@roblourens any update on when or even if the interrupt button will be added into core.
I coudln't find any issue that tracks that work in vscode repo. Probably there is and I couldn't find it.

[2022-08-04 04:00] DonJayamanne commented on #9912
aah got it, i think we decided to leave this in there else, the button would appear/disappear as you run cells.
E.g. if you were to run a notebook with 10 cells, then as each cell runs and completes, the button would appear and disappear.
However we're also waiting for these to be moved into VS Code Core (today this is icon is contributed by the extension)

Closing in favor of https://github.com/m

[2022-08-04 04:00] #9912 closed

[2022-08-04 04:03] DonJayamanne commented on #9549
No longer relevant

[2022-08-04 04:03] #9549 closed

[2022-08-04 04:06] DonJayamanne commented on #7376
This telemetry is available today.
Its a matter of going through and figuring this out now.
Closing as as we're planning on re-visiting the kernel picker UI

[2022-08-04 04:06] #7376 closed

[2022-08-04 07:07] RichardPflaum commented on #8289
Exactly. The interactive window runs everything anyways and once you execute the cell, it is read only and cannot be modified. Linting cells that cannot be modified serves no purpose and clutters the "problems" area.

[2022-08-04 07:17] MCRE-BE commented on #8289
I think my issue is related (should have taken screenshots) :

- I had an interactive window with more or less 500 cells (but regularly cleared), so more like 500 executions
- VSCode performed linting on all 500 cells even when cleared
- VSCode linting for the normal window is disabeled
- This resulted in > 14K warnings or errors (seriously slowing down my computer) with no way to clear them outsi

[2022-08-04 07:21] DonJayamanne commented on #10812
**Summary of the problems:**
* The widget scripts are registered only when we render ipywidgets (however vega is a regular js)
 Hence we need to register the scripts for all outputs
* The baseUrl is setup in the webview where ipywidgets are rendered, however regular js is rendered in a different webview. Either we have a custom renderer for regular js/html mimetypes, or we update core to render js

[2022-08-04 07:40] DonJayamanne commented on #10812
**Suggestion for updating the base url**
* We can add custom js code into the html/js outputs that update the `baseUrl` of requirejs in the webview
**TODO:**
* Check if requirejs is available in built in renderers
* This feels hackish,
    * hence check if its possible to have these js/html loaded in the same webview as widgets
    * should we create a custom renderer for js/html outputs (discuss

[2022-08-04 08:30] mariosconsta commented on #11031
I am the OP who posted this question on stack overflow and OP here created the issue for me, so I will answer your questions.
So after making a new notebook to test again, the same thing happens:
![296595032_738041494121566_6923916001967281265_n](https://user-images.githubusercontent.com/22726730/182798388-e741cec0-7be9-493b-881a-66bb052ff1bb.jpg)
Sorry for the phone screenshot, computer froze. Al

[2022-08-04 08:39] DonJayamanne commented on #11031
Thanks for all of the information, please could you:
* Provide a very small sample code to replicate this at our end.
You mentioned a small notebook, please provide that as a sample or something even smaller.
* Please provide all of the necessary python packages that need to be installed, if you are using conda, then even better as you could just  provide the conda yaml file (do let us know the ve

[2022-08-04 08:46] haeraeus commented on #9930
In my case, "Jupyter: Create Interactive Window" creates a jupyter session in the first folder of my workspace (the one on top). Execute "pwd" in the IPython console to verify. This is very annoying because I work different environment files within the folders.

[2022-08-04 08:49] mariosconsta commented on #11031
The zip folder should contain everything you need. The small demo notebook at around 100KB and a notepad with all my packages, you can run pip install with that notepad and it will install everything for you.

[demo.zip](https://github.com/microsoft/vscode-jupyter/files/9258125/Desktop.zip)

Also I am using venv, python version is 3.10.2, tensorflow version is the latest. If you can reproduce it,

[2022-08-04 10:42] fabioz commented on #11033
@DonJayamanne yes, when using IPython it should always be set (it'll do nothing in `debupy 1.6.2` and earlier but on newer versions it should fix the issues related to stepping in IPython).

[2022-08-04 10:56] MCRE-BE commented on #8289
A small toy example :
![pylancce issue](https://user-images.githubusercontent.com/99316631/182830604-5fb4368a-a360-44d9-a4de-6f27d56edadb.jpg)

Changing the setting seems to work

[2022-08-04 16:13] #11040 closed

[2022-08-04 16:26] #10596 closed

[2022-08-04 17:39] DonJayamanne commented on #6544
We have tests for running Julia notebooks
* Ensure we select the julia kernel when opening a julia notebook
* Ensure we can run a julia notebook

[2022-08-04 17:39] #6544 closed

[2022-08-04 18:32] roblourens commented on #7661
That's https://github.com/microsoft/vscode/issues/133776 - from what I remember, the button is there but does not appear.

[2022-08-04 18:42] joshjob42 commented on #1611
Is this a feature controlled on the kernel side or the VS Code Jupyter extension side? On the latest VS Code and extension, I can change cells to raw when using the Python 3 kernel, but not when using the latest Julia extension version and any current Julia version (either the current release or the release-candidate). The only options available with a Julia kernel are Markdown and Julia.

[2022-08-04 18:45] rchiodo commented on #1611
It's a function of the 'languages' that a kernel says it supports. We give back 'raw' here:

https://github.com/microsoft/vscode-jupyter/blob/2adefe9614c3e95234573ddfdbff4689b09e5859/src/notebooks/controllers/vscodeNotebookController.ts#L187

Here's our list:

https://github.com/microsoft/vscode-jupyter/blob/2adefe9614c3e95234573ddfdbff4689b09e5859/src/platform/common/constants.ts#L132

So the Jul

[2022-08-04 20:53] DonJayamanne commented on #10997
I'm sorry for not getting back to you on this, will check this out today.

[2022-08-04 20:55] DonJayamanne commented on #11035
Thanks for the suggestion, i believe we already  have an issue traacking this feature, will find that and close this in favor of that.

[2022-08-04 21:29] #10990 closed

[2022-08-05 04:56] DonJayamanne opened #11060 "When using input (), I can input multiple lines like IPython"
### Discussed in https://github.com/microsoft/vscode-jupyter/discussions/11059

<div type='discussions-op-text'>

<sup>Originally posted by **ydmykr** August  5, 2022</sup>
For example, when I run the code :
![image](https://user-images.githubusercontent.com/100815370/183001871-138b170f-e7a4-480a-af58-4fdc5cb59728.png)

I'll get three input boxes.

But if it's in .py or ipython I can use `"ctrl+en

[2022-08-05 08:32] torext commented on #11038
For me instead the duplicates appear in normal `.py` files once I open and run a Jupyter notebook, and with the folllowing settings:

`    "python.pylanceLspNotebooksEnabled": false,
    "jupyter.pylanceHandlesNotebooks": true,`

Setting `python.pylanceLspNotebooksEnabled` to `true` instead isn't an option currently due to the issue https://github.com/microsoft/pylance-release/issues/3126, but put

[2022-08-05 13:48] hookxs commented on #11038
This is probably the same issue as #10846

[2022-08-05 14:27] hookxs opened #11061 "Opening Interactive window breaks editor "sticky scrolling" functionality"
### Applies To

- [ ] Notebooks (.ipynb files)
- [X] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

In recent VS code there is a "sticky scrolling" feature which can be turned on via `"editor.experimental.stickyScroll.enabled": true` and it's actually pretty cool:-) However, when Interactive window is opened (and possibly closed, doesn't matter) this fea

[2022-08-05 16:16] rebornix commented on #11061
Not sure how an extension would affect sticky scroll in the core, moving to VS Code for now.

[2022-08-05 17:30] Sanjaykrishnamurthy opened #11062 "IntelliSense works in python file (.py) but not in notebook (.ipynb)"
### Applies To

- [X] Notebooks (.ipynb files)
- [X] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

I am using an ML library called Pandas. I tried using a function of it called df['col_name'].nunique().
I encountered 2 problems here.
When I typed df['col_name'] followed by dot, and then I pressed Ctrl+Enter. I got a lot of unrelated functions combined w

[2022-08-05 17:36] Sanjaykrishnamurthy commented on #11062
Additional comment. The IntelliSense works great in .py files. The same functionality is not so good in jupyter notebooks of VSCode.

[2022-08-05 22:24] #10749 closed

[2022-08-06 02:26] iShabdean opened #11732 "Summarize Jupyter input statement prompts and values in output cells"

[2022-08-06 08:06] xmurobi commented on #9118
pip install debugpy==1.6.0

Don't know why debugpy above 1.6.0 doesn't work in jupyter notebook but lower version no problem.

[2022-08-06 20:03] GF-Huang opened #11063 "Parameters completion popup not wrapping line"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

When I typing parameters, the popup window do not wrap line. I can't see all parameters without scroll it by mouse.

![image](https://user-images.githubusercontent.com/4510984/183264424-01b7ab1e-7d5e-403c-bf6d-3b2b2d583647.png)

### VS Code Version

1.70.0

[2022-08-07 12:47] worthy7 commented on #9418
I am also witnessing this issue but it is something to do with the executing code.

Here, both chart spaces updated after i ran the second cell, so bizzare. Before I ran the second cell, the first cell correctly displayed it's own chart. code above this is all still showing their correct charts. I think it's something to do with the way widgets are connected to which cell?

![image](https://user-i

[2022-08-07 23:50] kieferrm opened #11064 "Jupyter: Iteration Plan for August 2022"
This plan captures our work in **August**. We follow the same iteration cycle as [VS Code](https://github.com/microsoft/vscode/issues/157454). Although we plan for a whole iteration, we may not only ship at the end of an iteration but throughout.

## Plan Items
Below is a summary of the top level plan items.

Legend of annotations:

| Mark                | Description

[2022-08-08 01:20] mshajarrazip commented on #8376
Just had the same problem. Reinstalled vscode while keeping old configurations. And now it suddenly works again.

[2022-08-08 02:37] mmcguffi commented on #1308
Im assuming this didnt pass triage? :) I really appreciated this ability when I used Jupyter in my browser -- VScode support would be very helpful

[2022-08-08 05:47] dawnclaude opened #11065 "Matplotlib widget represantation broken after update"
After updating VS Code, the code that used to work and show interactive matplotlib plot with Jupyter IPyWidget does not work anymore.

Example cell:

[code]
This used to show the interactive widget plot, now it doesn't show anything when IPyWidget output representation is selected. Other representations like png work fine.

- VS Code Version: 1.70.0
- OS Version: Windows x64 10.0.18363

[2022-08-08 06:24] ydmykr commented on #10927
@DonJayamanne  The latter. I use the fish shell, and have the LD_LIBRARY_PATH set in the fish .config.

[2022-08-08 07:57] DonJayamanne commented on #11065
Thanks for filing this issue, I've tested this at my end and things work as expected.
Please could you:
* Run the cell, and then
* Capture all of the output from the `Jupyter` output panel (use the command `Jupyter: Show Output` to get to it) and upload that here
* Also open the developer tools using the command `Toggle Developer Tools`,
    * Then go into the console window
    * If there are any

[2022-08-08 14:00] chmendoza commented on #10887
Hi @greazer.  I am seeing this error in v1.70:

![image](https://user-images.githubusercontent.com/6568054/183432408-f104ac3a-920b-447a-bb82-fd82dbd0cc4c.png)

[code]

I am using

ipykernel                 6.9.1           py310hecd8cb5_0
jupyter                   1.0.0           py310hecd8cb5_8
jupyter_client            7.2.2           py310hecd8cb5_0
jupyter_console           6.4.3              p

[2022-08-08 14:36] chmendoza commented on #10887
It seems that bumping the ipykernel version solves the issue:

python                    3.9.13          h57e37ff_0_cpython    conda-forge
ipykernel                 6.15.1             pyh736e0ef_0    conda-forge
jupyter                   1.0.0            py39h6e9494a_7    conda-forge
jupyter_client            7.3.4              pyhd8ed1ab_0    conda-forge
jupyter_console           6.4.4

[2022-08-08 17:29] IanMatthewHuff commented on #10960
Hmm, kinda functioning as expected, but not optimal. Our method for seeing if we need to install python has always been having the Python extension, but not detecting any Python interpreters. I think we keep that logic, but we could also add in something to wait until interpreters have initially loaded before we show it.

[2022-08-08 17:41] amunger commented on #11062
partly a duplicate of https://github.com/microsoft/vscode-jupyter/issues/10159, you can try the `Enable Extended Kernel Completions` setting to see if that works better, although, as the linked issue noted, that may have a performance impact.

In your first screenshot, it looks like you haven't typed the `.` yet - after including that, the suggestions narrow down quite a bit. I assume that the int

[2022-08-08 17:47] amunger commented on #11063
Thanks for the issue - confirmed that this only occurs in .ipynb and not .py files

[2022-08-08 17:55] amunger commented on #11063
repros in previous version of stable core/ jupyter release

[2022-08-08 18:38] amunger commented on #10644
closing this since it has been over a month since the last request for info

[2022-08-08 18:38] #10644 closed

[2022-08-08 18:39] amunger commented on #10514
closing since it has been over a month since the info was requested

[2022-08-08 18:39] #10514 closed

[2022-08-08 18:41] amunger commented on #10736
we still need the logs to be able to troubleshoot this - `Jupyter: Show Output`.
Please post logs here or a new issue if this is still occurring.

[2022-08-08 18:41] #10736 closed

[2022-08-08 18:43] amunger commented on #10826
closing for now, let us know if this is still an issue after updating

[2022-08-08 18:43] #10826 closed

[2022-08-08 18:44] amunger commented on #10828
@burkeholland - are you able to provide the package versions that Rich requested?

[2022-08-08 18:51] amunger commented on #10956
I don't think we're pre-populating that input box anymore with that experiment (I cannot repro at all). @meganrogge or @rebornix - can you confirm if you're still seeing?

[2022-08-08 18:59] amunger opened #11067 "August 2022 Release"
# Prerequisites

-   Python 3.7 and higher
-   run `python3 -m pip install --user -r news/requirements.txt`

# Get the build green (Early in endgame week)

- [x] Ensure that any CI test failures have issues assigned to that area's owner.
- [x] Drive the build to green by fixing/disabling tests or pinging area owners to do so.

# Move open issues (Tuesday of VS Code endgame week, XXX XX)

- [x] Ask

[2022-08-08 19:16] DonJayamanne commented on #9909
TODO:
* Investigate starting just one process (no restart process)
* Investigate having a single interrupt process

[2022-08-08 21:06] minsa110 commented on #10552
Old flow is not worth looking into + new bits doesn't have the dummy kernel, so closing

[2022-08-08 21:06] #10552 closed

[2022-08-08 21:17] DonJayamanne commented on #10900
This isn't a flaky tet issue, the code is broken, we're not listing all of the kernels correctly.

[2022-08-08 21:26] AdamBajger opened #11083 "TQDM freezing sporadically"
Type: <b>Bug</b>

VS Code version: Code 1.70.0 (da76f93349a72022ca4670c1b84860304616aaa2, 2022-08-04T04:38:16.462Z)
OS version: Windows_NT x64 10.0.19043
Modes:

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 7 3700U with Radeon Vega Mobile Gfx   (8 x 2296)|
|GPU Status|2d_canvas: enabled<br>canvas_oop_rasterization: disabled_off<br>direct_rendering_display_compos

[2022-08-08 22:05] rebornix opened #11069 "GeoJSON can not be rendered"
Currently the Jupyter renderer can't render `application/geo+json` properly, but the renderer puts this mimetype in its support list so it will always be picked but show an error.

[code]

[2022-08-08 22:56] crazy4pi314 opened #11070 "No action on right-click on cell output"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

When you look at the output of a notebook cell, you can highlight text and links, but not right-click or open a context menu for the selection. URLs are automatically detected and highlighted, but cannot be clicked on to open (even with `ctl` and `alt `mod

[2022-08-08 23:34] minsa110 opened #11071 "hvplot not rendering"
## Environment data

-   VS Code version: 1.70.0
-   Jupyter Extension version (available under the Extensions sidebar): v2022.7.1002181843
-   Python Extension version (available under the Extensions sidebar): v2022.12.0
-   OS (Windows | Mac | Linux distro) and version: Windows 11
-   Python and/or Anaconda version: Python 3.10.4
-   Type of virtual environment used (N/A | venv | virtualenv | co

[2022-08-08 23:38] minsa110 opened #11072 "Unsupported kernel showing up"
## Environment data

-   VS Code version: 1.70.0
-   Jupyter Extension version (available under the Extensions sidebar): v2022.7.1002181843
-   Python Extension version (available under the Extensions sidebar): v2022.12.0
-   OS (Windows | Mac | Linux distro) and version: Windows 11
-   Python and/or Anaconda version: Python 3.10.4
-   Type of virtual environment used (N/A | venv | virtualenv | co

[2022-08-09 00:26] minsa110 opened #11073 "Conda env created doesn't show up"
## Environment data

-   VS Code version: 1.70.0
-   Jupyter Extension version (available under the Extensions sidebar): v2022.7.1002181843
-   Python Extension version (available under the Extensions sidebar): v2022.12.0
-   OS (Windows | Mac | Linux distro) and version: Windows 11
-   Python and/or Anaconda version: Python 3.10.4
-   Type of virtual environment used (N/A | venv | virtualenv | co

[2022-08-09 00:50] debonte commented on #10630
This is complete (see the 3 PRs linked above) and available for use if you have the latest release builds of Jupyter, Python, and Pylance.

[2022-08-09 00:50] #10630 closed

[2022-08-09 03:32] crazy4pi314 opened #11076 "Outline headers scroll to wrong place"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

When you open a notebook that has headings, there is an outline browser when the Explorer panel is open on the left.

<img width="1200" alt="image" src="https://user-images.githubusercontent.com/6486256/183557859-dd7011a0-897c-417f-8f97-30c0d0e88dd5.png">

[2022-08-09 03:57] minsa110 opened #11077 "Remote Jupyter server and kernel picker UX"
Define idealized UX for connecting to remote Jupyter servers

## Open questions

### 1. If we were to improve current UX/UI...

What does the user expect to see in the **kernel drop down list** when...
1. They're on VS Code desktop / vscode.dev / Codespaces?
2. They have N Python environments?
   a. Python not installed
   b. Only global Python envs (is "Global Env" descriptive enough?)
   c. Mult

[2022-08-09 07:38] ptoyip opened #11078 "Unknown kernel shown in jupyter notebook kernel selection part"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

Not sure what to do, therefore I came here to ask.
There's an unknown kernel shown in my kernel selection part (as shown in picture), There are no such path (/python) on my Mac and I don't know why and how this kernel is here. I've tried uninstall vscode,

[2022-08-09 16:10] crazy4pi314 opened #11079 "Can't select multiple notebook cells at once"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

It seems like I cannot select more than one notebook cell, either by clicking on the left padding/gutter next to the cell or by trying to select text in multiple cells with my mouse. In Jupyter Classic (and I think Lab) you can hold shift and select multip

[2022-08-09 16:11] crazy4pi314 commented on #11079
Possibly related to #7605 ?

[2022-08-09 16:12] crazy4pi314 commented on #11076
Related, code cells themselves should probably not be in the outline anyway: #9448

[2022-08-09 16:50] ArthurConmy commented on #10887
Also getting this @greazer on 1.69:

[code]

[2022-08-09 16:52] amunger commented on #7164
This is already complete for cells added from a python file, `kernelExecution` holds a map of `ExecutionQueue`s per `document`. Code executed from the input box does not go through the same queue since vscode core calls the execution, but that is accounted for in https://github.com/microsoft/vscode-jupyter/issues/10671

[2022-08-09 16:52] #7164 closed

[2022-08-09 16:56] amunger commented on #10294
should be fixed by the added teardown to ensure previous debuggers have been stopped

[2022-08-09 16:56] #10294 closed

[2022-08-09 16:58] amunger commented on #8719
should be fixed by added tear down to stop previous debug sessions

[2022-08-09 16:58] #8719 closed

[2022-08-09 16:59] IanMatthewHuff commented on #9640
## Flow for when our command is visible
This scenario is for picking when we should display our env creation command in the kernel picker. Note this is explicitly checking the pip/venv use case. And early second experimentation step will be adding in Conda support as well. Some cases (such as using Micromamba for installs instead of installed python) are out of current experiment scope.
[code]

##

[2022-08-09 17:13] amunger commented on #7611
Still one of our flakiest tests, but possibly a different issue. In failure cases, we can see in the logs a disconnect message is sent, but we no longer hear anything on the debug channel as it waits for 60 seconds:

[code]

whereas successful runs will have a response indicating success

[code]

[2022-08-09 17:18] crazy4pi314 opened #11080 "Kernels on remote computes listed multiple times"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

I am using the notebook/environment from here: https://github.com/claudiaregio/data-science

What it says in the title, there are a number of conda envs on my Azure ML remote compute, and when I launch into VS Code from the Azure ML Studio notebook interfa

[2022-08-09 18:18] IanMatthewHuff opened #11082 "Counter in dataviewer"
### Discussed in https://github.com/microsoft/vscode-jupyter/discussions/11081

<div type='discussions-op-text'>

<sup>Originally posted by **KrisvanderMast** August  9, 2022</sup>
When using the dataviewer in Jupyter notebook I can easily filter. That's great but I can't see how many records remain of the total when filtering. For example if I have 30.000 records displayed and filter on a column

[2022-08-09 20:45] minsa110 commented on #9640
#### My takeaways per our quick sync today
- The goal for August should be to implement the "rough plan" section as a working prototype (but without focusing on shipping)
- Expand the diagram to capture a broader picture for the experience (e.g. update the flow diagram to include conda, poetry, pyenv, etc.)

#### A few other open questions
- If this is about an **opinionated** way of setting users

[2022-08-09 20:51] IanMatthewHuff commented on #9640
Possible flow for Conda => Workspace association. Since we can't just use folder location like with venv instead keep a workspace => env mapping.

If you have previously mapped this workspace to a named conda env, use that. If not, allow the create option. Only before creating, the first option is just to select and existing named Conda env. If that is not the one you want, allow a create option.

[2022-08-09 21:13] DonJayamanne commented on #11080
Thanks for reporting this issues, however the screenshot shared is that of the `Python Extension`, its the list used to select an interpreter.
The kernel picker is displayed only when you have a notebook opened, please confirm the issue is with the kernel picker and not the interpreter picker.

If it is with the kernel picker, please could you upload a screenshot of the kernel picker from a ntoebo

[2022-08-09 21:19] DonJayamanne commented on #11078
Thanks for reporting this issue & sorry about the duplicate kernels displayed, please could you:
* Open the user settings.json file and add the following in there
[code]
* Reload VS Code
* Open a notebook
* Confirm the unnecessary kernels are displayed in there
* Open the `Jupyter` output panel using the command palette `Jupyter: Show Output`
* Copy all of the output from the above output panel an

[2022-08-09 21:21] DonJayamanne commented on #11073
@amytnguyen01
* Please could you confirm the environment doesn't appear even after you reload VS Code.

[2022-08-09 21:28] DonJayamanne commented on #11071
@minsa110 please could you share the notebook for this so I can test this at my end.

[2022-08-09 22:21] greazer opened #11084 "Can't connect to Azure ML Jupyter server (with new remote experience)"
1. Ensure you have the new remote experience enabled:  "jupyter.showOnlyOneTypeOfKernel": true,
2. Open a notebook.
3. Run the "Specify Jupyter Server for connections" command.
4. Choose Azure ML Compute Instances.

You'll get this modal dialog. I should be presented with a list of subscriptions.

<img width="588" alt="image" src="https://user-images.githubusercontent.com/11685408/183771952-129c44

[2022-08-10 01:01] DonJayamanne commented on #10182
Closing as a duplicate of #9909 We will have a single process for interrupting Python kernels & that will be tracked in #9909

[2022-08-10 01:01] #10182 closed

[2022-08-10 03:00] Sanjaykrishnamurthy commented on #11062
Thanks for the reply.
I am still not able to get the correct suggestions. I have attached a video
of it.
For set function, it was working fine but for pandas it wasn't working.
Can you help me how to download jupyter logs as I searched on internet but
was not able to find how to do it.

On Mon, Aug 8, 2022 at 11:11 PM Aaron Munger ***@***.***>
wrote:

--
Regards,
Sanjay

[2022-08-10 04:18] ptoyip commented on #11078
Not sure if I do it correctly for the `Jupyter: Show Output` part, as when I type it in the command plaette, it saids `zsh: command not found: Jupyter:`
But I added the `"jupyter.logging.level": "verbose",` into the setting and here's the log when I try to load the unnecessary kernel on a newly created notebook.
[code]

Sorry if I did anything wrong, I've make sure I clear all output log first and

[2022-08-10 06:37] DonJayamanne commented on #10201
I'm no longer able to repro this, hence closing this for verfication.
Possible it has been fixed with some other issue or the latest fixes

[2022-08-10 06:37] #10201 closed

[2022-08-10 07:04] DonJayamanne commented on #11071
[panel.ipynb.zip](https://github.com/microsoft/vscode-jupyter/files/9297598/panel.ipynb.zip)

[2022-08-10 07:12] DonJayamanne commented on #11071
@minsa110
I've tried the notebook you gave:
* I'm getting the plot for the code `holo_df.hvplot.scatter('bill_length_mm', 'bill_depth_mm')`
* However, when you run the exact same notebook in Jupyter Notebook, it doesn't work, i get the exact same output as you do. I.e. the plot is not rendered in Jupyter notebook either.

Please could you:
* Test running the above notebook in Jupyter notebook & Ju

[2022-08-10 07:19] DonJayamanne commented on #11078
Thanks, let me check this info and get back to you.

[2022-08-10 07:23] DonJayamanne commented on #11083
I'm sorry you are running into issues,
Please could you provide the following information
* Output from the `Jupyter` panel (use the command palette command `Jupyter: Show Output` to get this output)
* Check if there are any errors in the console window using the command `Toggle Developer Tools`.
* What version of TQDM are you using
* Do you run into similar issues wehn running this locally?

[2022-08-10 15:48] amunger commented on #11062
Thanks for the video, that looks quite a bit worse than I was thinking.

To get the jupyter extension logs, in vscode, just open the command pallet (`ctrl+shift+p`) and run `Jupyter: Show Output`. Copy the contents from that output window and paste it into this issue.

[2022-08-10 16:08] Sanjaykrishnamurthy commented on #11062
I'm not sure which part is helpful, so attaching the entire log contents after running the two cells immediately after opening VSCode.

Visual Studio Code (1.70.0, undefined, desktop)
Jupyter Extension Version: 2022.7.1002181843.
Python Extension Version: 2022.12.0.
Workspace folder d:\LONG_TAIL\d_SBRS-main
info 21:35:49.52: ZMQ install verified.
User belongs to experiment group 'jupyterTestcf'
Us

[2022-08-10 16:39] sbland commented on #10887
I still get this error occasionally and need to switch kernel then switch back again. Mostly happens when opening a new vscode window

[2022-08-10 16:40] crazy4pi314 commented on #11080
Sorry for that, I was making lots of screenshots and uploaded the wrong one :( I have added one of the kernel picker, and wanted to also show the list of envs the Python Extension found by comparison. Let me know if there is anything else I can add!

[2022-08-10 16:45] DonJayamanne opened #11089 "Flaky IW tests"
https://github.com/microsoft/vscode-jupyter/runs/7761016363?check_suite_focus=true

![Screen Shot 2022-08-11 at 02 43 51](https://user-images.githubusercontent.com/1948812/183966584-e9fba33b-322c-4d5b-953f-759f198267bd.png)
[testresults.x1.ipynb.zip](https://github.com/microsoft/vscode-jupyter/files/9302238/testresults.x1.ipynb.zip)

[2022-08-10 17:21] amunger opened #11090 "Use public APIs for test helpers"
Some test helpers, such as `submitFromPythonFile`, use internal APIs to perform the described action rather than the commands that a user would go through.

We should be able to update these to use the public APIs available which would bring the tests closer to real world scenarios and possibly help with stability and performance.

[2022-08-10 17:24] amunger commented on #10892
The first event sent in a test run has a dynamic import error from within the vscode telemetry package, and could be caused by an issue with mocha https://stackoverflow.com/questions/64261239/mocha-tests-with-esm-support-for-native-es6-modules

I haven't been able to fix this with the solutions from that post, but we could look into alternatives with downloading test results artifacts from the git

[2022-08-10 17:34] DonJayamanne opened #11092 "Improved kernel error messages for users"
Related issues
* [x] #1110
* [x] #8786
* [x] #10478
* [x] #10797

[2022-08-10 17:58] minsa110 commented on #11071
It actually doesn't work on any of these...:

| Tool | Works? |
| --- | --- |
| VS Code | No<br>- VS Code version: 1.70.0<br>- Jupyter version: v2022.7.1002181843 |
| VS Code Insiders | No<br>- VS Code version: 1.71.0-insider<br>- Jupyter version: v2022.8.1002241042 |
| Jupyter classic | No<br>![image](https://user-images.githubusercontent.com/10833267/183924820-f9ca728d-e6a5-4ba2-9787-33e4b960488

[2022-08-10 18:22] #9828 closed

[2022-08-10 18:22] #10568 closed

[2022-08-10 19:18] Timsaur commented on #4573
would be a sick feature to have

[2022-08-10 19:21] DonJayamanne opened #11095 "Unable to add multiple plots one in each tab (using Tab widget)"
When using the tab widget we do not display the widgets in the tabs, instead they are displayed as separate items outside the tab control.

[2022-08-10 20:28] #11084 closed

[2022-08-10 23:14] alexkyllo commented on #11077
Here are my thoughts on this UX:

When I click to select a kernel, I see a very long list (this isn't all, I need to scroll down) that I think includes every Python binary in every virtual environment for every project I've ever worked on, on this machine. It's hard and I'm conflicted about this--I do like how it shows them alphabetically by name, shows the file location of the Python binary, and

[2022-08-10 23:20] minsa110 commented on #11077
Adding some additional comments from our users on specific pain points to address--

**Need better indication of remote connection, including updating the folder view in the context of remote**
- "It is very unclear to me if a remote connection is established. Would love to have it like in the browser, ie you can paste the jupyter link somewhere and then it directly opens the folder view everyone

[2022-08-11 04:53] yeokwangeun opened #11101 "Notebook Not Activated (TIMEOUT) using Remote Kernel"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

Hi.

There are two development servers I am using right now.
1) login node where VS code remote development is activated
2) gpu node where remote jupyter notebook is activated

I used to select remote jupyter kernel in gpu node, and use jupyter notebook in

[2022-08-11 07:14] jhyland01 opened #11102 "VScode fails to start jupyter"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

Stopped working a couple days ago I think after a VScode update. If I just try to run any cell in a jupyter notebook I get the below error. It's the same for all kernels. Jupyter otherwise works fine from the command line. Also tried the pre-release jupyte

[2022-08-11 07:36] DonJayamanne commented on #11102
Thanks for filing this issue, and I'm sorry about this issue.
Looks like some package seems to have been installed into some conda environment that seems to be causing this issue.

* You could confirm this is a problem with the current update, by just reverting to the previous version and checking whether it works in the previous version or not.
* Please could you provide all of the output from th

[2022-08-11 07:47] DonJayamanne commented on #11071
ha ha...

[2022-08-11 07:48] jhyland01 commented on #11102
Great thanks,
I installed jupyter_server then reselected the environment in the 'Jupyter: Select Interpreter to Start Jupyter Server' command and we seem to be back in business!
Closing as fixed.

[2022-08-11 07:48] #11102 closed

[2022-08-11 17:23] #10595 closed

[2022-08-11 17:53] DonJayamanne commented on #11015
Closing for now, if this issue persists, please feel free to re-open this or create a new issue

[2022-08-11 17:53] #11015 closed

[2022-08-11 17:55] DonJayamanne commented on #10900
@IanMatthewHuff I tried to enable this test and found that the code was actually buggy, attempted fix is here https://github.com/microsoft/vscode-jupyter/pull/11053

Basically today we can run into situations where the kernels on disc are not shown.
The problem is with the new code (changes as a result of) written to display the new kernel picker ux.
Basically we have code that will fetch the cont

[2022-08-11 17:56] kieferrm commented on #11077
Taking a step back. We show potentially a lot of information to users and it feels to me that we need to help users in understanding what they see and how to decide. Here's my mental model on what decisions a user has to take:

[code]

From my point of view it would make sense to translate that decision making progress into a UI that makes sure that the user understands what decisions they make.

[2022-08-11 18:36] DonJayamanne commented on #1378
Hi everyone, today you can manage some of the existing kernels (shut them down) using the following extension
https://marketplace.visualstudio.com/items?itemName=ms-toolsai.vscode-jupyter-powertoys

[2022-08-11 20:44] DonJayamanne commented on #8786
I don't think we need to do anything here, the kernel starts up successfully, cell executilon fails due to an old/invalid package.

[2022-08-11 20:44] #8786 closed

[2022-08-11 20:57] DonJayamanne commented on #10797
Closing this issue as its been over 4 weeks, since the information was requested.
We'll be happy to reopen the issue when the requested information has been provided.

[2022-08-11 20:57] #10797 closed

[2022-08-11 21:27] DonJayamanne opened #11105 "Remove the `Restarting Kernel` status bar indicator"
Today when we start, interrupt and we're re-connecting to kernels we display a notification (on the bottom right).
However when restarting a kernel we display the progress indicator in the status bar.

**Suggestion:**
Change the progress notification from statusbar to a regular Notification

[2022-08-12 00:58] roblourens opened #11108 "Debugger architecture review"
Review the organization of the debugger code. https://github.com/microsoft/vscode-jupyter/wiki/Source-Code-Organization

Could include https://github.com/microsoft/vscode-jupyter/issues/10638 and linked issues

Also see https://github.com/microsoft/vscode-jupyter/issues/7057

[2022-08-12 02:27] #9909 closed

[2022-08-12 11:36] tony-maynard opened #11110 "Fails to load html scripts, works in lab, not in vscode and jupyter notebook"
## Environment data

-   VS Code version: 4.5.1 (and below)
-   Jupyter Extension version (available under the Extensions sidebar): v2022.5.1001610507
-   Python Extension version (available under the Extensions sidebar): v2022.12.0
-   OS (Windows | Mac | Linux distro) and version: Linux
-   Python and/or Anaconda version: Python 3.9.7
-   Type of virtual environment used (N/A | venv | virtualenv

[2022-08-12 15:34] minsa110 commented on #11077
Thanks for structuring the conversation with the flow diagram for user's decision-making process!

Quick follow up q: what does it mean by "reusing" an environment in the diagram? That the user wants to use the same environment / kernel across different files in the workspace?

---

From my understanding, this is not abnormal for data scientists working in teams. For example, a data scientist woul

[2022-08-12 15:39] amunger commented on #11110
Using the same jupyter server doesn't actually mean that the same kernel is being used, and it looks like you may be using a different one in each case:
![image](https://user-images.githubusercontent.com/2019016/184390187-ed579023-7523-404f-ba8c-9a346d325747.png)

Can you run this cell in each notebook to check if they are pointing to the same executable:

[code]

[2022-08-12 15:46] tony-maynard commented on #11110
Hey @amunger, they both return `/opt/conda/envs/sig-env/bin/python`. We set it in vscode using `python.defaultInterpreterPath`

[2022-08-12 15:55] minsa110 commented on #11077
https://www.figma.com/file/TfzHDYTRoLROZU0ddRH1ow/Kernel-Picker?node-id=2%3A261

per @misolori

[2022-08-12 17:09] amunger commented on #11110
Did you need to install something to get it to work in the top screenshot? Is that jupyter lab?
I'm getting the same uncaught reference error in both Jupyter notebooks and lab.

[2022-08-12 17:11] amunger commented on #3135
latest issue is just dealing with exporting a notebook, not Interactive window

[2022-08-12 17:12] ravikumargrk commented on #4475
I really need this

[2022-08-12 17:26] amunger commented on #10828
not enough info, closing for now

[2022-08-12 17:26] #10828 closed

[2022-08-12 17:26] #10806 closed

[2022-08-12 17:27] amunger commented on #10777
not enough info, closing for now

[2022-08-12 17:27] #10777 closed

[2022-08-12 17:29] rebornix commented on #9514
Let's track in upstream issue https://github.com/microsoft/vscode/issues/124551

[2022-08-12 17:29] #9514 closed

[2022-08-12 17:37] rebornix commented on #10455
They are now being tracked separately.

[2022-08-12 17:37] #10455 closed

[2022-08-12 17:39] amunger commented on #8487
seems to be working now

[2022-08-12 17:39] #8487 closed

[2022-08-12 17:41] #8973 closed

[2022-08-12 17:55] amunger commented on #7276
does not seem to repro, possibly fixed at some point

[2022-08-12 17:55] #7276 closed

[2022-08-12 18:17] IanMatthewHuff commented on #10300
Note: Related to AML extension.

[2022-08-12 18:20] IanMatthewHuff commented on #9640
Note current flow like so for venv. Note a few things:
1. Notifications are not hooked up correctly, the status bar / progress sections should have more in it
2. A few bits of ipykernel loading and connection were cut, the whole scenario takes a bit longer
3. This was an attempt at "lowest UI" possible. There is already an option to select the python interpreter to create with, and also should pos

[2022-08-12 19:56] amunger opened #11111 "Interactive Window kernel picker does not change when switching to remote mode"
Type: <b>Bug</b>

1. turn on new remote experience: `"jupyter.showOnlyOneTypeOfKernel": true,`
2. create an interactive window
3. go to the kernel picker and connect to a jupyter server
4. Select a kernel
:bug: Selected kernel did not change

:bug: going from remote to local, a local kernel is shown in the kernel picker, but not necessarily the one selected, and running a cell will ask you to pick

[2022-08-12 19:58] amunger commented on #1605
Closing since this seems to behave as expected now, unless the new experiment is turned on, and I created https://github.com/microsoft/vscode-jupyter/issues/11111 for that scenario

[2022-08-12 19:58] #1605 closed

[2022-08-12 20:00] amunger commented on #1470
A copy to clipboard feature was added to the renderer in https://github.com/microsoft/vscode/issues/129880

[2022-08-12 20:00] #1470 closed

[2022-08-12 20:16] #10478 closed

[2022-08-12 20:31] amunger commented on #1615
This seems to be working correctly now after trying the original repro steps on my Windows machine. Let us know if you're still having issues

[code]

[2022-08-12 20:31] #1615 closed

[2022-08-12 20:48] IanMatthewHuff commented on #10846
@amunger Think this is your area due to IW. But if this is a general language server issue go ahead and move to me.

[2022-08-12 20:49] IanMatthewHuff commented on #10779
@rebornix This would be added in our keymapping file I assume and is Jupyter specific, so assigning myself.

[2022-08-12 21:00] amunger commented on #1490
The interactive window can be exported as HTML, is that the expectation here, or is there a reason to want an HTML file that only has cell inputs without any of the results?

[2022-08-12 21:05] amunger commented on #1491
We have a setting for this `Jupyter: Interactive Window Mode` - multiple/single/per file

[2022-08-12 21:05] #1491 closed

[2022-08-12 21:07] amunger commented on #1469
https://github.com/microsoft/vscode-jupyter/issues/1240 requests going the other direction. We'd might need both at once anyway

[2022-08-12 21:08] #9825 closed

[2022-08-12 21:11] #9472 closed

[2022-08-12 21:12] IanMatthewHuff commented on #9437
Kinda think this is more a variable view issue versus IW, so assigning myself.

[2022-08-12 21:13] IanMatthewHuff commented on #9336
This is tracked by other getting started aggregate issues. Closing.

[2022-08-12 21:13] #9336 closed

[2022-08-12 21:17] #8905 closed

[2022-08-12 21:33] amunger commented on #1605
and for the multi-root issue: https://github.com/microsoft/vscode-jupyter/issues/5185

[2022-08-12 21:42] IanMatthewHuff commented on #6353
This was a duplicate of a previous issue that I cleaned up. The new logic is only to show this message if there is an active notebook or interactive window python kernel. In which case the warning seems reasonable.

[2022-08-12 21:42] #6353 closed

[2022-08-12 21:45] IanMatthewHuff commented on #5483
Resolved via https://github.com/microsoft/vscode/issues/121129

[2022-08-12 21:45] #5483 closed

[2022-08-12 21:46] amunger commented on #7198
dupe of https://github.com/microsoft/vscode-jupyter/issues/7758

[2022-08-12 21:46] #7198 closed

[2022-08-12 21:57] IanMatthewHuff commented on #1468
Dupe of #1307. Currently implemented in the Jupyter PowerToys extension.

[2022-08-12 21:57] #1468 closed

[2022-08-13 02:37] yeokwangeun commented on #11101
Thank you for the comment. I can't figure out why but now the jupyter notebook works fine. I guess there were some issues in my servers. Anyway, thank you for you help!

[2022-08-13 02:37] #11101 closed

[2022-08-13 02:43] DonJayamanne commented on #10638
personally think a universal installer is over kill, best to walk through the user workflow and figure this out.
eg we could even prompt users to install manually or automate it without the debugger, eg sometimes installed packages won't be available in the active debug session, making this whole exercise pointless. meaning we could just ask the user to restart the debugger to get the latest packa

[2022-08-13 07:49] zpincus opened #11112 "please ignore"
Please ignore -- this issue was entirely PEBCAK. Another configuration changed right around when I last updated vscode, breaking pylance, and I assumed incorrectly it was the vscode update.

[2022-08-13 08:10] #11112 closed

[2022-08-13 09:40] liuzj039 opened #11113 "When there are a large number of figures, the step of hashing output can take a long time."
Thanks the developers for providing the same experience as native jupyter in vscode.

I recently found that when the notebook is large enough and has many figures. After executing the cell and getting the result, it will pending for a few seconds before executing the next cell. after checking the logs, it seems that the hash output is taking some time.
These times are tolerable, but a little annoy

[2022-08-13 09:45] liuzj039 commented on #11113
I am not sure if there is a way to cancel the hash. Because when I execute two cells quickly, the hash output is not triggered. But if I stay for about 1 second, it will start hashing the output thus causing a pending.

[2022-08-14 05:43] Xiantongc612 commented on #1490
Hello, @amunger.
The story of this issue is like, as a developer, I want to export my file as a HTML file, so that it can be used as document.
Currently, the thing I do is like open the interactive environment, restart the kernel, and run all codes.
And sometimes I accidently run the code in a different (maybe trouble-making) order or some hidden variable are set in the interactive environment.
Th

[2022-08-14 05:53] MarcSkovMadsen opened #11123 "DataFrame Explorer with interactive plots"
When working in the Jupyter interactive window I often want to explore my dataframes variable using the dataframe viewer.

![image](https://user-images.githubusercontent.com/42288570/184524361-9fb87da6-ce1f-4efa-8711-686360c9529b.png)

This has some power. But I would like more power including the ability to quickly explore plots via drag and drop similarly to the extension [Data Preview](https://

[2022-08-14 06:15] oriakhan opened #11115 "info 23:15:34.492: Execute Cell 0 c:\Users\SMART LAPTOPS\Desktop\latex doc\khan.ipynb info 23:15:35.851: Cancel all remaining cells true || Error || undefined info 23:15:35.852: Cancel pending cells info 23:15:35.852: Cell 0 executed with state Error"
## Environment data

-   VS Code version: XXX
-   Jupyter Extension version (available under the Extensions sidebar): XXX
-   Python Extension version (available under the Extensions sidebar): XXX
-   OS (Windows | Mac | Linux distro) and version: XXX
-   Python and/or Anaconda version: XXX
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): XXX
-   Jupyter server running

[2022-08-14 20:21] DonJayamanne commented on #11115
I'm closing this issue due to the lack of any information.
Please could you fill in the requested information and I'll be happy to re-open this issue, or please feel free to create a new issue with the missing information such as version, logs, etc.

[2022-08-14 20:21] #11115 closed

[2022-08-14 20:22] DonJayamanne commented on #1414
# Solution

Display a warning about unsupported version of ipywidgets and recommend updating this.
Do this when ipywidgets is used.

[2022-08-14 20:28] DonJayamanne commented on #1498
@damienrj I'm sorry we didn't get to you on this issue for a while.
I'm certain you can now setup the env  variables in the `.env` file and this will work.
If it does not work, please feel freel to file an an issue or re-open this and we'll look into this.
Once again, i'm sorry we never got back to you on this.

[2022-08-14 20:28] #1498 closed

[2022-08-14 20:36] DonJayamanne commented on #11113
Thanks for filing this issue

The hashing does not cause the delay in execution of the cell at all. To be more clear, the hashing does to cause the cell to go into a `pending` state. the hash is a simple and quick operation.

It is more likely that the cells are slow to execute because of the large number of outputs and thats whats causing the delay in execution.

I.e. if you look at the logs, you

[2022-08-14 20:47] DonJayamanne commented on #3987
From what I can tell this is now working in VS Code.
Please feel free to re-open this issue or file an new issue.
I believe this was fixed last month as part of the other IPYWidget issues  https://github.com/Microsoft/vscode-jupyter/issues/9503

[2022-08-14 20:47] #3987 closed

[2022-08-14 20:48] DonJayamanne commented on #5041
@jcjaskula Please could you test this in the latest version of VS Code & Jupyter Extesnion, I believe we've addressed this in the new version.

[2022-08-14 20:49] DonJayamanne commented on #5150
Closing this as I don't think this is required anymore, if we do need such a thing then we can re-visit the requirements

[2022-08-14 20:49] #5150 closed

[2022-08-14 20:56] DonJayamanne commented on #5322
Closing this issue as this is how Jupyter works, and we don't have any plans to provide some functionality that would work differently in VS Code compared to Jupyter, specially when it comes to execution of code against a kernel.

This is something that's handled natively by the IPython kernel, hence would require changes upstream

[2022-08-14 20:56] #5322 closed

[2022-08-14 21:01] DonJayamanne commented on #8223
Closing this issue as its been a while since this was reported, and we havent had others with similar issues.
Also looks like thiss is a problem outside VS Code as well,

[2022-08-14 21:01] #8223 closed

[2022-08-14 21:07] DonJayamanne commented on #6884
This will be automated,

[2022-08-14 21:07] #6884 closed

[2022-08-14 21:08] DonJayamanne commented on #7123
Closing this issue as no one has brought this up

[2022-08-14 21:08] #7123 closed

[2022-08-14 21:09] DonJayamanne commented on #8225
Thanks for the suggestion, however its been over a year and no one else has up-voted this issue.
We prioritize our issues based on number of upvotes and impact of the issue, e.g. if its a bug or the like.
Closing this issue for now, however if other up-vote or create similar issues, I'll be happy to re-open this issue or make mention about the fact that its been requested here as well.

[2022-08-14 21:09] #8225 closed

[2022-08-14 21:17] DonJayamanne commented on #7487
Note: We might be able to get this working with the new when clauses added by @roblourens to vscode core.

[2022-08-14 21:18] DonJayamanne commented on #8229
Its been a while since this was reported and no one has filed a similar issue nor upvoted this, hence closing this for now

[2022-08-14 21:18] #8229 closed

[2022-08-14 21:26] DonJayamanne commented on #8470
Upstream issue has been resolved

[2022-08-14 21:26] #8470 closed

[2022-08-14 21:30] DonJayamanne commented on #8635
# Solution

* When loading nb without widget state give pref to other mime types
* When executing a cell, use current mime type priority setting

[2022-08-14 21:36] DonJayamanne commented on #9093
@DavidMChan
Please could you provide more information on your current setup (with S3) and workflow on how you use S3 today and then view the logs.
Is this something for a remote Jupyter server running on AWS, and then you use VS Code to connect to that or the like.
Basically I"m trying to understand your setup and workflow today to get a better understanding on how and what needs to be changed to

[2022-08-14 21:40] DonJayamanne commented on #9701
Closing this issue for now. as I do'nt think there's anything that needs to be done here

[2022-08-14 21:40] #9701 closed

[2022-08-14 21:45] DonJayamanne commented on #10129
This has been resolved, as the request for access to CDN is now a modal dialog.

[2022-08-14 21:45] #10129 closed

[2022-08-14 21:48] DonJayamanne opened #11117 "Support loading notebooks Widget state"
* When we open a notebook with saved widget state, ensure we render this

We had an issue for this, unable to find the old duplicate issue, we have this commented in the code though.

[2022-08-14 21:48] DonJayamanne opened #11118 "Support saving notebooks with widget state"

[2022-08-14 22:01] DonJayamanne commented on #10452
Thanks for filing this issue, however I can repro the exact same issue in both Jupyter Notebook and Jupyter Lab
Closing this issue as its not specific to VS Code.

@Fred-Wu please could you double check this in Jupyter lab/notebooks, from my end, I can easily repro the exact same behaviour out side vs code (i.e. in jupyter lab/notebook)

[2022-08-14 22:01] #10452 closed

[2022-08-14 22:04] DonJayamanne commented on #10642
Closing this in favor of https://github.com/microsoft/vscode-jupyter/issues/10638

[2022-08-14 22:04] #10642 closed

[2022-08-14 22:49] DonJayamanne commented on #10691
@Sebastian-Belkner
Please could you run a notebook with just single cell containing the following code & let me know what you get
[code]

[2022-08-14 22:50] DonJayamanne commented on #10718
Closing this issue as its been over 4 weeks, since the information was requested.
We'll be happy to reopen the issue when the requested information has been provided.

[2022-08-14 22:50] #10718 closed

[2022-08-14 22:50] DonJayamanne commented on #10757
@thistlillo have you managed to get the logs as per the request here https://github.com/microsoft/vscode-jupyter/issues/10757#issuecomment-1193073360

[2022-08-14 22:54] DonJayamanne commented on #10217
Closing this issue as exporting this even in Jupyter notebooks produces the exact same behaviour

[2022-08-14 22:54] #10217 closed

[2022-08-14 22:56] DonJayamanne commented on #10927
@ydmykr
Please could you:
* Exit VS Code completely (ensure you do not have any vscode process running)
* Start vscode,
* Open a notebook and print the value of the env variable `LD_LIBRARY_PATH` using python code
[code]

Let me know if that works
Please ensure you are using the latest version of the Jupyter Extension and latest version of VS Code, we've fixed a few issues with regards to loading

[2022-08-14 22:58] DonJayamanne commented on #10956
Re-assigning as this is a UI issue with regards to remote kernel connection and I believe this falls under kernel selection UI.

[2022-08-14 23:00] DonJayamanne commented on #10969
@ameyb22 do you happen to have some of the Azure ML extensions installed?
If you do, please could you disable all of the other non-essential extensions such as the Azure related extensions.
Also, please could you update to the latest version of the Jupyter extesnion (2022.7.xx), as we've fixed a few auth related issues in there.

Let me know how this goes.

[2022-08-14 23:02] DonJayamanne commented on #11010
The problem here is, the active kernel is not switched from one notebook to the other, hence the old kernel id destroyed and a new one started for the newly renamed notebook.

[2022-08-14 23:07] DonJayamanne commented on #11031
@mariosconsta
I've tried running this at my end, both on a Mac and Windows machine and have no problems.

Can you try the following:
* Step 1
    * Run the notebook in Jupyter notebooks, save the notebook and upload that saved notebook here.

    * Run the above notebook in Jupyter notebooks as well , save the notebook and upload that saved notebook here.
* Step 2
    * Exit vscode completely

[2022-08-14 23:11] DonJayamanne commented on #11060
Nothing to do here, as this is how Jupyter Notebooks/Lab works as well.

[2022-08-14 23:11] #11060 closed

[2022-08-14 23:26] DonJayamanne commented on #11095
Works for Matplot lib

[code]

**This does not work (when using plotly), works in Jupyter Notebook**
[code]

**This works with plotly**
[code]

[2022-08-14 23:36] DonJayamanne commented on #1379
Closing this issue as the functionality requested in the original comment of this issue has been provided by the Jupyter Power Toys extension, see here https://github.com/microsoft/vscode-jupyter-powertoys#kernel-management-panel

[2022-08-14 23:36] #1379 closed

[2022-08-14 23:47] DonJayamanne commented on #1445
Thanks for filing this feature requets, howver this has been marked for deprecation and hasn't received any new upvotes.
This feature is available in Juptyer Notbeooks via the payloads feature which has been marked for deprecation, see here https://jupyter-client.readthedocs.io/en/stable/messaging.html#payloads-deprecated

Also the current behaviour in VS Code lines up with that of Jupyter Labs.

[2022-08-14 23:47] #1445 closed

[2022-08-14 23:48] DonJayamanne commented on #1586
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/10765

[2022-08-14 23:48] #1586 closed

[2022-08-14 23:50] DonJayamanne commented on #1609
@ananth1996
Is this still a problem with the latest version of the Jupyter extension and VS Code?

[2022-08-15 00:04] DonJayamanne commented on #1714
@michaelaye apologies for not getting back to this issue.
I can repro this at my end and will look into this soon.

[2022-08-15 00:40] DonJayamanne commented on #1670
Re-assigning to Ian as this deals with the entire workflow of kernel selection UI, remote to local, etc.

[2022-08-15 00:41] DonJayamanne commented on #1695
Closing this issue as we haven't had enough upvotes to this issue

[2022-08-15 00:41] #1695 closed

[2022-08-15 00:43] DonJayamanne commented on #1309
Closing this issue , as this now works as expected.
Please feel free to re-open this issue or re-create a new one and we'll be happy to look into this.

[2022-08-15 00:43] #1309 closed

[2022-08-15 00:45] DonJayamanne commented on #4292
Closing this as we rely on Python extension to do this.

[2022-08-15 00:45] #4292 closed

[2022-08-15 00:48] DonJayamanne commented on #4572
Closing as this has been completed

[2022-08-15 00:48] #4572 closed

[2022-08-15 00:48] DonJayamanne commented on #4586
Closing this issue as there haven't been any upvotes on this feature request.

[2022-08-15 00:48] #4586 closed

[2022-08-15 00:50] DonJayamanne commented on #4643
Closing as a duplicate of https://github.com/microsoft/vscode-jupyter/issues/300

[2022-08-15 00:50] #4643 closed

[2022-08-15 00:51] DonJayamanne commented on #4756
Assigning to Rob due to the fact that Rob has worked a lot in this space, @roblourens please feel free to un-assign if incorrect.

[2022-08-15 00:53] DonJayamanne commented on #4998
Works as expected today

[2022-08-15 00:53] #4998 closed

[2022-08-15 00:56] DonJayamanne commented on #5141
We track this elsewhere

[2022-08-15 00:56] #5141 closed

[2022-08-15 00:57] DonJayamanne commented on #5189
Closing this as we haven't received any upvotes on this feature request.

[2022-08-15 00:57] #5189 closed

[2022-08-15 00:57] DonJayamanne commented on #5192
Closing this as this was primarily requested because an internal team was having trouble getting ipywidgets working.
I.e. it was merely a work around.

[2022-08-15 00:57] #5192 closed

[2022-08-15 00:58] DonJayamanne commented on #5293
Not required, as we have improved the error handling of kernel failures.

[2022-08-15 00:58] #5293 closed

[2022-08-15 01:06] DonJayamanne commented on #1131
Closing this issue for now, as we haven't got any plans for this yet.

[2022-08-15 01:06] #1131 closed

[2022-08-15 01:08] DonJayamanne commented on #6618
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/10765

[2022-08-15 01:08] #6618 closed

[2022-08-15 01:13] DonJayamanne commented on #6803
@pagnani are you still running into the same issues with the latest version of the Jupyter extension?

[2022-08-15 01:19] DonJayamanne commented on #8122
Closing this for now as this will be a little difficult to implement and I believe we have improved our handling or kernel failures.

[2022-08-15 01:19] #8122 closed

[2022-08-15 01:20] DonJayamanne commented on #9002
We have the necessary tests to ensure the daemon works. Hence clsoing this issue

[2022-08-15 01:20] #9002 closed

[2022-08-15 01:22] DonJayamanne commented on #9134
Assigning to @IanMatthewHuff
The requirement here is:
* If user selects a 32bit conda env on 64bit machine, they should get a warning or we should not recommend this kernel or the like

[2022-08-15 01:23] DonJayamanne commented on #9609
Closing this for now, as the wiki has been out for a while

[2022-08-15 01:23] #9609 closed

[2022-08-15 01:24] DonJayamanne commented on #10274
Closing this issue as there's nothing to be done here,

[2022-08-15 01:24] #10274 closed

[2022-08-15 01:25] DonJayamanne commented on #10400
@IanMatthewHuff I'm taking this as this falls into installation, and kernel startup and the like.

[2022-08-15 01:33] DonJayamanne commented on #1577
@rebornix @amunger This applies to notebooks as well, not just IW.
Basically this applies to the jupyter server started and how it can or should be exposed. (complicates when we have raw)

[2022-08-15 01:34] DonJayamanne commented on #1541
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/1120

[2022-08-15 01:34] #1541 closed

[2022-08-15 01:36] DonJayamanne commented on #1236
Applies to startup of the kernels, and I believe we've had similar requests for nb as well.

[2022-08-15 01:43] DonJayamanne commented on #4589
@IanMatthewHuff i think this falls under execution and errors, not intellisense, let me know if thats ok

[2022-08-15 01:49] DonJayamanne commented on #6266
Now works as expected

[2022-08-15 01:49] #6266 closed

[2022-08-15 01:50] liuzj039 commented on #11113
Thank you very much for the clarification. Here is a sample file that would trigger this issue in my environment (In fact I reinstalled my local and remote environments and the problem still persists.).

You do not need to execute the second part (background outputs) in this file. Here are just hundreds of meaningless figures.

In the first part, there is no problem to execute the second cell dire

[2022-08-15 02:05] DonJayamanne commented on #7759
This now works as expected

[2022-08-15 02:05] #7759 closed

[2022-08-15 02:07] DonJayamanne commented on #11010
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/8215

[2022-08-15 02:08] DonJayamanne commented on #11010
Blocked on https://github.com/microsoft/vscode-jupyter/issues/9517 as we need a way to connect a notebook to an active notebook kernel.

[2022-08-15 02:46] DonJayamanne commented on #8422
I ran into this today as well, and spent a few minutes trying to figure out what i did wrong.

[2022-08-15 02:49] DonJayamanne commented on #8664
Closing this issue as most (if not all) of the work has been done and this hasn't been added to any milestone since March

[2022-08-15 02:49] #8664 closed

[2022-08-15 02:54] DonJayamanne commented on #9574
Closing this as completed, as ther'es only one issue remaining and we have that assigned to Ian

[2022-08-15 02:54] #9574 closed

[2022-08-15 03:00] DonJayamanne commented on #9536
I don' think we should add this, as this is functionality that should exist in IPYthon kernel, and not a custom implemetattion, e.g. if you run the code `value = 1234` in a jupyter notebook cell, then the value of `value` is not printed out, hence we why would one expect anything different in IW,

Besides no one has asked for this,

Note: This falls into execution of code against the kernel, hence

[2022-08-15 03:00] #9536 closed

[2022-08-15 03:03] DonJayamanne commented on #9491
This feature request hasn't received any upvotes since it was created.
We prioritize issues based on populariry (interest, guaged by number of upvotes),
Closing for now, if anyone feels this is useful, please upvote & comment on this and i'll be happy to re-open this issue or create a new issue.

[2022-08-15 03:03] #9491 closed

[2022-08-15 03:04] DonJayamanne commented on #9384
I don't think this is necessary, as the API stabilizes we might find the need for such a test, less & less useful.
Closing for now.

[2022-08-15 03:04] #9384 closed

[2022-08-15 03:06] DonJayamanne commented on #9644
This should be stanadrd block of code, agnostic of IW & Notebooks.

[2022-08-15 03:16] DonJayamanne commented on #9945
This leads me to believe that the user is already using some cell magic of the like to run sql queries.
I think one approachis to get better completion from language servers like SQL to support code completion for the SQL queries after the `%%sql` text in python code.

This way the user doesn't need to change anything in their workflow, they can continue to use the same python kernel, and write th

[2022-08-15 03:18] DonJayamanne commented on #1201
Closing as this issue tracks the specification, we have other issues that talk about these features

[2022-08-15 03:18] #1201 closed

[2022-08-15 03:21] DonJayamanne commented on #4573
Blocked on https://github.com/microsoft/vscode-jupyter/issues/9517

[2022-08-15 03:22] DonJayamanne commented on #4543
Blocked on https://github.com/microsoft/vscode-jupyter/issues/9517

[2022-08-15 04:33] DonJayamanne commented on #10376
Closing this for now as the details or the requirement are not clearly flushed out.
Can re-open or create a new issue if and when we have the need with more details of such a requirement

[2022-08-15 04:33] #10376 closed

[2022-08-15 04:38] DonJayamanne commented on #10639
Closing this issue for now and leaving the main issue open

[2022-08-15 04:38] #10639 closed

[2022-08-15 04:38] DonJayamanne commented on #10640
closing this for now and leaving the main issue open

[2022-08-15 04:38] #10640 closed

[2022-08-15 04:39] DonJayamanne commented on #10641
Closing this for now and leaving the main issue open,
Note: This falls in dependency installer

[2022-08-15 04:39] #10641 closed

[2022-08-15 04:45] DonJayamanne commented on #11078
Assigning to myself as this isn't a UI issue, basically the kernels are listed based on what's returned from the Python API or kernel discovery, which is an area i own.

[2022-08-15 04:46] DonJayamanne commented on #11073
This isnt a UI issue, but an issue with the API or the code used to fetch the kernels or interpreters from the Python extensiosn. And those are areas I own today, hence re-assining to myself.

[2022-08-15 04:57] DonJayamanne commented on #8159
@zpincus
Please could you test the latest version of the Jupyter extension and let us know if this works as expected.

[2022-08-15 05:00] DonJayamanne commented on #7869
I believe this will be addressed once we select the right kernel in the kernel picker.
Also, to my knowledge All containers in Codespaces now have Jupyter installed, hence this shouldn't be an issue anymore.
I think we could just close this and get this verifeid.

Hence closing this issue so this gets verifeid in the August milestone

[2022-08-15 05:00] #7869 closed

[2022-08-15 05:14] DonJayamanne commented on #11113
@liuzj039 I've opened the notebook and executed the first and the second cell and do not see any issues.
Please could you do me a favor:
* Re-open vs code
* Open the notebook
* Replicate the issue
* Upload all of the contents from the `Juptyer` output panel (everything)

Also, please could you share a screens recording, using something like `gifcap.dev` or some similar tool, so I can see the delay

[2022-08-15 05:57] SophyGao opened #11119 "Can not detect remote jupyter kernel when connected to remote jupyter server after upgrade vscode to 1.70.0"
## Environment data

-   VS Code version: 1.70.1
-   Jupyter Extension version (available under the Extensions sidebar): v2022.6.1201981810
-   Python Extension version (available under the Extensions sidebar): v2022.12.0
-   OS (Windows | Mac | Linux distro) and version: Windows  10
-   Python and/or Anaconda version: 3.9.6
-   Type of virtual environment used (N/A | venv | virtualenv | conda | .

[2022-08-15 06:12] DonJayamanne commented on #11119
I'm sorry you are running into this issue and thanks for filing this with us.

Please could you update to the latest jupyter extesnion version `2022.7.10...`, this may have been fixed in there.
Let me know if this works.

[2022-08-15 06:51] liuzj039 commented on #11113
This is the recorded screen and the corresponding log file.
Thank you very much for your help

https://user-images.githubusercontent.com/55271666/184589444-9643f89b-ad06-4fda-996c-b27c58b0b226.mp4

[output.txt](https://github.com/microsoft/vscode-jupyter/files/9335539/output.txt)
.

[2022-08-15 08:29] ameyb22 commented on #10969
I disabled Azure Extensions and upgraded the Jupyter Extension and everything working as expected, thanks a lot! should I close the issue? @DonJayamanne

[2022-08-15 10:24] DonJayamanne commented on #10969
thanks for the confirmation.

let's leave this issue open. i think we'll need to fix this as others could be running into this today.

[2022-08-15 10:34] pagnani commented on #6803
Did not try in a while ... I'll report here as soon as i get my hands on my
computer

On Mon, Aug 15, 2022, 03:13 Don Jayamanne ***@***.***> wrote:

[2022-08-15 12:42] tony-maynard commented on #11110
@amunger I think we needed to install https://github.com/jupyter-widgets/ipywidgets within jupyter lab which looks like what this tries to describe https://github.com/microsoft/vscode-jupyter/wiki/Component:-IPyWidgets ?

[2022-08-15 15:32] amunger commented on #5774
implemented in previous release https://github.com/microsoft/vscode/pull/155777

[2022-08-15 15:32] #5774 closed

[2022-08-15 15:53] rebornix commented on #10010
Starting with @DonJayamanne as it's about server connection.

[2022-08-15 15:54] rebornix commented on #9755
Not sure if we still want to do this.

[2022-08-15 15:55] rebornix commented on #10379
Starting with @IanMatthewHuff as it's UI part.

[2022-08-15 16:35] IanMatthewHuff commented on #10969
Should be the same as #10300 I believe, but let's keep this open to make sure. I'm looking into it today.

[2022-08-15 16:46] DavidMChan commented on #9093
Hi @DonJayamanne - Thanks for looking into this!

I have an interesting situation where I'm writing code on a laptop using the VSCode remote plugin, but running that code on several machines that are connected to the internet, but not connected to each other (through something like NFS). This is actually pretty common at universities, where we have lots of personal desktops running ML experiments,

[2022-08-15 17:45] amunger commented on #4352
this does not look specific to IW

[2022-08-15 17:53] amunger commented on #7500
I'm not sure what setting this is referring to or exactly what the issue is. Please provide repro steps and screenshots here or in a new issue to clarify if this is still relevant. Closing for now

[2022-08-15 17:53] #7500 closed

[2022-08-15 17:54] ubalklen commented on #8084
@datalifenyc have you figured out? I have the same question.
Also summoning master wizard @JosephAntony1 to check if he can help us :-)

[2022-08-15 17:57] amunger commented on #6839
The button now says `run python file in terminal` to disambiguate

[2022-08-15 17:57] #6839 closed

[2022-08-15 18:21] IanMatthewHuff commented on #10969
@ameyb22 Quick question on this (if you don't mind). To fix this you took two steps, 1. updating Jupyter extension and 2. Disabling AML extension. Is the issue still fixed if you update the Jupyter extension but you do have the AML extension installed? Just trying to narrow down what fixed this for you. I'm investigating now and I am cleaning up one password issue with remote scenarios (#10300) bu

[2022-08-15 18:27] rebornix commented on #1618
Not Interactive Window specific so removing IW label/assigness.

[2022-08-15 18:35] rebornix commented on #4475
This can now be disabled via `interactiveWindow.alwaysScrollOnNewCell`

[2022-08-15 18:35] #4475 closed

[2022-08-15 18:47] rebornix commented on #6565
It seems we didn't switch `jupyter.sendSelectionToInteractiveWindow` to `true` yet and we might want to reconsider.

[2022-08-15 18:55] ameyb22 commented on #10969
@IanMatthewHuff when I opened this issue I was on macOS 13 beta and I couldn't even use the local jupyter server with the link. Well, I downgraded my back to a public stable version last week since then everything is working as it should be. I think there was an issue with os only because most of the things weren't working accordingly. coming on your current question, I'm not sure what helped me w

[2022-08-15 18:55] ameyb22 commented on #10969
when I opened this issue I was on macOS 13 beta and I couldn't even use the local jupyter server with the link. Well, I downgraded my back to a public stable version last week since then everything is working as it should be. I think there was an issue with os only because most of the things weren't working accordingly. coming on your current question, I'm not sure what helped me with the issue I

[2022-08-15 19:04] DonJayamanne commented on #9093
Excellent, thanks for explaining the workflow, i'll discuss this with the team.

[2022-08-15 19:06] rebornix commented on #1620
Let's track this in https://github.com/microsoft/vscode-jupyter/issues/7683

[2022-08-15 19:07] #1620 closed

[2022-08-15 19:07] DonJayamanne commented on #9755
I agree, we should close this as this means we have to port all of the users from one extension to the other and have a story to communicate the change.
Also `power toys` is a place for testing extension features so they are moved into a seprate extension, but doing the above means we want to test gather because we're not sure its ready to go into a separate extension & that doesn't feel right.

[2022-08-15 19:07] rebornix commented on #7686
We should revist this since Rich added the auto scrolling in core.

[2022-08-15 19:08] DonJayamanne commented on #9755
@amunger please feel free to close this issue, I think we shouldl

[2022-08-15 19:08] rebornix commented on #7756
This might require changes in the core.

[2022-08-15 19:10] rebornix commented on #7818
This is no IW specific but related to the error output renderer

[2022-08-15 19:10] DonJayamanne opened #11126 "Cannot connect to Sparkmagic kernels"
### Discussed in https://github.com/microsoft/vscode-jupyter/discussions/11125

<div type='discussions-op-text'>

<sup>Originally posted by **jvaesteves** August 16, 2022</sup>
Hello, I've trying to use VSCode to accept the Sparkmagic kernels that I installed on a venv using Poetry, so I can connect to an EMR instance via Livy, but when listing the kernels on the notebook interface, all that appea

[2022-08-15 19:13] DonJayamanne commented on #11126
@jvaesteves
Thanks for filing this and I'm sorry its not working as expected.
Please could you:
* Provide all of the output from the `Jupyter` output panel, you can get to the output panel using the command `Jupyter: Show Output` (please copy all of the output and paste it here)
* Also whats the value of `$SPARKMAGIC_LOCATION`, asking so that I can map this to the values I see in the logs.

[2022-08-15 19:14] #1110 closed

[2022-08-15 19:20] rebornix commented on #9620
This is not IW specific but a generic markdown cell rendering issue.

[2022-08-15 19:45] DonJayamanne commented on #9620
This is an IW issue, as the spaces are trimmed or something is wrong with the markdown.

* Step 1 - Create the following markdown cell in a notebook and check the renderered content
[code]

* Step 2 - Now run the above code as a cell in IW and the check the markdown output
* The markdown outputs look very different, when in fact they must be identical,
* Step 3: Create a cell in a notebook and add

[2022-08-15 19:48] JulesGM commented on #1379
@DonJayamanne I feel strongly like this should be a core Jupyter feature, and not in some extension.

[2022-08-15 19:50] JulesGM commented on #1379
having to close and restart kernels reliably is just a bread and butter thing that should be a core feature

[2022-08-15 20:11] amunger opened #11127 "Cannot disable `Interactive Window: Always scroll on new cell`"
Type: <b>Bug</b>

It still always scrolls when the setting is disabled

1. disable `"interactiveWindow.alwaysScrollOnNewCell"`
2. create an interactive window, execute enough cells to scroll
3. scroll up and add another cell
:bug: IW scrolls to last cell

Extension version: 2022.8.1002291034
VS Code version: Code - Insiders 1.71.0-insider (ef65ac1ba57f57f2a3961bfe94aa20481caca4c6, 2022-08-11T05:16

[2022-08-15 20:12] amunger commented on #4475
that setting seems to not be working for me currently, created a separate issue: https://github.com/microsoft/vscode-jupyter/issues/11127

[2022-08-15 20:13] amunger commented on #11127
same behaviour in 1.69.2

[2022-08-15 20:17] DonJayamanne commented on #7583
@karrtikr I'd like to start this discussion again, given that the API has changed
**Here is what we would like to have**
* We would like to popular the list of interpreters in our kernel picker as and when they are discovered.
    * E.g. if python extension discovers Conda Env A, then we add `Conda Env A` into the list of kernels, and then add `Conda Env B` after a few ms or seconds and so on .

[2022-08-15 20:19] amunger commented on #6565
We shouldn't override that functionality as long as Python still depends on this extension: https://github.com/microsoft/vscode-python/issues/18073

[2022-08-15 20:20] #9755 closed

[2022-08-15 21:00] karrtikr commented on #7583
Regarding first point, yes it's possible. But events are fired if any information is found even though it's not complete yet:
- Event1: EnvA was found (not sure if it's conda yet)
- Event2: Partial version was filled
- Event3: Type detected as conda
- Event4: Complete info is found

Are you interested in information in all these stages, or information when it's complete? I think for the purposes o

[2022-08-15 23:55] morfyum opened #11130 "Wrong uninstallation method on linux systems"
Infect the Linux home directory!
Impossible to remove with one click.
Annoying files stay on system.
Absolute malware/adware functionality!

After install python extension, Jupyter installed automatically as dependency.
This adware are show in app folder, and impossible to remove.

After remove
  - this malware extension,
  - or remove whole python extension,
  - or remove VSCOD app,
this malware

[2022-08-16 04:03] DonJayamanne commented on #7583
Not sure i agree, displaying the wrong information to the user just because we have something would not be the best.
I say wrong, because we could end up displaying an environment as a virtual environment, when in fact its a conda environment or the like,
Hence in such cases, its possible the user is looking for a virtual env and we display a conda environment and when they attempt to run it, then

[2022-08-16 04:57] kpblackatverisk opened #11134 "Markdown section folding interrupted by python comments"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

### Summary

I expected that folding cells per a markdown header level would collapse all of the markdown and code cells under that header, per the VS Code Outline view of the notebook.

In practice though, if there is a markdown cell with a python code bl

[2022-08-16 08:22] Sebastian-Belkner commented on #10691
Hi Don,
above comment shows the output of that; a notebook with a single cell.
The notebkook used can be found [here](https://github.com/Sebastian-Belkner/sharing/blob/master/healpy_test_1cell.ipynb).
I just rerun it and the output is still the same,
<details>
<summary><code>Jupyter: Show Output Jupyter</code> from VS code
</summary>
<p>
info 1:18:34.201: Restart requested file:///global/homes/s/s

[2022-08-16 09:16] jvaesteves commented on #11126
- Here is the output [output](https://github.com/microsoft/vscode-jupyter/files/9349360/jupyter_output.txt)
- `SPARKMAGIC_LOCATION` points to `~/Library/Caches/pypoetry/virtualenvs/jupyter-playground-FOTz9V3J-py3.10/lib/python3.10/site-packages`

[2022-08-16 09:22] jvaesteves commented on #11126
I was also able to enable two of the kernels on VSCode list, but the PySpark kernel (that actually uses Python) still does not appear as an option. Also, the list shows these kernels pointing to a path that does not exists on my filesystem and does not correspond to `jupyter kernelspec list`.

[code]

![Screenshot 2022-08-16 at 11 18 02](https://user-images.githubusercontent.com/32674762/184844573

[2022-08-16 12:10] shakilsmash opened #11135 "VS Code: Stuck at "Connecting to kernel.....""
## Environment data

-   VS Code version: XXX
-   Jupyter Extension version (available under the Extensions sidebar): XXX
-   Python Extension version (available under the Extensions sidebar): XXX
-   OS (Windows | Mac | Linux distro) and version: XXX
-   Python and/or Anaconda version: XXX
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): XXX
-   Jupyter server running

[2022-08-16 15:20] austinmw commented on #1012
Hi, what's the latest ticket for `IPython.display.Video` support as well so I can upvote?

[2022-08-16 15:35] bicycle1885 opened #11136 "Interleaved prints and sleeps mess up output lines in Julia"
## Environment data

-   VS Code version: 1.70.1
-   Jupyter Extension version (available under the Extensions sidebar): v2022.7.1102252217
-   Python Extension version (available under the Extensions sidebar): v2022.12.0
-   OS (Windows | Mac | Linux distro) and version: Mac 12.5 (Monterey)
-   Python and/or Anaconda version: Python 3.10.6 (downloaded from python.org)
-   Type of virtual environm

[2022-08-16 15:36] amunger opened #11137 "Run by Line stops at the wrong line for a function call"
test `Stops in same-cell function called from last line` is failing

Manual repro show there is a bug - the jump from the function call should go to line 2:
![RBL](https://user-images.githubusercontent.com/2019016/184920241-622c56fb-f001-4e67-8c7b-da0db1284c48.gif)

[2022-08-16 15:38] bicycle1885 commented on #11136
#10982 might be a related issue.

[2022-08-16 15:50] amunger commented on #1012
@austinmw - video also depends the same core issue - https://github.com/microsoft/vscode/issues/118275
As [the latest comment](https://github.com/microsoft/vscode/issues/118275#issuecomment-1213064316) states, please comment over there if your specific scenario doesn't work after the codecs are available.

[2022-08-16 15:50] bicycle1885 commented on #11136
In addition, I discovered that the second (right) outputs are not printed with a monospace font
<img width="1136" alt="image" src="https://user-images.githubusercontent.com/905683/184923129-827c33a0-adaf-461e-9d7a-30f89f7b1ce8.png">

[2022-08-16 16:11] #10300 closed

[2022-08-16 16:51] kleffy commented on #1278
Sorry! is the feature suggested by @jbeyer16 available now?

[2022-08-16 16:58] kleffy commented on #1278
Actually, I just found out that the feature exist in vs code. see solution from this [stackoverflow](https://stackoverflow.com/questions/70878545/vs-code-how-to-launch-an-interactive-python-terminal-while-debugging) thread.

[2022-08-16 17:55] hoechenberger commented on #1278
This is not what this question / feature request is about. @jbeyer16 was not asking for **any** interactive debugger, but for the debugger to run in what the Python extension calls the Python Interactive console.

[2022-08-16 18:26] zpincus commented on #8159
Yeah, it's much better-behaved now! Very helpful errors and everything.

[2022-08-16 18:27] #8159 closed

[2022-08-16 18:31] amunger commented on #1490
fyi - there is a command `Jupyter: run current file in interactive window` to run all code cells, then you could export the results of that command

[2022-08-16 18:57] karrtikr commented on #7583
Two points:

-  > Hence in such cases, its possible the user is looking for a virtual env and we display a conda environment and when they attempt to run it, then things fall over completely (because running conda environments require activation, and now execution fails and they get a lot of errors)

    Populating the list is different than selecting an interpreter. When user attempts to select a

[2022-08-16 19:40] DonJayamanne commented on #7583
I think we're talking about two different things.
Lets leave Python Interpreter selection out of this discussion. I'm referring to the kernel picker.

I'm referring to the Jupyter extension UI, not Python, I don't think you know how that works as this is not how the Jupyter UI works.

In a users views, this information is incorrect hence my point. Yes we can argue about technical details, but as a

[2022-08-16 19:43] DonJayamanne commented on #11136
If you have the Julia extension installed, then please disable that extension. & try this again.
Let me know how that goes.

Plaese could you file a seprate issue for this.

[2022-08-16 19:50] amunger commented on #8547
no longer reproducible

[2022-08-16 19:50] #8547 closed

[2022-08-16 19:51] DonJayamanne commented on #11126
@jvaesteves , thanks for the logs.

Which one are you referring to from the above UI.

Which one are you referring to form the list of kernels.

Please could you open the kernelspec.json file in the following directories and dump the contents here so I can see this.
[code]

[2022-08-16 19:54] karrtikr commented on #7583
Lets leave Python Interpreter selection out of this discussion. I'm referring to the kernel picker.

The following running scenario you mentioned comes after selection (picking the kernel):

"and we display a conda environment and when they attempt to run it, then things fall over completely (because running conda environments require activation, and now execution fails and they get a lot of error

[2022-08-16 19:54] DonJayamanne commented on #10691
Please could you run a Jupyte rnotebook with the following code in VS Code and Jupyter lab and send the output of each
[code]

[2022-08-16 19:58] DonJayamanne commented on #7583
Assume user have a pip env and virtual env, now they select the virtual env assuming its the virtual env they are expecting.
However the virtual env is infact a pipenv (as you mentioend pipenvs can be virtual envs).
Now user selects this and runs the cell.
The packages they installed like ipykernel, numpy, sklearn do not exist in there, and as a result `things fall over` and they get a lot of erro

[2022-08-16 20:13] bicycle1885 commented on #11136
I wrongly assumed that this extension manages Julia kernels, but they are actually managed by the Julia extension. I find that if I install IJulia.jl and use that kernel with the Julia extension being disabled, the problem disappears. I'm sorry for that.

[2022-08-16 20:13] #11136 closed

[2022-08-16 20:14] DonJayamanne commented on #11135
Thanks fof filing this issue, unfortunately you've failed to provide any of the requested information.
Please could you fill in the missing information and i'll be happy to re-open this issue or please feel free to create a new issue with the missing information.
I'm primarily after the logs from the `Jupter` output panel

[2022-08-16 20:14] #11135 closed

[2022-08-16 20:40] karrtikr commented on #7583
Any packages we install into it are considering it's Pipenv, and any packages users installed into it outside of VSCode are considering it's Pipenv, so I don't see why packages won't be found. But okay, maybe I still misunderstand so please go ahead.

[2022-08-16 20:55] berkeleymalagon commented on #1012
Excited for this feature. Happy to help however I can.

[2022-08-16 20:55] amunger commented on #11127
not repro'ing anymore...

[2022-08-16 20:55] #11127 closed

[2022-08-16 21:47] DonJayamanne commented on #7583
Because as i mentioned user has two environmetns, pipenv and virtual env. hence packages in virtualenv will not be in pipenv.

[2022-08-16 22:38] wjandrea opened #11140 "First cell delimiter is ignored when using "Run all cells" from script"
## Environment data

-   VS Code version: Codium 1.70.1
-   Jupyter Extension version: v2022.8.1002170547
-   Python Extension version: v2022.12.0
-   OS and version: Ubuntu 20.04
-   Python and/or Anaconda version: Python 3.9.12
-   Type of virtual environment used: conda
-   Jupyter server running: Local

## Expected behaviour

When running **Run All Cells** from a script, anything before the fi

[2022-08-17 00:14] kyaki opened #11141 "High latency when running notebook remotely via ssh"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

I have been having issues on and off for months, but today it has been crazy bad. What is happening is that when I am running a notebook on remote server (AWS) connected via ssh on vs code, the code chunks take ages to run. To my naive eyes it seems that e

[2022-08-17 00:55] kieferrm commented on #6310
You can select the file in the explorer and copy/paste it there, or use copy and paste as Rich described.

[2022-08-17 00:55] #6310 closed

[2022-08-17 01:01] kieferrm commented on #6812
I think the way to address the issue is to provide configurability of the cell toolbar, particularly given that we try to make all toolbars more easily configurable across VS Code.

[2022-08-17 01:04] kieferrm commented on #7028
Needs to be split and resulting issue be assigned to owners.

[2022-08-17 01:14] kieferrm commented on #8007
Since this is a public repo, you can reference the repo by URL.

[2022-08-17 01:14] #8007 closed

[2022-08-17 01:30] roblourens commented on #7726
I just fixed this for the debug/rbl commands

[2022-08-17 01:34] roblourens commented on #7968
Seems like all these issues have owners now, can we close this one?

[2022-08-17 01:42] jzuhone commented on #11078
Following this issue because I have it as well

[2022-08-17 01:48] roblourens commented on #6863
Messed around with this for awhile, can't repro it. There have been changes (and more coming)

[2022-08-17 01:48] #6863 closed

[2022-08-17 03:28] rebornix commented on #1618
It is IW related (writing markdown cell in python file)

[2022-08-17 03:28] roblourens commented on #4352
I'm pretty sure this is essentially the same as https://github.com/microsoft/vscode-jupyter/issues/1278#issuecomment-1216966234 (although some language is different and that one predates the native interactive window) but I understand what you're asking for.

[2022-08-17 03:28] #4352 closed

[2022-08-17 03:32] roblourens commented on #4756
This has since been fixed

[2022-08-17 03:32] #4756 closed

[2022-08-17 03:35] roblourens commented on #1178
Quite old - if this is still an issue, needs investigation from the liveshare team.

[2022-08-17 03:35] #1178 closed

[2022-08-17 03:38] roblourens commented on #7487
Definitely. You can follow the same pattern from debug/run-by-line

[2022-08-17 03:42] roblourens commented on #9222
Seems like `jupyter.ispythonnotebook` will not be updated on kernel changes

[2022-08-17 03:44] roblourens commented on #7125
Hopefully more and more people have ipykernel 6+

[2022-08-17 03:44] #7125 closed

[2022-08-17 03:45] roblourens commented on #7127
Hopefully less relevant as more people have ipykernel 6 already

[2022-08-17 03:45] #7127 closed

[2022-08-17 03:57] roblourens commented on #10281
Works for me. If you still repro this can you share a log?

[2022-08-17 07:50] jvaesteves commented on #11126
The ones on the **Jupyter Kernel** sections that points to `/python`

pysparkkernel

There you go. [python3](https://github.com/microsoft/vscode-jupyter/files/9357558/pythonkernel.txt) | [pysparkkernel](https://github.com/microsoft/vscode-jupyter/files/9357559/pysparkkernel.txt)

[2022-08-17 09:09] thistlillo commented on #10757
When I had this problem the `output` panel stayed empty. Now I am always working on the same PC so I am not experience that issue. I will start working again on two PCs from September.

I am using the extension to run notebooks on a linux pod on a remote kubernetes pod. The installation is very fragile. For, this morning, I had a cell running that I was not able to interrupt. If I open a new noteb

[2022-08-17 10:32] shappiron commented on #11141
Exactly the same problem.

[2022-08-17 13:32] mjbvz commented on #7954
@IanMatthewHuff Who contributes the grammar for python traceback? I don't see it in core VS Code.

Whoever contributes that grammar can also enable it for markdown fenced code blocks by following these instructions: https://github.com/mjbvz/vscode-fenced-code-block-grammar-injection-example

[2022-08-17 15:39] amunger commented on #10281
no longer reproducible, thanks for checking

[2022-08-17 15:39] #10281 closed

[2022-08-17 15:46] Ghooster opened #11143 "Extension host terminated unexpectedly 3 times in 5 minutes"
Type: <b>Bug</b>

.

Extension version: 2022.7.1102252217
VS Code version: Code 1.70.1 (6d9b74a70ca9c7733b29f0456fd8195364076dda, 2022-08-10T06:08:33.642Z)
OS version: Windows_NT x64 10.0.22000
Modes:

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-1035G1 CPU @ 1.00GHz (8 x 1190)|
|GPU Status|2d_canvas: enabled<br>canvas_oop_rasterization: disabled_off<

[2022-08-17 15:52] IanMatthewHuff commented on #7954
Seems like this wouldn't be notebook specific in the implementation. I'll move this over to the Python team as I believe they would own adding this. Fence code block sample was interesting, didn't realize this was an option that extensions had.

[2022-08-17 15:56] IanMatthewHuff commented on #11143
@Ghooster Can you give a bit more information about your scenario? The vscode developer tools should have a console log as well that might help to give more info.

[2022-08-17 16:36] amunger commented on #11140
note: to repro the shebag issue, ensure `"jupyter.magicCommandsAsComments"` is enabled

Thanks for the issue, I just noticed that `execute file in interactive window` was skipping code without a `# %%` the other day. These commands definitely feel backwards to me, and combining the initial code with the top cell in `runallCells` is likely just a bug.

[2022-08-17 16:43] kyaki commented on #11141
If it is helpful at all, I also notice it takes a weird amount of time to actually open a notebook, and here are the jupyter logs from that process:

[code]

[2022-08-17 16:47] roblourens commented on #7568
https://github.com/microsoft/vscode-jupyter/issues/7728

[2022-08-17 16:47] #7568 closed

[2022-08-17 18:39] #11018 closed

[2022-08-17 18:44] rebornix commented on #11141
@roblourens this is vscode remote specific and we have seen multiple issue reports, any suggestions of how we can track down what's going on?

[2022-08-17 19:03] DonJayamanne commented on #11110
@tony-maynard thanks for checking JupyterHub, I can confirm I'm getting the exact same behaviour in Jupyter Notebook as well, hence this is not specific to VS Code.
As a result I'm going to close this issue as the expected behaviour (as you have identified its due to the async nature of loading the scripts)

[2022-08-17 19:08] minsa110 commented on #11077
Ref to prototyping env/kernel creation: https://github.com/microsoft/vscode-jupyter/issues/9640

[2022-08-17 19:08] #11092 closed

[2022-08-17 19:11] DonJayamanne commented on #11080
@crazy4pi314 From what I understand the confusion is the fact that you can see `Remote` kernels in the kernel picker as well as some of the local conda environments in the same kernel picker and that is what's confusing. Please could you confirm that.

[2022-08-17 19:21] DonJayamanne commented on #11113
@liuzj039 Hmm, weird, will send a custom VSIX (with a few changes) so you can test (some of the changes) this at your end

[2022-08-17 19:29] DonJayamanne commented on #10757
Looks like some perf issue.
* Are you connecting to the remote machine using remote SSH.
* Can you confirm you are running into these issues only on the remote machine, this way we can isolate the issue as being related to running VS Code on remote machines.

[2022-08-17 22:08] misolori commented on #11077
Will be posting various scenario demos that I've mocked up.

## Scenario 1: Running a notebook for the first time with no environment/extensions installed

This mirrors what we do right now out of the box and then leverages the "auto-create environment" concept that @IanMatthewHuff is currently working on.

https://user-images.githubusercontent.com/35271042/185251947-188d7ea9-9647-4006-af27-0b285c

[2022-08-17 22:25] IanMatthewHuff commented on #11077
I really like it. I suppose my main question is how much we can get away with installing on users computers without a prompt / message? I love the basically zero notification flow, but I'm a tiny bit unsure if it's ok to drop 80mb in the workspace without a confirmation. I think so? But we might have to be careful about making sure that it gets added to .gitignore and things like that.

[2022-08-17 22:37] minsa110 commented on #11077
I actually had a very similar comment! 😅 When we talked to users about this, they really like the ability to "confirm" what VS Code was going to do on their machine. They appreciated a message like this below, and they (to my surprise) wanted to click on "learn more" where they expected it to show them exactly what we'd install on their system so that they were confident about the changes VS Code

[2022-08-17 22:54] misolori commented on #11077
I think we can include this dialog when installing the environment, and maybe with a "don't ask again" checkbox?

[2022-08-18 00:45] roblourens commented on #10600
I tried with debugpy 1.6.2 and .3 (without the new environment var) and can't repro this issue. Just trying to understand the state of things, does it not happen every time?

[2022-08-18 00:50] roblourens commented on #10106
Was problem 2 supposed to be fixed by the debugpy update?

<img width="619" alt="image" src="https://user-images.githubusercontent.com/323878/185268440-1af78b65-7b79-4d63-a8a8-2b6176b538b9.png">

[2022-08-18 02:10] #11033 closed

[2022-08-18 02:10] #10600 closed

[2022-08-18 06:49] jvaesteves commented on #11126
@DonJayamanne
With this change, now the PySpark works correctly! :)

[2022-08-18 07:21] DonJayamanne commented on #11126
@jvaesteves
I'd like to ensure we fix this workflow, hence have a few questions:
* What is the environment in which you have spark installed, is that Poetry?
* How do you launch Jupyter in your terminal?
    * Do you first activate poetry in your terminal?
    * If not, how is your poetry environment activated for you in the terminal.
    * If you don't do that either, what does `which python` poi

[2022-08-18 07:55] jvaesteves commented on #11126
Yes

When I select the notebook file on my project, Jupyter starts and loads the PySpark kernel by itself. It is not needed to start Poetry  venv, and even when I select the Interpreter on VSCode to be any other than from what is used by Poetry, the kernel bypasses it and uses the venv one (confirmed with the `which python` on the notebook).

[2022-08-18 08:20] tony-maynard commented on #11110
I was highlighting it works on jupyterHub once the script is fetched, but it still doesn't work on vscode so I think this should be re opened?

[2022-08-18 09:21] DonJayamanne commented on #11126
thank you very much, few more questions, thanks for your support and patience

how do you do this in the terminal.
please could you paste the commands here

also part could you let me know what you get when you run the following two commands

[2022-08-18 11:34] fabioz commented on #8146
@DonJayamanne @roblourens this issue doesn't seem to be fixed (the part related to `debugpy` is now done so that stepping should work in this scenario, but there's still work to be done so that users can actually configure the `justMyCode` setting in the vscode-jupyter side).

[2022-08-18 12:56] raffaeleterribile opened #14589 "Expression rendering in tables"
Type: <b>Bug</b>

Mathematical expressions inside tables used in Jupyter Notebook are rendered as plain code and not as mathematical expression.

Extension version: 1.0.9
VS Code version: Code 1.70.2 (e4503b30fc78200f846c62cf8091b76ff5547662, 2022-08-16T05:35:13.448Z)
OS version: Windows_NT x64 10.0.19044
Modes:

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(

[2022-08-18 13:15] Abdelrahman-Abbas opened #11152 "Printing Pandas Dataframes with large cells and column names' sizes is horrible."
Issue Type: <b>Bug</b>

I have some pandas dataframes and I am working with Jupyter notebooks in VSCode. These dfs have column names and cells' string values with a large number of characters and when I print them as dataframes, they have a horrible view and not in as organized table as it is in other versions other than this apple silicon one. It has to have a better view of printing the datafram

[2022-08-18 13:28] Emmanuel-ds22 opened #11150 "not working"
## Environment data

-   VS Code version: XXX
-   Jupyter Extension version (available under the Extensions sidebar): XXX
-   Python Extension version (available under the Extensions sidebar): XXX
-   OS (Windows | Mac | Linux distro) and version: XXX
-   Python and/or Anaconda version: XXX
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): XXX
-   Jupyter server running

[2022-08-18 13:31] Sebastian-Belkner commented on #10691
Sure, there you go. A different healpy is loaded via vs code.

**Cell**
[code]
**Ouput**
in VS Code,

in JupyterLab,

[2022-08-18 15:22] mariosconsta commented on #11031
I will test this out ASAP and let you know.

[2022-08-18 15:48] mariosconsta commented on #11031
@DonJayamanne

So with VS Code **closed**. I opened jupyter notebook and run the cell that outputs model summary. The cell ran instantly without trouble. I opened VS Code to try it again and the same thing happened.

[notebooks.zip](https://github.com/microsoft/vscode-jupyter/files/9375366/notebooks.zip)

I will take a video with my phone as its happening and upload it here as well.

[2022-08-18 16:05] mariosconsta commented on #11031
@DonJayamanne
I have uploaded 2 clips of the problem. The second clip is from my phone because I couldn't record normally. The first clip is showing jupyter running like a charm and the second one is VS Code consuming 100% of my RAM and then crashing.

There's also 2 screenshots on how VS Code looks after it recovers along with the error that sometimes pops up. The error doesn't pop up always.

ht

[2022-08-18 16:10] JulesGM commented on #1379
@rchiodo please don't kill this

[2022-08-18 16:21] IanMatthewHuff commented on #11150
@Emmanuel-ds22 this issue doesn't really give us enough to investigate here. If you could please fill in more details about what your scenario is, what isn't working, and more of the missing sections in the bug template then we can help to investigate.

[2022-08-18 16:48] #10634 closed

[2022-08-18 17:25] IanMatthewHuff commented on #11152
@Abdelrahman-Abbas A couple of quick questions here.

1. Could you actually provide a screen shot of this sizing? It's a bit hard to tell just from the text description exactly what is going on here.
2. It looks like you are on an old VS Code version. Can you update VS Code to the latest and still repro the issue?

Thanks much.

[2022-08-18 18:44] rebornix opened #11153 "Kernel Finder workflow"
This is part of the architecture review and refactoring task https://github.com/microsoft/vscode-jupyter/issues/10832 and majorly focused on kernel finding/detection.

The current workflow of finding kernels (10,000 feet view) is

1. Extension activation / notebook document open
2. Find Kernels
    - Find kernels from cache
        - Find kernels from remote server `globalState`
        - Find ker

[2022-08-18 18:45] rebornix commented on #10832
The only task left is simplying kernel finder, which is now tracked separately in https://github.com/microsoft/vscode-jupyter/issues/11153.

[2022-08-18 18:54] rebornix commented on #11153
What we can do to improve the redundancy of kernel finding

* On extension activation, find from cache, and then find without cache
* On events
  * Update relevant caches
  * Broadcast kernels change event
  * `ControllerLoader` request to find from cache again

[2022-08-18 18:55] misolori commented on #11077
## Scenario 2: Running a notebook and using local environments

This is aimed for the users that already have the Python/Jupyter extensions installed and has local environments. We should do our best to only show the most likely environments they would use and if we have low certainty then we show the full kernel list. I'm also proposing showing only the environments they have used in the past and

[2022-08-18 19:38] FlorinAndrei commented on #254
@rchiodo That doesn't work.

https://stackoverflow.com/questions/73408585/vscode-run-remote-jupyter-server-with-remote-notebook-files-all-on-same-remote

[2022-08-18 19:42] DonJayamanne commented on #11031
Will get a custom build of he extension shortly, so you can test with that
Once again, thanks for your patience and sorry for the inconvenience caused.

[2022-08-18 19:45] DonJayamanne commented on #10691
Awesome, the problem is the wrong version of healpy is imported.
Please could you
* reload VS Code
* Run the above cell once again `(import healpy, print(healpy.__file__)`
* Copy all of the output from the `Jupyter` output panel
    * Please note, i need everything from there, including the first initial bit, it contains information about how the environment is started and the like.

[2022-08-18 19:55] DonJayamanne commented on #11078
@jzuhone @ptoyip
Please could you
* Install VS Code insiders
* Then install the pre-release version of the Jupyter extension (2022.8.xxxx)
* Enable Verbose Logging in the Jupyter extesnsion as follows
![Screen Shot 2022-08-19 at 05 53 55](https://user-images.githubusercontent.com/1948812/185483216-596f4cbb-6f74-4280-84be-2e6dcb35b769.png)

* Reload VS Code after the above change
* Replicate the ab

[2022-08-18 21:30] misolori commented on #11077
## Scenario 3: Running a notebook and using **many** local environments

This is for when we don't have great certainty that we'll pick the right kernel and directly jump to the "Select local kernel" quick pick. Once the users selected a kernel, it'll get added to the main kernel quick pick and will also be stored for the workspace when switching to a different notebook. There are other edge cases

[2022-08-18 21:31] misolori commented on #11077
In Scenarios 2 & 3, I wonder if we should be more opinionated and default to auto-creating environments as opposed to asking the user. On one hand, reducing the number of actions the user needs to do would be preferred but you also don't want to auto-create environments they didn't expect.

[2022-08-18 21:53] DonJayamanne commented on #11031
Please could you:
* Install VS Code Insiders
* Install the attached vsix using the command `Extnsions: Install from VSIX`
* Reload VS Code insiders
* Try running the notebook with this version
* Note: You might not see any outputs in any cell, however you should still see the green `tick` to indicate whether a cell ran successfully or not, along with the execution count

Please let me know how thi

[2022-08-18 22:08] mariosconsta commented on #11031
I will test it out first thing in the morning!

[2022-08-18 22:14] misolori commented on #11077
## Scenario 4: Running a notebook on a remote jupyter server

This is to make sure we account for the remote server connections and how we show that in this new list. There will always be a "Connect to jupyter server" command from the kernel picker and then once you are connected to that remote, the kernels will be listed in the "Show more kernels" list. Showing multiple remote kernels is TBD.

ht

[2022-08-18 22:29] FlorinAndrei commented on #254
Turns out, if you install the local extensions onto the remote server, it actually works. But there aren't many clues in the GUI that suggest that.

Anyway, I've figured it out, it's working now. Would be nice if these features were made more explicit somehow.

[2022-08-18 22:34] DonJayamanne commented on #11080
@IanMatthewHuff i believe this is an issue with the UI, I believe the confusion is we have remote and local kernels in the same dropdown, hence the confusion (leading one to think there are duplicates)

[2022-08-18 22:37] IanMatthewHuff commented on #9640
A couple more small flow videos with Conda added. Note to not worry too much about UI polish on this still, that side is coming from #11077. Note that progress bars are terrible and double entries in the existing conda list. Also for the video I did some serious shortening of the time sequences (conda env creation takes well > 1 min just by itself, and then 20s or so to connect).

Pick an existing

[2022-08-18 22:40] DonJayamanne commented on #11130
@morfyum
Sorry for not getting back to you on this.
The Jupyter extesnion is an optional dependency of the Python extension, yes it is installed with the Python exension, however you can uninstall this anytime and as a result it will never get installed automatically again.

I'd like to undertand what you mean by impossible to remove. You should be able to just uninstall this `Jupyter` extension a

[2022-08-18 22:54] lgonzalezsa opened #11157 "Getting Pylance reportMissingImports when using Remote SSH with Jupyter Server: Remote"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

Working with Remote SSH to leverage remote filesystem access and having terminals connected to remote server. I am also interested to have a live kernel I can connect / disconnect as needed, expensive or long lasting code computation in my notebooks, then

[2022-08-18 23:16] IanMatthewHuff commented on #11157
@lgonzalezsa I don't believe this is a configuration that you are missing. It's just a bit of a hole that we should (I believe) be able to patch up. Currently our pylance support doesn't work with remote connections. In the remote case we don't expect to have local access to the python environment in question which we need to work with Pylance. However in this case you just have the server started

[2022-08-18 23:55] minsa110 commented on #11077
Thank you for making the clean shot videos for these scenarios! I have a few comments / questions.

**Scenario 2**
- Is the main kernel quick pick based on the context of the workspace or is this a shared "suggested" list for VS Code in general? IOW, would the list of kernels in the main kernel quick pick change based on which workspace I'm in?
- If the user was previously connected to a kernel fr

[2022-08-19 01:21] rezan21 commented on #1121
Meanwhile, I've created a script which can automate adding certain tags, e.g. "parameters" for papermill, to a notebook. It requires an indicator comment. (by default, it looks for _the first occurrence_ of "default param".) You'd need to add the indicator as a comment to the cell you wish to add the tag to.

[code]

[2022-08-19 02:33] liuzj039 commented on #11113
@DonJayamanne Thank you very much for your help. are the vsix files uploaded directly in this issue?

[2022-08-19 09:02] mariosconsta commented on #11031
@DonJayamanne Runs instantly as shown in the screenshot below. Like you said there's no output, but it does run like a charm and uses zero ram. How do should I continue? Is there a way to get output from this version? Or should I continue using the version I currently am on.

![image](https://user-images.githubusercontent.com/22726730/185584335-7d3511cf-748a-48b9-8a2f-c3d533232619.png)

[2022-08-19 09:20] mariosconsta commented on #11031
Should I re-install VS Code? Is there a way to save my configuration (extensions and local settings)? I am in the middle of my thesis, and I am running low on time, so it would be ideal if I could install it again and have all my extensions and settings as they are.

[2022-08-19 09:26] morfyum commented on #11130
Hello.

I cant replicate this issue. Maybe fixed?

Previously after remove the jupyter.
The desktop icon stay on my system, maybe on `.local/share/applications/`, `.local/share/jupyter/` paths.

Currently directories are cleand.

Currently lot of file stay instide of flatpak app, this is not interested for me, because I doesnt see between my desktop apps.

`./.var/app/com.vscodium.codium/data/codi

[2022-08-19 09:46] mariosconsta commented on #11031
Another issue is this:

![image](https://user-images.githubusercontent.com/22726730/185592636-4a282659-bcf7-40b1-b365-7a26fc1855dc.png)

Sometimes when it finishes without crashing, the output looks like that.

[2022-08-19 10:37] Sebastian-Belkner commented on #10691
There you go,

<details>
<summary><code>Jupyter: Show Output Jupyter</code> from VS code
</summary>
<p>

Visual Studio Code (1.70.2, ssh-remote, desktop)
Jupyter Extension Version: 2022.7.1102252217.
Python Extension Version: 2022.12.1.
Multiple Workspace folders opened /global/homes/s/sebibel, /global/cscratch1/sd/sebibel
info 3:33:11.304: ZMQ install verified.
User belongs to experiment group 'j

[2022-08-19 11:23] DonJayamanne commented on #10691
ok looks like you need to run `conda init` in your terminal.
* please could you run that too ensure conda works in the shell.

* also what is your shell on your remote machine

[2022-08-19 11:41] DonJayamanne commented on #11130
Closing this issue as you cannot replicate this.
I would suggest you file an issue with VS Codium if this continues as this isn't a problem with VS Code.
Thanks for getting back to us with a confirmation.

[2022-08-19 11:41] #11130 closed

[2022-08-19 11:51] Sebastian-Belkner commented on #10691
`conda init` works in the shell, but doesn't do much, as shown below. The (py3.7) sebibel@cori06 indicates, that the terminal should have the right conda environment in its belly.

[code]

`conda activa py3.7` is executed via .bash_profile when connection with remote-ssh.
When opening a jupyter notebook, I choose my py3.7 kernel

[2022-08-19 11:59] DonJayamanne commented on #10691
Thanks for your patience and I appreciate the help in getting to the bottom of this.

* Please could you go into your user settings and enable verbose logging in VS Code as follows,
* Then reload VS Code
* Replicate the issue again, and capture the logs and upload them here
<img width="585" alt="Screen Shot 2022-08-19 at 21 58 22" src="https://user-images.githubusercontent.com/1948812/185613812-c2

[2022-08-19 16:31] Sebastian-Belkner commented on #10691
Well, your help is very appreciated.

- verbose logging turned on
- VS Code reloaded
- issue replicated

(I hope I am not opening backdoors here for anyone..)
The following shows verbose output between firing up VS code and connecting to the host,

<details>
<summary><code>Jupyter: Show Output Jupyter</code> from VS code - verbose
</summary>
<p>

Visual Studio Code (1.70.2, ssh-remote, desktop)
Ju

[2022-08-19 18:56] IanMatthewHuff opened #11159 "Better determine what available kernel connections are most important to surface to a user."
Tagging @misolori as we were taking about this briefly in the team room.

This was already floating in my head some, but some of the designs in #11077 really were making me think that it was more important.

The basic question is given the sea of possibilities that we have for the kernel picker do we have some better ways to pick out kernels of interest to a user or pick out kernels that users hav

[2022-08-19 18:57] IanMatthewHuff commented on #11159
Here is a rough list (not ordered) that I'm currently considering:

- Kernel that I have used before for this file
- Kernel that I have used before in this workspace
- Kernel that I have used before on this machine
- Kernel that I have used before as a user
- KernelSpec available on a Jupyter server running locally
- Session started and running on a Jupyter server running locally
- KernelSpec inst

[2022-08-19 20:16] DonJayamanne commented on #11031
@mariosconsta Please could you try installing this VSIX as well and letting me know whether this still crashes.
Thanks again for your help and patience
[ms-toolsai-jupyter-insiders.vsix (1).zip](https://github.com/microsoft/vscode-jupyter/files/9385162/ms-toolsai-jupyter-insiders.vsix.1.zip)

[2022-08-19 20:17] DonJayamanne commented on #11031
Thanks, so far what we have going is working, i'm still trying to gather some more information before I start working on this issue.

[2022-08-19 20:51] mariosconsta commented on #11031
Just like the last VSIX, works like a charm. The cell runs instantly without issues.

![image](https://user-images.githubusercontent.com/22726730/185705224-f6ae2753-fdc8-40be-b006-9b0156d2701a.png)

[2022-08-19 20:56] mariosconsta commented on #11031
Also like before, no output. Could this be the issue? The output? I did some testing and I was able to output large text without issue using a for loop.

You can check the recording here:
[demo2.zip](https://github.com/microsoft/vscode-jupyter/files/9385382/demo2.zip)

[2022-08-19 22:34] rebornix opened #11161 "Show in editor progress when connecting to a kernel"
Jupyter extension presents all available Jupyter kernel specs, remote Jupyter server and Python environments to users when users open a notebook. The selected kernel doesn't necessarily have all the dependencies installed or might be slow to connect to, meaning when users click the run button on a cell, users are not likely to get execution results immediately. The delay might be seconds, or minut

[2022-08-19 23:08] vrpatil131 commented on #1654
Thanks, this seems to be the best workaround so far. Manually started a Jupyter server on remote machine, connected VSCode to it using "Jupyter Server: Remote" option and verified through Jupyter logs (on remote machine) that VSCode window reload, VPN disconnect or quitting and restarting VSCode doesn't kill the current kernel which means all Jupyter state variables are retained.

[2022-08-21 22:51] DonJayamanne commented on #1654
@vpatil131 @zpincus @8enmann @michaelsanchez-pingidentity
 Its my understanding that this issue is focused on re-connecting to a remote computer
By `Remote` I mean the Jupyter server is running on a remote Machine and VSCode is locally running and you connect to the remote Jupyter server using the remote Jupyter Connection feature in the Jupyter extension.
If however you launch VS Code on the remo

[2022-08-21 22:51] #1654 closed

[2022-08-21 23:11] DonJayamanne commented on #9397
We can add these into another hidden metadata or the like.
Lets explore different options. E.g. how about a metadata to indicate something needs to be hidden?

[2022-08-21 23:19] DonJayamanne commented on #5072
Closing this issue as this is caused by a Python package thats beyond the control of this exension.
I.e. the Jupyter extension doesn't have any control over how the packages work, I believe the issue might have something to do with how the package is installed locally vs remote, or differences in the version of the package or differences in the Python environments.

[2022-08-21 23:19] #5072 closed

[2022-08-21 23:30] DonJayamanne commented on #9887
Closing this for now, as we currently do not have any plans on supporting this.
This presents a number of challenges such as getting this to work consistenly in all instances of Jupyter, local vs remote and considering the fact that this has been only requested by a single user, I'm closing this for now.

If other feel this is important please feel free to up-vote this issue or create a new issue,

[2022-08-21 23:30] #9887 closed

[2022-08-21 23:34] DonJayamanne commented on #11010
@roblourens @rebornix  do you think we can have some kind of event that would help Jupyter extension determine whether the user renamed a notebook from `x.ipynb` to `y.ipynb`, once we have that we can try to keep the same instance of the kernel for the user.

[2022-08-21 23:48] DonJayamanne commented on #1716
Note: We can check the response headers to determine if the server is running jupyter Jub `z-Jupyterhub-Version`
Such headers are commonly used to inspect the remote web server/application/environment hosting the websites. Very rarely
 hidden/remoted, e.g. Banking websites.

[2022-08-21 23:51] DonJayamanne commented on #5324
Not required anymore

[2022-08-21 23:51] #5324 closed

[2022-08-22 00:06] DonJayamanne commented on #10623
@Fernando961226 apologies for not getting back to you for a while.
Please could you:
* Export the conda environment into a yml file using the command `conda env export > environment.yml`
    * Please do this after you have activated your conda environment in the temrinal

[W 14:23:26.044 NotebookApp] Unhandled error

This seems to be related to https://github.com/jupyter/notebook/issues/5345
You m

[2022-08-22 00:11] DonJayamanne commented on #8148
Closing this issue as its been over 4 weeks, since the information was requested.
We'll be happy to reopen the issue when the requested information has been provided.

[2022-08-22 00:11] #8148 closed

[2022-08-22 00:18] DonJayamanne opened #11164 "Summary of problems with starting/connecting to Kernels in VS Code"
**Environment Variables**
* User Env Variables & Paths have been inherited from the shell
    * When users start Jupyter, they launch Jupyter from a Terminal, hence the env variables have been loaded
    * E.g. user updates a custom env variable in the shell and when they launch Jupyter, it will get the latest env vars
    * This is not the case with VS Code.
    * Users might have to completely e

[2022-08-22 00:34] DonJayamanne commented on #1122
Closing this issue, as this is old and outdated now.

[2022-08-22 00:34] #1122 closed

[2022-08-22 00:35] DonJayamanne commented on #10629
[shortorian](https://github.com/shortorian) are you still running into this issue.

[2022-08-22 00:38] DonJayamanne commented on #10892
@amunger
Please could you let me know what is required here?
* Do we just need telemetry in our integration tests?
* Do we just need LOGGING of telemetry in our integration tests and not have them sent?
* Or is the issue the fact that we do have telemetry working, but are missing some additional information that we have in perf & smoke tests?

[2022-08-22 01:14] DonJayamanne commented on #11110
Hmm, I've just tested this again in Jupyter NOtebook and as you can see, this doesn't work at all in Jupyter Notebooks, no matter how many times I run the cell.
Not, sure what Jupyter Hub is doing, but I'm going to close this issue as it doesn't work in Juptyer Notebooks, hence if it doesn't work in VS Code as well, then I think thats expected (i.e. doesn't need to be addressed).

![Recording 2022

[2022-08-22 01:27] DonJayamanne commented on #10997
Found that for some reason VS Code isn't respecting the order of the mime types

[2022-08-22 01:39] DonJayamanne commented on #10422
I personally think we should revert the code added in the previous PRs used to address this issue (as it doesn't work), and re-do this as extension into the notebook Markdown renderer as described here `These lines should inject a stylesheet into the markdown cells of notebooks`

[2022-08-22 01:41] DonJayamanne commented on #10285
Closing this issue for now, as we have another tracking this same thing

[2022-08-22 01:41] #10285 closed

[2022-08-22 01:45] DonJayamanne opened #11168 "Deprecate `jupyter.generateSVGPlots`"
This was added to have a high resolution SVG for plot viewer.
however we found that a number of users ran into issues as the generated notebook would end up being a few GB into of a mere few KB, hence the notebook was no longer usable (could not share the file and the like).

Note: The default value of `generateSVGPlots` used to be `true`, however now this is `false`.
I think this can now be remov

[2022-08-22 01:51] DonJayamanne commented on #10088
I'm running into the exact same behaviour when using Jupyter lab.
Basically the output generated by Matplotlib doesn't contain the necessary metadata to tell the front end whether to use a white background or not.

Using the above to generate SVG images is a work around, a work around for a problem that exists in Jupyter lab as well. Jupyter Notebooks don't have this issue as it is always presente

[2022-08-22 01:51] #10088 closed

[2022-08-22 01:53] DonJayamanne commented on #9975
Closing this issue for now, as we alraedy have a few issues tracking file sync and also issue for UI.

[2022-08-22 02:04] DonJayamanne commented on #8078
Closing for now. If telemetry isn't coming out and not seen, then either telemetry isn't used, hence makes one wonder why telemetry was added in the first place.

[2022-08-22 02:04] #8078 closed

[2022-08-22 02:05] DonJayamanne commented on #7983
Closing this issue as its been over 4 weeks, since the information was requested.
We'll be happy to reopen the issue when the requested information has been provided.

[2022-08-22 02:05] #7983 closed

[2022-08-22 02:06] DonJayamanne commented on #7901
Closing this issue as completed, all that is pending in distribution of zmq  and 2 items related to selecting the right python env from the kernel picker.

[2022-08-22 02:06] #7901 closed

[2022-08-22 02:21] DonJayamanne commented on #7799
Closing this as the whole telemetry genrattion will be reviewed when automating GDPR and the like,

[2022-08-22 02:21] #7799 closed

[2022-08-22 02:21] DonJayamanne commented on #7798
Closing for now, as this will be reviweed when automating GDPR tooling

[2022-08-22 02:21] #7798 closed

[2022-08-22 02:25] DonJayamanne commented on #7408
Suggestion:
We might want to display a warning or the like when we detect `%matplotlib notebook` with more informaiton

[2022-08-22 02:35] DonJayamanne commented on #5386
I'm closing this issue as the problem exists in Jupyter Classic as well.
I would think the problem should be fixed somewhere lower like IPython or the like, so that it works as expectedin Juptyer Classic, Jupyter Lab and other places like VS Code.

Again, closing as this is an issue outside of VS Code as well.

[2022-08-22 02:35] #5386 closed

[2022-08-22 02:37] DonJayamanne commented on #5041
Closing this for now, if the problem persists, please feel free to re-open this issue or please create a new one and i'll look into that.

[2022-08-22 02:37] #5041 closed

[2022-08-22 02:38] DonJayamanne commented on #4757
@jonsequitur is this still an issue in the latest version of VS Code?

[2022-08-22 02:41] DonJayamanne commented on #4311
Fixed in the latest version of VS Code, see here https://code.visualstudio.com/updates/v1_70#_go-to-most-recently-failed-cell

[2022-08-22 02:41] #4311 closed

[2022-08-22 02:42] DonJayamanne commented on #4118
Closing this, as i don't think its a good idea given the complexity of widgets

[2022-08-22 02:42] #4118 closed

[2022-08-22 02:45] DonJayamanne commented on #8709
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/1308

[2022-08-22 02:45] #8709 closed

[2022-08-22 03:15] DonJayamanne commented on #1414
Closing this for now, as we haven't had any users report any issues since

[2022-08-22 03:15] #1414 closed

[2022-08-22 03:16] DonJayamanne commented on #1609
Closing this issue for now, if this issue still persists, please feel free to comment on this, or re-open this issue or create a new one and I'll look into it

[2022-08-22 03:16] #1609 closed

[2022-08-22 03:19] DonJayamanne commented on #1577
Closing this issue for now, as its been open for 3 years and we've only had a single upvote on this feature request

[2022-08-22 03:19] #1577 closed

[2022-08-22 03:20] DonJayamanne commented on #4555
Duplicate of #1542

[2022-08-22 03:20] #4555 closed

[2022-08-22 03:21] DonJayamanne commented on #9975
Closing as a dup of [#1366](https://github.com/microsoft/vscode-jupyter/issues/1366)

[2022-08-22 03:21] #9975 closed

[2022-08-22 03:57] DonJayamanne commented on #8446
This doesn't work because we're not honoring the `isolated` flag, which results in the content being rendered in an iframe

[2022-08-22 04:04] DonJayamanne commented on #1308
![Screen Shot 2022-08-22 at 14 03 32](https://user-images.githubusercontent.com/1948812/185837235-48caaa5d-7616-41ba-a570-731f1640ec53.png)

[2022-08-22 04:34] DonJayamanne commented on #11113
Here you go, please could you:
* Change logging to just `debug` in the Jupyter extension,
    * Add the following into your use settings `"jupyter.logging.level": "debug"`
    * Reload VS Code
    * Let me know if there's an improvement
    * Want to check if the perf issue is due to the excessive logging
* Try installing each of these Extensions (custom builds) and let me know the result of each

[2022-08-22 04:42] DonJayamanne commented on #11031
Internal note: Blocked on upstream issue https://github.com/microsoft/vscode/issues/146768

@mariosconsta I'm sorry, but I dont follow you.
From what I understand with the VSIX i provided, it doesn't crash anymore, however hot output is displayed is that right.

Currently the extension host seems to crash due to the size of the output generated.

[2022-08-22 06:47] liuzj039 commented on #11113
Thank you for your help. But after I modified the logging level, and to make sure the problem is not caused by a remote jupyter server, I also set to local mode this time. However, this problem still exists.

And there seems to be no difference in this issue on these three custom plugins.
This is the corresponding log files.
[jupyter_3_output.txt](https://github.com/microsoft/vscode-jupyter/files/

[2022-08-22 06:48] SophyGao commented on #11119
@DonJayamanne Thanks for your quick response. Forget to check the github daily. Looks like the issue still the same. Below is the log, thanks!
[jupyter log.txt](https://github.com/microsoft/vscode-jupyter/files/9391898/jupyter.log.txt)

[2022-08-22 07:03] DonJayamanne commented on #11113
Let me get this right, you have tried all three zip files I have provided and none of them fix the problem is that correct?
Please could you confirm that.
I'll provide yet another VSIX to confirm a hypothesis I have.

[2022-08-22 07:04] DonJayamanne opened #11170 "CellOutputMimeTypeTracker not used in web"
Do we still need this, can we make this better?

[2022-08-22 07:21] mariosconsta commented on #11031
Both VSIX you provided do not crash but do not show any output either.

I see, well let me know if you need anything from me and if there's any way to work around this problem.

[2022-08-22 07:47] liuzj039 commented on #11113
Yes, I installed the vsix you provided on the server side of vscode using `code --install-extension`, started testing after restarting vscode, and after testing I will uninstall the currently installed plugin and test the next one.

Thank you again for your help.

[2022-08-22 07:53] DonJayamanne commented on #11113
please ignore the output in the log , and lets focus on the problem and not necessarily the symptom

[2022-08-22 08:13] eric-wieser commented on #10422
IMO the bug here is that the jupyter notebook viewer doesn't respect `markdown.previewStyles`; if other vscode extensions add extra styles for markdown, these should probably be visible in jupyter notebooks too.

[2022-08-22 08:55] tony-maynard commented on #11110
@DonJayamanne Can you tell me how you're running Jupyter? With this `docker-compose.yaml` file I get the following
[code]
<img width="1009" alt="Screenshot 2022-08-22 at 09 54 37" src="https://user-images.githubusercontent.com/85884885/185881375-19cb6253-457d-4e74-a3ee-ca6fbfe629c0.png">

[2022-08-22 09:04] ptoyip commented on #11078
Sorry for the late reply.
I've follow the same procedure you said, but wired things happened. In the new VS Code insiders, I can't find the same issue happened. But in VS code, the same kernel still showed
kernel selection in VS Code Insider:
<img width="604" alt="螢幕截圖 2022-08-22 16 40 15" src="https://user-images.githubusercontent.com/74693268/185880858-17135a0c-a093-4cc5-8b55-1a84e585d6a1.png">

[2022-08-22 09:49] DonJayamanne commented on #11110
looks like you are using jupyter lab.
will check this out tomorrow

[2022-08-22 11:32] mariosconsta commented on #11031
@DonJayamanne by the way, if you saw the recording in the demo2.zip, I printed only the layers of the model using a for loop, which is a very lost list of text, and it runs instantly.

[2022-08-22 12:58] kurazu commented on #11014
I also experience this bug. I haven't been using the extension previously, so can't say if it was working previously.
![image](https://user-images.githubusercontent.com/903740/185925970-7464ad4e-5ee7-49d5-9e8f-f9f092311497.png)

VS Code Version:
[code]

Jupyter extension: `v2022.7.1102252217`

Python: `3.8.10`

Relevant installed packages:
[code]

[2022-08-22 13:05] DonJayamanne commented on #4404
re-opening this so we can track this issue

[2022-08-22 14:51] minsa110 commented on #11071
Closing, since it doesn't work on other tools as welll

[2022-08-22 14:51] #11071 closed

[2022-08-22 16:31] crazy4pi314 commented on #11080
There is definitely a UI issue, when I am connected to a remote kernel (like this is with an Azure ML compute) I would assume all kernels are remote, so I was not clear what the local ones were.

I have tried to reproduce this list of kernels, but with the most recent vs code update, I am now getting this list of notebook kernels when launching from Azure ML studio:
<img width="1926" alt="image" s

[2022-08-22 16:49] mihaiconstantin commented on #9816
@greazer I am facing the same issue, and the answer is yes--I use `python` installed via `homebrew`.

[2022-08-22 17:03] IanMatthewHuff commented on #11080
@crazy4pi314 Thanks for the screenshot, that's helpful. We have a few methods of detecting what kernels / python environments are available on a system then we have a de-duplication process to try to remove options that might be covering the same things. From what I'm seeing it looks like that de-duplication process might be missing here for those Conda / KernelSpec options. If two options have th

[2022-08-22 17:05] IanMatthewHuff commented on #10300
Validation notes:
Main scenario here is just that after inputting an incorrect Jupyter password the UI would not allow you a chance to re-connect with the correct password.

To note, we are currently running a UI experiment with remote server selection, so your experience might be a bit different if you are in the experiment or not.

1. Not in the experiment, a failed password should drop you back

[2022-08-22 17:12] IanMatthewHuff commented on #11159
Breaking down the list above some here are the props that we can use to distinguish on.

- Used Before
- Manually Selected or Hidden
- Type (KernelSpec / Environment / Session)
- Actively running
- KernelSpec registration location (Global / Environment)
- Environment registration location (Global / Local)
- Environment ipykernel install status
- Environment version
- Environment matches current sh

[2022-08-22 18:03] irfan7junior opened #11171 "Object Attribute Explorer Not Working"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

I created a class in one cell, and at the bottom, I was creating the object and calling its attribute. Earlier while clicking ctrl + space it used to show me the methods or attributes that are available in the class but now it doesn't.
When I disabled the

[2022-08-22 18:12] DonJayamanne commented on #11014
@kurazu
Please could you:
* Capture all of the output from the `Jupyter` output panel (you can get there using the command `Jupyter: Show Output` from the command palette),
    * please copy everything and upload that here
    * Please ensure you first run the cell with tqdm
* Once you have executed the cell, please could you upload the ipynb file as well, I'd like to see the contents of the ipynb

[2022-08-22 18:33] DonJayamanne commented on #11073
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/10859

[2022-08-22 18:33] #11073 closed

[2022-08-22 18:35] roblourens commented on #11010
Can you use `vscode.workspace.onDidRenameFiles` for this?

[2022-08-22 18:53] kurazu commented on #11014
@DonJayamanne here are the requested files:
[jupyter_output.log](https://github.com/microsoft/vscode-jupyter/files/9396830/jupyter_output.log)
[test.ipynb.txt](https://github.com/microsoft/vscode-jupyter/files/9396837/test.ipynb.txt)

For completeness: the same notebook does work fine in plain `jupyter notebook` through the browser:
![image](https://user-images.githubusercontent.com/903740/1859970

[2022-08-22 19:02] DonJayamanne commented on #11014
@kurazu can you run the following:
`pip freeze | grep -E '(jupyter|tqdm|ipy)'

I'd like to see versions of ipywidgets, ipykernel, ipython

[2022-08-22 19:08] kurazu commented on #11014
@DonJayamanne here you go:
[code]

[2022-08-22 19:10] quaesitor-scientiam opened #11174 "Extension activation failed [TypeError: s.notebooks.onDidChangeCellMetadata is not a function]"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

Open .ipynb and Jupyter extension automatically fails after upgrading VSCode

Visual Studio Code (1.70.2, undefined, desktop)
Jupyter Extension Version: 2022.2.1030672458.
Python Extension Version: 2022.4.1.
Info 19:03:21: ZMQ install verified.
Error 19:03

[2022-08-22 19:11] quaesitor-scientiam commented on #11174
Running on RHEL8 environment

[2022-08-22 19:12] #11137 closed

[2022-08-22 19:53] irfan7junior commented on #11171
thanks a lot, @IanMatthewHuff, it worked. You can close the issue now.

[2022-08-22 20:06] #11171 closed

[2022-08-22 20:56] IanMatthewHuff commented on #11077
@minsa110 I think that #11159 is going to address many of the questions that you asked regarding Scenario 2. I don't think the UX walkthroughs will have the full info on what kernels make the "short-list" cut line, that will be up to us to figure out.

Scenario 3 I go have to admit I didn't quite grok the same way that Scenario 2 made sense to me. I think the only main reason might be that the bac

[2022-08-23 01:14] stevenlis opened #11175 "Dataframe display is not in monospaced font in interactive window"
## Environment data

Version: 1.70.2
Commit: e4503b30fc78200f846c62cf8091b76ff5547662
Date: 2022-08-16T05:38:59.695Z
Electron: 18.3.5
Chromium: 100.0.4896.160
Node.js: 16.13.2
V8: 10.0.139.17-electron.0
OS: Darwin arm64 21.6.0

Jupyter extension: v2022.7.1102252217
Python extension: v2022.12.1

[code]

## Expected behaviour

Dataframe display should be in monospaced font in html

According to this

[2022-08-23 08:40] zi0Black opened #11176 "Broken VSIX Install Package"
### Applies To

- [ ] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

The VSIX package seems to be broken.

VS Code logs (logs from the manual package installation in the Jupyter logs section):
[code]
Download link: https://marketplace.visualstudio.com/_apis/public/gallery/publishers/ms-toolsai/vsextensions/jupyter/2022.8.10

[2022-08-23 08:43] SimiPixel opened #11177 "Jupyter processes persist after closing VS-Code on Remote SSH"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

VS Code does not seem to stop running jupyter kernels when restarting notebooks or even after closing VS Code.
This over time 1-2 days leads to insane memory usage of 32 GB of Ram with nothing opened on my PC (other than htop).

I recently upgraded to Ubun

[2022-08-23 13:22] DanielSoenarto opened #11222 "Running a Python Program in Visual Studio Code Using Jupyter Notebook Extension Consumes C Drive Storage"
I have a 2 drives on my laptop (HDD and SSD). My SSD is around 128 Gb.

Currently I'm doing a Python project in signal processing using a library/module called WFDB. The dataset is pretty large (around 1.6 Gb).

I don't know why every time I run a code which looped all the signals and filter, stacking those into new variables, it consumes my C drive like crazy. When I closed it, the memory of the

[2022-08-23 15:22] jonsequitur commented on #4757
No, this is no longer an issue.

[2022-08-23 17:37] jvaesteves commented on #11126
Hello @DonJayamanne , sorry for taking so long to reply to you.

That's the point, I don't execute any other command on terminal besides the ones I listed on the `Steps to reproduce` section of the issue. The only other command that is executed automatically when I open my terminal on VSCode is to activate my venv.

[code]

[code]

[2022-08-23 18:07] IanMatthewHuff commented on #10295
I think this is more debugging than getting started since it's a debugging specific feature that needs the update.

[2022-08-23 18:30] roblourens commented on #10295
The latest telemetry on ipykernel versions shows <8% of users with ipykernel 5. At some point these issues just won't be that relevant.

[2022-08-23 21:46] DonJayamanne commented on #4757
Thanks, closing this issue for now.

[2022-08-23 21:46] #4757 closed

[2022-08-23 21:52] DonJayamanne commented on #11126
Thanks,
Do you have some shell extension that automatically activates your poetry environments based on the folder you are in the shell.

[2022-08-23 23:56] roblourens commented on #7869
Works now 👍

[2022-08-24 00:46] DonJayamanne commented on #11137
No more flaky tests, hence marked as verified

[2022-08-24 00:47] DonJayamanne commented on #10665
One part of the issue was verified as fixed, and we ended up creating a new issue for the other part of the issue.
Hence marking this issue as verifed

[2022-08-24 00:48] DonJayamanne commented on #10595
@roblourens can you provide some instructions on what needs to be tested here (i.e. how to verify this issue)

[2022-08-24 00:52] DonJayamanne commented on #7788
Marking as verified as we always end up selecting a kernel no matter what, and user can change this if we get erroneous error messages

[2022-08-24 04:19] DonJayamanne commented on #10375
Steps to verify:
* Open workspace folder
* Create a python file named `code.py` in root directory
* Create a python file named `sample.py` in root directory with the following content
[code]
* Run the above cell and verify you get a message about `code.py` causing issues with kernel
* Repeat the above step with a notebook and verify you get a similar message warning about `code.py`.

[2022-08-24 10:42] drpepper19 commented on #10467
+1. It is impossible to see what or where the error is right now. I have no problem if longer errors are opened in a text editor, as long as I can read it :)
@srobertjames - For a temporary workaround I tried the Notepad++ plugin named HTML Tag to decode JS. This got rid of the endless \u001b 's but it is still far from readable...

[2022-08-24 12:36] carlthome commented on #11014
Same problem here. Used to see them, but not anymore.

[2022-08-24 12:37] carlthome commented on #11014
[code]

[2022-08-24 13:32] matangover commented on #8668
Adding sub-request to this feature -- it should work even when the result is not stored in a named variable. This can be done by taking the output value from IPython's `Out` object.

[2022-08-24 13:42] matangover commented on #5229
The following requests seem related/duplicate, consider merging the upvotes: #1448, #8668

[2022-08-24 14:36] jtchilders opened #11179 "Jupyter Scrolling during looping pyplot output"
### Applies To

- [ ] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

I often use the strategy below in jupyter notebooks to see updating plots during a machine learning training or similar iterative algorithms. It involves using `pyplot` to plot data during the loop execution, while clearing the previous plot so that there

[2022-08-24 15:33] IanMatthewHuff commented on #11179
@DonJayamanne Might actually be a core rendering issue for @rebornix ?

[2022-08-24 16:26] DonJayamanne commented on #11014
Hi @kurazu @carlthome
I'm sorry about this bug,
# this is a caused by Jupyter extension not supporting the latest version of IPYWidgets 8.0.
# As a work around, please downgrade IPYWidgets to 7.xx

Duplicate of #8552

[2022-08-24 16:26] #11014 closed

[2022-08-24 16:26] DonJayamanne commented on #11014
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/8552

[2022-08-24 16:28] roblourens commented on #10595
Steps:

- Set `"notebook.cellToolbarVisibility": "hover"`
- Start RBL in cell A
- Hover cell B, it should not show the RBL buttons that cell A's toolbar has

[2022-08-24 17:18] roblourens commented on #7407
Weird - the first time, it rendered correctly but I got the error notification. I reloaded the window and tried again, and now I only get the text output

<img width="748" alt="image" src="https://user-images.githubusercontent.com/323878/186481579-a81745b9-4904-4460-bf45-f38ac9c368ae.png">

<img width="618" alt="image" src="https://user-images.githubusercontent.com/323878/186482109-8d54791d-dd10-4

[2022-08-24 17:52] DonJayamanne commented on #7407
@roblourens
* Do you have a custom value defined for `jupyter.widgetScriptSources` (or is it the default)
* When you run the the cell and end up with the text output, can you share the logs, both VS Code console window as well as Jupyter output

[2022-08-24 18:04] DonJayamanne commented on #11177
@SimiPixel
Thanks for filing this issue, I can see two problems that you are running into, but lets first focus on the issue of processes not being killed. The other has to do with conda not having been setup (or at least thats what the extension thinks), we can focus on that later

**Please could you:**
* Exit VS Code completely
* Kill all of the above Python processes
* Confirm everything has be

[2022-08-24 18:17] DonJayamanne commented on #11110
I'm sorry, but I've tried instlalling the very latest versions of Jupyter Notebook and Jupyter lab manually using pypi and can replicate the same exact problem.
I've tried the docker file you have provided and can repro this there as well,
Jupyter Lab doesn't work for me in the container you have provided.
Either way, if you were to ignore the above docker file and just install this manually from

[2022-08-24 18:17] #11110 closed

[2022-08-24 18:51] logar16 opened #11181 "Too much success!"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

When a cell successfully executes, I get a little green check mark to indicate success.  Sometimes these marks keep getting added instead of just re-using the first one.  So I end up with 15+ checks across the bottom of my cell.  This looks weird.

![image

[2022-08-24 18:55] IanMatthewHuff commented on #11181
@logar16 Thanks for filing this. Have not seen something like this before. I'll look at reproing it. Anything in particular that triggers this behavior? Or just something that shows up to you relatively often?

[2022-08-24 18:57] logar16 commented on #11181
I've just started noticing it recently.  I have recognized a pattern yet.  But I do frequently have exceptions, so many having something around it fail and then succeed gets it in a weird state?  I'll try to pay more attention to when it starts happening.

[2022-08-24 19:18] logar16 commented on #11181
I also restart my kernel a lot, which may have something to do with it too.

[2022-08-24 19:53] roblourens commented on #11026
https://github.com/microsoft/vscode-jupyter/issues/7670

[2022-08-24 19:53] #11026 closed

[2022-08-24 19:57] #7728 closed

[2022-08-24 20:35] roblourens commented on #7407
I did have that setting. Not sure where it came from. I commented out and now rendering this output seems to be working consistently.

[2022-08-24 20:35] #7407 closed

[2022-08-24 21:27] DonJayamanne opened #11183 "Stop pinning pythreejs"
Currently we pin pythreejs to 2.3.0 to get the tests working.

[2022-08-24 21:42] DonJayamanne commented on #7583
@karrtikr
**Scenario**
* User has two python environments A and B
* How many times can the onDidEnvironmentsChanged get triggered?
    * Is it possible for this to get triggered twice, once for A and once for B and then again for A and B with `type = "update"`.
    * It is my understanding that this is possible, if yes that's fine, as the even arg `type` clearly indicates the type of change.
* Ass

[2022-08-24 21:47] DonJayamanne commented on #11183
PR that pinned the version https://github.com/microsoft/vscode-jupyter/pull/11182

[2022-08-24 21:51] DonJayamanne commented on #11174
Thanks for filing this issue

You seem to be having a very old version of the Jupyter exesnion.
Please update the jupyter extensison to the latest version and this problem should go away.
YOu might want to update your Python extension as well, as that too could cause other issues & failures.

[2022-08-24 21:51] #11174 closed

[2022-08-24 23:26] loftusa commented on #10887
I am getting this error as well. Fresh Ubuntu install.

[2022-08-25 00:12] qizhou000 opened #11185 "Python processes are not terminated after restarting the jupyter kernel or closing the interactive window."
### Applies To

- [ ] Notebooks (.ipynb files)
- [X] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

**Steps**

1. Open a python file with VSCode and supervise the task manager, as shown below:
![image](https://user-images.githubusercontent.com/37895152/186548039-4e2227f4-8e4a-4147-8651-709243dcde1b.png)

2. Press `Ctrl + Enter` to run the code. Two pytho

[2022-08-25 01:24] DonJayamanne commented on #11185
I'm unable to replicate this at my end, its possible this has been fixed as part of the issue https://github.com/microsoft/vscode-jupyter/issues/9909
Please could you try installing the latest Pre-Release version of the Jupyter extension, then try again.

If the problem persist, then please could you upload the logs from the `Jupyter` output panel, you can get there output using the command `Jupyt

[2022-08-25 02:02] karrtikr commented on #7583
Yes that's possible. The `add` event should only be triggered once, `update` type can be triggered multiple times.

Are you asking if the information which is returned will be the same as the stable information after full discovery? Yes. However it won't wait for discovery to finish, so env discovery can be still in progress after this method returns.

Yes, `update` type events can still get fired

[2022-08-25 02:07] qizhou000 commented on #11185
Thank you! The problem is indeed solved after installing the latest Pre-Release version of the Jupyter extension.

[2022-08-25 02:41] DonJayamanne commented on #11185
let's close this as resolved
thanks for the confirmation of the fix
duplicate of #9909

[2022-08-25 02:41] #11185 closed

[2022-08-25 02:43] DonJayamanne commented on #7583
thanks, curious then what wrong with the jupyter extension calling the

[2022-08-25 06:21] karrtikr commented on #7583
If kernel picker cannot work with partial details, there's nothing wrong it. `getEnvironmentDetails` returns the full details which is exactly what is needed. However it blocks running the interpreter to get details, so it's slower.

If it was possible for picker to display partial version information etc. and later update it, API offers the flexibility to display the info earlier so it can be sel

[2022-08-25 06:35] steviio commented on #6510
Hi Don, your VSIX `v2022.2.1000910445` still works on the latest version of Mac M1 VScode according to my trial, however I find out the newest `jupyter v2022.7.1102252217` don't have the same feature, will your excellent fix be added into further official release?

[2022-08-25 07:36] SimiPixel commented on #11177
I can confirm that using the most recent version of `stable` the processes do hang around even after closing VSCode. In fact i can not even kill them, logging out and back in is the only to me known solution on how to get ride of them easily.

However, i can also confirm that this problem does *not* exist when using VSCode Insiders + Jupyter Pre-Release. Just in case you are interested. This is th

[2022-08-25 07:40] kurazu commented on #11014
@DonJayamanne Thank you!

I confirm that pinning `ipywidgets>=7.0,<8.0` solves the issue.

[2022-08-25 09:22] SimiPixel commented on #11177
Well, i spoke too soon.
SSH-ing to a Workstation (Ubuntu 20) leads to the identical bug despite the use of Insiders + Pre-Release.

This is an example log from the workstation.
What is somewhat odd is that it again says that conda is not set up but it works just fine.

Local Stable: Unhappy with conda, Process-bug
Local Insiders: Happy with conda, No Process-bug
Remote Insiders: Unhappy with conda

[2022-08-25 09:22] DonJayamanne commented on #7583
not sure what your mean by this?
are you saying that if i call `getEnvironmentDetails` once then env type could be `Foo` and then call it again then it could be `Bar`.
from what i can tell them only way to get the env type is via the above api method.

[2022-08-25 10:04] r3m0t opened #11187 "Can't debug an infinite loop using run-by-line (can't interrupt kernel after disconnecting run-by-line debugger)"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

Created a cell with infinite loop

[code]

Add a breakpoint to the first cell

Created another cell which calls into that cell
[code]

Debug the second cell

You are now debugging and able to step through. Debug toolbar is visible.

The debug toolbar doesn

[2022-08-25 10:12] DonJayamanne commented on #11177
Please could you file a separate bug for the above issue. I'd like to take a look at that as well, but seprately, else it gets too confusing when we look at multiple problems in the same issue.

I'm going to rename the title of this extension to reflect the fact that this issue now only persists on remote SSH

[2022-08-25 10:21] DonJayamanne commented on #11177
@SimiPixel
Thanks for the screenshot, a few questions.
* Is that showing the number of Pyhton processes running? Looks like in excess of 20 of them, is that correct?
    * I don't quite understand how so many of them could have started, he only hypothesis I have is, that they have been started via some code in the kernel. Are you running some special code that ends up creating these `n` python pro

[2022-08-25 11:27] SimiPixel commented on #11177
*Is that showing the number of Pyhton processes running? Looks like in excess of 20 of them, is that correct?
I don't quite understand how so many of them could have started, he only hypothesis I have is, that they have been started via some code in the kernel. Are you running some special code that ends up creating these n python processes?*

I realised that it might also show threads. I am switc

[2022-08-25 12:22] aiday-mar commented on #10375
I get the following error  in both cases:

i.e.: the module "code" could not be imported because it is shadowed by:
c:\Users\t-aidaym\work\test\code.py
Please rename this file/folder so that the original module from the standard library can be imported.

Which I suppose is expected, so I will put the verified label on it.

[2022-08-25 15:12] roblourens commented on #11187
I'll have to look into why that toolbar button is disabled. It seems that the stop button on the cell (where the run button normally is) is enabled and works fine when debugging.

[2022-08-25 15:57] IanMatthewHuff opened #11190 "Export a basic notebook document with nbconvert test is failing"
Failing on Insiders builds consistently.

<img width="523" alt="image" src="https://user-images.githubusercontent.com/812783/186713044-c177b83a-0953-4f61-9f5c-59e8cc0615e6.png">

These two builds only. From this change:
https://github.com/microsoft/vscode-jupyter/runs/7959359559?check_suite_focus=true

[2022-08-25 15:59] IanMatthewHuff commented on #11190
I have context here already so I'm investigating.

[2022-08-25 16:21] karrtikr commented on #7583
If called with `useCache: false`, it returns the final env type and the type never changes.

If called with `useCache: true`, it returns partial info, it may return a env type that can change later. The Venv to Pipenv case we talked about earlier. If Jupyter is interested in this option, I can potentially look into improving this scenario, so that env type never changes. Let me know.

[2022-08-25 16:29] roblourens commented on #10797
@DonJayamanne when there's nothing to verify, you can remove the milestone/label so it doesn't show up in the verification query

[2022-08-25 16:32] DonJayamanne commented on #11177
Can you run `ps aux ? grep bin/python` after you run a cell and after you close all of the files.
I believe the remaining python process is the one i mentioned that would still hang around.
Ideally you should have 2 python processes after running a cell, and then just 1 after closing all of the files.

[2022-08-25 17:07] nathanterroir commented on #9671
I have been having the same issue for about the last 4 months. It's been incredibly frustrating. I think it's a more prevalent bug than it seemed.

[2022-08-25 17:49] IanMatthewHuff opened #11193 "macOS smoke test is consistently failing on CI"
Need to get this green for the release branch.

[2022-08-25 22:23] rzhao271 commented on #9828
1. Pressing the stop button still does nothing. I have to wait for around a minute to see the message that the server isn't available.
2. One of the messages is in monospace and the link isn't rendered properly:
![Screenshot showing badly formatted message](https://user-images.githubusercontent.com/7199958/186779156-34210724-370f-41e9-9a07-b9b8689831bc.png)

[2022-08-25 22:35] rzhao271 commented on #1110
What are some verification steps for this issue?

[2022-08-25 22:55] rzhao271 commented on #7728
`jupyter.runAndDebugCell` shows up in Notebooks.
`jupyter.debugcurrentcell.palette` shows up when I'm focused on a cell in a Python file that can be made to run in an IW.
When focusing on a cell in the IW, I opened the command palette and searched for debug, but didn't get any results from Jupyter.
I'm wondering what the expected results are?

[2022-08-25 22:57] rzhao271 commented on #10568
This seems like a duplicate of https://github.com/microsoft/vscode-jupyter/issues/9828.

[2022-08-26 00:29] Mjboothaus commented on #1110
As you can appreciate this issue was sometime ago now and while I can recall the behaviour I don't have a specific example at hand.

I suspect both VS code and get pod have changed significantly since then – and I have not been using it pod very much since then because of the issue at the time.

When I get a moment I might re-try using my gitpod environment from before
Cheers

[2022-08-26 00:42] Mjboothaus commented on #1110
https://github.com/DataBooth/db-hello-gitpod

I think the .Gitpod.yaml file in this repo was the example I was running at the time

[2022-08-26 08:48] xxc-zsz opened #11200 "jupyter can't export PDF"
### Applies To

- [X] Notebooks (.ipynb files)
- [X] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

I have installed all the needed things referring to this [link](https://nbconvert.readthedocs.io/en/latest/install.html#installing-tex), but I still get the error when I use juoyter to export the PDF.

[code]
**Simple example**

![image](https://user-image

[2022-08-26 14:47] munael opened #11209 "Tensorboard integration cannot see the needed packages in any conda env on a remote host"
Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual
Using the "launch tensorboard" command gives me options to launch a tensorboard session from a specific directory.

What actually happens is this error:
![image](https://user-images.githubusercontent.com/5769148/186931603-db7153aa-c4bf-4271-af73-e0ee30b26499.png)

Even though the minimum needed versions are installed on all conda envs on the mac

[2022-08-26 15:39] #11190 closed

[2022-08-26 15:46] #11193 closed

[2022-08-26 18:20] IanMatthewHuff commented on #11175
@DonJayamanne This isn't the data frame viewer, just output. Would that be your area? Or @rebornix?

[2022-08-26 18:35] IanMatthewHuff commented on #10710
Test is enabled and I've seen no failures for this recently, closing.

[2022-08-26 18:35] #10710 closed

[2022-08-26 18:36] IanMatthewHuff commented on #10620
I'm closing this down as I don't believe there is anything that we can do on our side specific to the wheel building time. Our main goal here is to make users hit the ipykernel install message way less often, and we have other issues covering that.

[2022-08-26 18:36] #10620 closed

[2022-08-27 02:53] andycraig commented on #1471
Hi @rebornix - messaging you since you're assigned to this issue currently. This is still the feature that would improve the VS Code Python experience the most for me. Is there any interest in the heuristic approach I proposed above? If so I could work on a PR. If not I could create an extension to provide this functionality.

Note that there are two feature requests in this issue:

I'm mainly tal

[2022-08-27 04:45] shortorian commented on #10629
No, I was having a different issue, which turned out to be a problem with my script rather than VS Code or the jupyter extension

[2022-08-27 06:50] DonJayamanne commented on #10629
@Elisa-code184
are you still blocked by this issue?

[2022-08-27 10:15] SimiPixel commented on #11177
After connecting with VSCode to Remote but before running a cell
ps aux
[code]

After running a _specific_ cell

[code]

After closing the notebook in VSCode
[code]

After closing the connection to remote and closing VSCode (connected via Terminal to Remote)
[code]

The notebook-process is still running and also allocating GPU memory.
Nvidia-smi after closing VSCode
![Screenshot from 2022-08-27 12

[2022-08-27 11:14] DonJayamanne commented on #11177
thanks for your help and patience again.
can you turn the logging kernel on to. `verbose`.
go into user settings and search for jupyter logging and changes the value to `verbose`.

then try the same steps and send the logs again

[2022-08-28 14:51] Jaswanth28 opened #11225 "jupyter notebook not working properly"
We have written the needed data into your clipboard because it was too la
Type: <b>Performance Issue</b>

when i execute a cell then the program stucks at goto and not working even after restart and reinstall

VS Code version: Code 1.70.2 (e4503b30fc78200f846c62cf8091b76ff5547662, 2022-08-16T05:35:13.448Z)
OS version: Windows_NT x64 10.0.22000
Modes:

<details>
<summary>System Info</summary>

|Ite

[2022-08-28 22:46] DonJayamanne commented on #11183
Fixed https://github.com/microsoft/vscode-jupyter/pull/11192

[2022-08-28 22:46] #11183 closed

[2022-08-29 08:11] markweberdev opened #11207 "Jupyter fails to activate conda environment on remote SSH"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

**Task:**
I am using VS Code to connect to a remote machine and run a notebook.

**Unexpected behaviour:**

Since last week, I can no longer run a notebook from my local machine A as jupyter fails to activate the conda environment. I get the following erro

[2022-08-29 13:02] yanyu2015 commented on #8563
I have the same problem. the jupyter variable windows is too slow and it may cause my code run slowly. How can it load as fast as spyder‘s variable window？

[2022-08-29 17:17] amunger commented on #10892
The telemetry being sent for each test result in the testHooks file is not actually making it off the box. I worked with Logan and Rick to get it working and wasn't able to, so I planned to just collect test run data from the CI artifacts instead.

[2022-08-29 17:48] rebornix commented on #11161
A good example of how we are missing progress in kernel connection is https://github.com/microsoft/vscode-jupyter/issues/9640#issuecomment-1220044454

[2022-08-29 18:14] IanMatthewHuff commented on #11200
@xxc-zsz At the point this error is happening it's actually nbconvert performing the PDF convert under the covers. Given the error here it sounds like TeX might be installed, but it can't find it on the path. Per some other discussions online it looks like the advice here for getting it onto the path might be helpful, could you please try this out?

https://stackoverflow.com/a/55499329/2654002

[2022-08-29 20:02] DonJayamanne commented on #11207
@markweberdev
We haven't made any changes in the past week. Please could you try reverting the version of Python extension to an older version. I'd like to see if that resolves this issue.

[2022-08-29 20:23] DonJayamanne commented on #11209
Duplicate of https://github.com/microsoft/vscode-python/issues/19591

[2022-08-29 20:23] #11209 closed

[2022-08-29 22:49] IanMatthewHuff commented on #11010
Closing again as I agree with the duplication of #8215. I'll transfer over the info in the comments.

[2022-08-29 22:49] IanMatthewHuff commented on #8215
Info from #11010

@roblourens @rebornix do you think we can have some kind of event that would help Jupyter extension determine whether the user renamed a notebook from x.ipynb to y.ipynb, once we have that we can try to keep the same instance of the kernel for the user.

@[DonJayamanne](https://github.com/DonJayamanne) DonJayamanne added the [info-needed](https://github.com/microsoft/vscode-jupyt

[2022-08-30 02:09] DonJayamanne opened #11217 "Explore supporting IPyWidgets 8"
Investigate what it will take to support IPyWidgets 8
The work to make this possible will be done here https://github.com/microsoft/vscode-jupyter/issues/8552
And this issue focuses on the investigation/exploration.

[2022-08-30 02:13] DonJayamanne opened #11218 "Investigate rendering Vega, Plotly etc outputs when loading an existing notebook"
Related issues
* https://github.com/microsoft/vscode-jupyter/issues/10812
* https://github.com/microsoft/vscode-jupyter/issues/6404
* https://github.com/microsoft/vscode-jupyter/issues/8016
* https://github.com/microsoft/vscode-jupyter/issues/11291
* https://github.com/microsoft/vscode-jupyter/issues/11292
* https://github.com/microsoft/vscode-jupyter/issues/11293
* https://github.com/microsoft/vs

[2022-08-30 02:22] DonJayamanne commented on #11010
@IanMatthewHuff I'd like to keep this open and sepearate from #8215
They are different.
* With #8215, we want to ensure the same kernel is selected,
    * E.g. assume you have kernel A selected with notebook X.ipynb.
    * Now the notebook is closed, and you rename the file.
    * We need to ensure when you open the renamed file the kernel points to `A`.
    * Similar even if the notebook is opene

[2022-08-30 02:30] DonJayamanne opened #11219 "Plan and adopt `exactOptionalPropertyTypes` for TypeScript code"
Just as we adopted strict compilation, we could probably do this on a file by file basis.
& during debt we can optionally fix a bulk of the files (this way the needle moves faster).

Discuss about benefits and whether this is even required.
I personally find this useful, have been running into this and been having trouble defining types without this.
My need stems from having to make the deliberat

[2022-08-30 03:08] jruales opened #11220 "Support opening a notebook with a specific Kernel"
## Environment data

-   VS Code version: 1.71.0-insider (user setup)
-   Jupyter Extension version (available under the Extensions sidebar): v2022.8.1002431052 (pre-release)
-   Python Extension version (available under the Extensions sidebar): v2022.13.12411009 (pre-release)
-   OS (Windows | Mac | Linux distro) and version: Windows 11 Enterprise
-   Python and/or Anaconda version: Anaconda with

[2022-08-30 03:23] jruales commented on #11220
Just for more context, the scenario is the following:

We have an extension that is using a Jupyter extension API to provide us with a list of kernels. Our extension connects to one of them that the user chooses. Then at some point, the user has the ability to export their work as a Jupyter Notebook that is opened as an untitled notebook in a new editor, and we want to make sure that this notebook

[2022-08-30 07:48] SimiPixel commented on #11177
The steps were
1. Open Notebook
2. Run a couple of cells
3. Close notebook

[jupyter_logging_verbose.txt](https://github.com/microsoft/vscode-jupyter/files/9450836/jupyter_logging_verbose.txt)

[2022-08-30 07:52] markweberdev commented on #11207
Thanks @DonJayamanne for your help. I appreciate it!

Unfortunately, these version changes did not make a difference. I tried the following:
[code]

I always get the error, saying that my shell has not been properly configured to use 'conda activate'. (see above). However, switching the tab to the integrated terminal correctly runs conda activate and chooses the correct environment. Also, connecti

[2022-08-30 17:46] olguzzar commented on #11161
I think this proposal would help an issue that I saw when running through the golden scenario. The kernel was still in the "connecting" state, but that was only apparent if you looked at the bottom status bar. While it was still connecting, I was then able to click "Run all", and "Go To" showed the spinning icon. As a user, this indicates to me that the notebook is actively running cells, when in

[2022-08-30 17:57] olguzzar opened #11228 "Export to HTML prompts for Python kernel, then fails"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

While running through the golden scenario, I attempted to export the notebook to an HTML file.

Expected:
After clicking export to HTML, I am prompted to specify a file name. After entering one, the exported HTML file is then generated.

Actual:
After clic

[2022-08-30 18:07] olguzzar commented on #10353
Leaving a comment for awareness- experienced this while running through the golden scenario as well. Recording here: https://msit.microsoftstream.com/video/79a60840-98dc-a27a-e9b5-f1ed287bbe75?st=1000

[2022-08-30 21:13] StevenLi-DS commented on #8983
This does not work, or at least is very unstable. Sometimes, it works in the editor but not the interactive window, and sometimes the other way around. Very often... Neither dot nor brackets notion works at all.

[2022-08-30 21:49] #11219 closed

[2022-08-31 04:19] CrispyJean opened #11234 ""WidgetManager: failed, Loading class" Error in VSCode when calling a toggleButton. No Error. No Output."
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

1. I ran the below snippet of python code in a code cell in a notebook in vscode.

[code]

As I am a beginner with this type of coding, I'm not sure if the above snippet has any issues since it seems to complete with no errors.

In saying that, the output

[2022-08-31 07:57] smeunier-amd commented on #8146
I would love a fix for this issue.

[2022-08-31 18:17] DonJayamanne commented on #11207
@markweberdev
* Please could you install the pre-release version of the Jupyter extension
* Open settings & go into `Jupyter->Logging`
* Change the value to `verbose`
* Reload VS Code,
* Attempt to repro the issue & then copy the output from the `Jupyter` output panel.

We've added some additonal logging in the latest pre-release version of the extension, I'd like to see whats going on.
After that

[2022-08-31 18:19] DonJayamanne commented on #11177
@SimiPixel
Thanks, please could you run just one cell with the code `print("Hello World")`
I want to ensure we don't have any other side effects from other cells, e.g. stuff that uses GPU or the like that could complicate things.
Let me know if that works, if not, I'll send a custom VSIX with additional logging to see whats going on at your end.

[2022-08-31 18:20] DonJayamanne commented on #11126
@jvaesteves
From what I understand things are working now, after you updated the kernelspec.json file, is that right?

[2022-08-31 18:22] DonJayamanne commented on #11078
@ptoyip

Do you have the same version of Python extension installed on both insiders and stable. i suspect you do not.

[2022-08-31 18:25] DonJayamanne commented on #10691
Looks like the root cause of the problem is the Conda Environment isn't getting activated properly on remote SSH.
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/11207

[2022-08-31 18:25] #10691 closed

[2022-08-31 18:27] DonJayamanne commented on #11207
@Sebastian-Belkner
Once I have something I'll ping you with a potential fix or more logging to try and get this resolved.
Please follow this issue for a fix for the problem you raised here https://github.com/microsoft/vscode-jupyter/issues/10691

[2022-08-31 18:59] DonJayamanne commented on #11207
@Sebastian-Belkner @markweberdev
* Please could you install the pre-release version of the Jupyter and Python extension
* Open settings & go into Jupyter->Logging
    * Change the value to `verbose`
* Open settings & go into Python->Logging
    * Change the value to `info`
* Reload VS Code,
* Attempt to repro the issue & then copy the output from the Jupyter output panel & also the `Python` output

[2022-08-31 18:59] DonJayamanne commented on #11234
Duplicate of #8552

[2022-08-31 19:09] DonJayamanne opened #11240 "xeus-sqlite kernel not in the list of kernels"
### Discussed in https://github.com/microsoft/vscode-jupyter/discussions/11236

<div type='discussions-op-text'>

<sup>Originally posted by **bucweat** August 31, 2022</sup>
Trying to xeus-sqlite in a Jupyter notebook in Visual Studio Code so that I can execute sqlite SQL queries directly. So far I've not been able to see/select the xsqlite kernel in Visual Studio Code. I've searched google and he

[2022-08-31 19:11] DonJayamanne commented on #11240
@bucweat

Thanks for filing this issue, its a bug and sorry you're running into this.

* Please could you install the pre-release version of the Jupyter extension
* Open settings & go into `Jupyter->Logging`
* Change the value to `verbose`
* Reload VS Code,
* Attempt to repro the issue & then copy the output from the `Jupyter` output panel.

[2022-08-31 19:14] DonJayamanne commented on #11240
I'm on a Mac my self, however on M1, with Apple Silicon chip and xeus-sqlite isn't available for that chip.
Will try this on windows, in the mean time please send the logs.

[2022-08-31 19:45] DonJayamanne opened #11243 "Remove code related to the experiment `Experiments.EnhancedTooltips`"
This experiment is almost 2 years old,
Either everyone got this feature or we never rolled this out.

@IanMatthewHuff as this related to variable viewer, I'm assigning this to you

[2022-08-31 19:46] DonJayamanne opened #11244 "Update the code that uses the experiments npm package"
* We're using old deprecated API `isCachedFlightEnabled` has been deprecated

Cannot fix this as this is used by code here https://github.com/microsoft/vscode-jupyter/issues/11243

[2022-08-31 19:55] DonJayamanne opened #11245 "Flaky test: Run By Line: Run a second time after interrupt"
1) VSCode Notebook - Run By Line
       Run a second time after interrupt:

      Error: Print during time loop is not working
      + expected - actual

      at Timeout.<anonymous> (src/test/common.ts:59:20)
      at listOnTimeout (node:internal/timers:559:17)
      at processTimers (node:internal/timers:502:7)

https://github.com/microsoft/vscode-jupyter/runs/8121269645?check_suite_focus=true

[2022-08-31 20:12] DonJayamanne opened #11246 "Flaky Interactive Window Export test"
This seems to be failing consistently on remote tests
[code]

https://github.com/microsoft/vscode-jupyter/runs/8121270091?check_suite_focus=true

[2022-08-31 20:13] DonJayamanne opened #11247 "Flaky Interactive window input execution test"
This seems to be failing consistently on remote
[code]

https://github.com/microsoft/vscode-jupyter/runs/8121270091?check_suite_focus=true

[2022-09-01 00:20] Genozen commented on #9967
This issue still exists...
QThans suggested switching to pre-release version which works for me as well...

[2022-09-01 06:57] bucweat commented on #11240
Hi and thanks for the reply.

I should note that I was running VSCodium which does not seem to have the ability to run pre-release version. I reinstalled VSCode...Microsoft happy that I'm once again on their radar...

Also note that I do have Python extension loaded in all cases. So assuming per this comment from the code that it should find non-python kernels like xsqlite: https://github.com/micr

[2022-09-01 08:13] markweberdev commented on #11207
@DonJayamanne Thanks for looking into this. I followed your advice, these are the logs.

Jupiter log:
[code]

Python log:
[code]

[2022-09-01 08:38] DonJayamanne commented on #11207
@markweberdev Looking at your logs, I think things should be working for you just fine.
This is a false positive and i'll ensure we do not log these messages for the default log level.

@Sebastian-Belkner
Please could you send the same logs.

[2022-09-01 08:55] markweberdev commented on #11207
Oh yes, you're right! Thanks! It looks like it works now. I didn't try to execute the notebook today, as the error message was the same as last week, when I couldn't execute any cell.

[2022-09-01 14:21] r3m0t commented on #10467
The workaround is to add this code cell at the start of your notebook

`%colors nocolor`

If you also want a more compact view of the source code in the traceback, you can add to the same cell

`%xmode plain`

https://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-colors

https://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-xmode

[2022-09-01 17:08] roblourens commented on #11245
Log seems to show that debugging broke, we are sending stepIn but never stopping. The DA only sends "continued" events.

[2022-09-01 17:13] roblourens commented on #8753
https://github.com/microsoft/vscode-jupyter/issues/11245

[2022-09-01 17:13] #8753 closed

[2022-09-01 17:17] roblourens commented on #11245
And https://github.com/microsoft/vscode-jupyter/runs/8109923123?check_suite_focus=true

[2022-09-01 17:22] roblourens opened #11259 ""Does not stop in other cell" flaky test"
https://github.com/microsoft/vscode-jupyter/runs/8120140565?check_suite_focus=true

[code]

[2022-09-01 17:23] #11259 closed

[2022-09-01 17:53] greazer opened #11260 "Click out from Az ML Studio to VS Code doesn't select the right environment."
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

1. Open a notebook in Azure ML Studio.
2. Run a cell or two. In particular run this code:
[code]
Take note of the python version. In my case it's ```3.8.5 (default, Sep  4 2020, 07:30:14) \n[GCC 7.3.0]```

3. Click out to VS Code using the button at the to

[2022-09-01 20:45] slishak opened #11262 "Two "Cancel" buttons when interrupting the kernel times out"
## Environment data

-   VS Code version: 1.70.2
-   Jupyter Extension version (available under the Extensions sidebar): v2022.7.1102252217
-   Python Extension version (available under the Extensions sidebar): v2022.12.1
-   OS (Windows | Mac | Linux distro) and version: Windows 10
-   Python and/or Anaconda version: Python 3.9.6
-   Type of virtual environment used (N/A | venv | virtualenv | con

[2022-09-02 01:04] DonJayamanne commented on #11262
Please could you update to the latest version of the Jupyter extension.
I believe this has been resolved in the latest version.
If it still hasn't then please feel free to re-open this issue or create a new issue and we'll be happy to look into this.

Duplicate of https://github.com/microsoft/vscode-jupyter/issues/10858

[2022-09-02 01:04] #11262 closed

[2022-09-02 02:06] xxc-zsz commented on #11200
Thanks, solved the problem with some hints in the link.

[2022-09-02 02:07] #11200 closed

[2022-09-02 04:13] DonJayamanne opened #11266 "Support connecting to multiple remote servers at once"
### Discussed in https://github.com/microsoft/vscode-jupyter/discussions/11227

<div type='discussions-op-text'>

Originally posted by [mkarikom](https://github.com/mkarikom) August 31, 2022

### Background:
Sometimes it's nice to be able to explore two different versions of some code.  In the notebook context (at least in vscode), this seems to require separate kernels.  My understanding is that

[2022-09-02 04:17] DonJayamanne commented on #11266
[mkarikom](https://github.com/mkarikom) thanks for the suggestion.
Out of curiosity what's the workflow here, i.e. why do you want to try to run a notebook against two servers.
Is it to test the performance of sometime against say one server that has GPU vs another without GPU or the like. Or is it to test with different versions of python packages or the like.

Asking because at one point we did

[2022-09-02 04:22] DonJayamanne commented on #11222
Thanks for filing this issue,
I don't quite understand the problem.

Is the problem that memory is being used or the C drive disc space is being used.
They are two different things. Hence the question.

Also, please could you share a screenshot of the problem along with the following information:

* What version of Python and environment type are you using
* Output from the `Jupyter` output panel

[2022-09-02 06:22] DonJayamanne commented on #11240
That has nothing to do with the issue,

This is definitely a bug, and for some reason its not hitting an expected code path.
I'll provide a custom VSIX shortly with additional logging.

[2022-09-02 06:30] DonJayamanne commented on #11240
Please install this custom VSIX using the command `Extensions: Install from VSIX`
Repeat the same steps and please provide the logs

[ms-toolsai-jupyter-insiders.vsix.zip](https://github.com/microsoft/vscode-jupyter/files/9475417/ms-toolsai-jupyter-insiders.vsix.zip)

[2022-09-02 06:52] DonJayamanne commented on #4835
This code still seems to be there.

[2022-09-02 07:37] slishak commented on #11262
Sorry, don't know how I missed the point in the changelog and the duplicate issue! Will update and let you know if that doesn't fix it.

[2022-09-02 13:35] DanielSoenarto commented on #11222
@DonJayamanne Hi, I have found the fix to the problem. I have cleanly deleted all files and folders related to VS Code. It seems that my memory is too small for storing all the variables in the program. Hence, it consumed my C drive storage because the arrays are bigger than my RAM.

Sorry for the trouble, it's mainly because the dataset is too large.

[2022-09-02 14:19] SimiPixel commented on #11177
Well this not really possible because as mentioned above

By the bug i mean the fact that the process persists even after VSCode is closed.

[2022-09-02 15:55] Sebastian-Belkner commented on #11207
Hi,

followed your instructions, here are the logs.

<details>
<summary><code>Jupyter: Show Output Jupyter</code> from VS code
</summary>
<p>
Visual Studio Code (1.71.0, ssh-remote, desktop)
Jupyter Extension Version: 2022.9.1002471019.
Python Extension Version: 2022.15.12451011.
Multiple Workspace folders opened /global/homes/s/sebibel, /global/cscratch1/sd/sebibel
info 08:51:38.140: ZMQ install