[2021-09-29 16:29] MombasaRaha commented on #7744
Actually, that doesn't work either, comes up with this error
`'str' object is not callable`
 so looks like you're right about that, no idea how I managed to do that though.

[2021-09-29 16:31] fschiffers commented on #7742
I installed and the problem still persists.

However: I have now found on the left something called "Debug cell" which can also be called by "Control+alt+shift+enter" and it allows me to go into a "debugger" for the specific cell. This enters a new python file where I can go through line-by-line.

I had the "run-by-line" working on my MacBook Pro, so I know that this is not the features as intende

[2021-09-29 16:31] greazer commented on #7739
What is the telemetry going to tell us? What percentage of people failed to install one of our dependencies because they didn't have pip installed? And if that number is high, we use it to convince Python to enable this? :) Or are there other reasons that Python doesn't think this is a good idea?

[2021-09-29 16:33] MombasaRaha commented on #7744
Would you know how to resolve this issue?

[2021-09-29 16:34] isidorn opened #7751 "Context menu -> run by line results in an error"
Testing microsoft/vscode#133903

Run by line from the Cell Context Menu always results in an error 🐛
Even though from the toolbar it works like a charm

![Screenshot 2021-09-29 at 18 32 56](https://user-images.githubusercontent.com/1926584/135311131-38770a59-3f59-4f57-9765-7ad3cc8531f6.png)

![Screenshot 2021-09-29 at 18 33 31](https://user-images.githubusercontent.com/1926584/135311140-e74aa990-a

[2021-09-29 16:42] rchiodo commented on #7744
This might work to tell you were 'str' is defined:

[code]

Otherwise you might debug a python file and see what the debugger says for 'str'. It's likely a global variable.

[2021-09-29 16:42] #7744 closed

[2021-09-29 16:44] rchiodo commented on #7742
The jupyter output log would help. That should show everything we did on starting up run by line.

It can be found here;
![image](https://user-images.githubusercontent.com/19672699/135312831-211b3b05-2f08-4ccd-9172-a832472b6de1.png)

[2021-09-29 16:47] rchiodo commented on #1566
I think we could do something simple to start with here. On a ModuleNotFound error add a link to create a cell to resolve the problem.

That would insert a cell with code like so:

[code]
or
[code]

The user would then have to explicitly run the cell themselves, but it at least shows them what they have to do (and uses the %pip instead of !pip)

[2021-09-29 16:48] MombasaRaha commented on #7744
Great, thanks for the help.

[2021-09-29 16:54] claudiaregio opened #7745 "Notebooks - Export to PDF never completes"
## Environment data

-   VS Code version: 1.61.0-insider
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1001277548

## Expected behavior

Export to PDF to work or to give me some error that the request timed out and to try again

## Actual behavior

I see the prompt below basically forever

![image](https://user-images.githubusercontent.com/19276747/135314297-66c93

[2021-09-29 16:56] fschiffers commented on #7742
Info 2021-09-29 12:54:12: Execute Cells request 1 1
Info 2021-09-29 12:54:12: Execute Cell 1 file:///c%3A/Users/myname/git/test/test.ipynb
Info 2021-09-29 12:54:13: KernelProcess output: Content-Length: 161
Content-Type: application/vscode-jsonrpc; charset=utf8

{"jsonrpc": "2.0", "method": "log", "params": {"level": "INFO", "msg": "write to stderr: [IPKernelApp] ERROR | Exception in control handl

[2021-09-29 17:46] DonJayamanne commented on #7692
Closing, not an issue

[2021-09-29 17:46] #7692 closed

[2021-09-29 17:59] DonJayamanne commented on #7039
Not fixed:
* Create a python cell type `console.log(1234);`
* Confirm we have errors
* Change language to javascript
* We still have errors
* Edit the cell and the errors go away,

FYI I'm testing `We should be skipping these cells when their language changes.`

[2021-09-29 18:00] #7732 closed

[2021-09-29 18:02] rchiodo commented on #7742
I think your version of ipykernel is not the one you mentioned (at least the callstack doesn't match what I have locally)?. Can you run this code in a cell and respond with the output?

[code]

[2021-09-29 18:02] lramos15 commented on #7732
Funny enough I saw this too recently. I don't think it has anything to do with run by line and more to do with the way we specially handle cell URIs for notebooks.

To verify:
1. Have a fresh data dir
2. Open a jupyter notebook
3. Create a problem
4. Click on the problem in the problem panel

Ensure you never see this prompt.

[2021-09-29 18:15] rchiodo commented on #7652
We should be able to recommend extensions for vscode.dev.

[2021-09-29 18:27] rchiodo commented on #7676
@DonJayamanne we remove our assignment after we're done testing.

[2021-09-29 18:28] DonJayamanne commented on #6653
@ghylander  thanks for getting back to us, really do appreciate it.

[2021-09-29 18:36] DonJayamanne commented on #7676
You need to add `verfied` label if you have tested this & the last person on the list of testers.

[2021-09-29 18:38] DonJayamanne commented on #7677
Thanks, will do.

[2021-09-29 18:39] DonJayamanne commented on #7676
Ok, I think i'm mistaken here, i don't think we need `verified` label for test plan items.

[2021-09-29 18:40] DonJayamanne opened #7749 "Add cell_id for notebooks with format 4.5"
Use the jupyter docs to add a cell_id for all cells if format is 4.5

[2021-09-29 18:41] isidorn opened #7750 "F10 to run by line requires cell focus"
Testing microsoft/vscode#133903

Start run by line. Click outside of cell. Press F10 -> no effect 🐛
Focus has to be inside the cell.
This keybinding should work independent of focus imho

[2021-09-29 18:55] IanMatthewHuff commented on #7704
Thanks for the report, I repro the same thing on insiders with newest bits:
![image](https://user-images.githubusercontent.com/812783/135330318-2306788b-c4b8-476e-87e8-660c17d52e78.png)

[2021-09-29 19:01] IanMatthewHuff commented on #7706
@bnapora Could you please try downloadin VS Code - Insiders (version number should be 1.61.0) and checking this scenario quick? That should get you the newest version of our bits, and I believe this is a bug that has been addressed already. It's a safe SxS install with VS Code - Stable, so it won't mess anything up with your current install.

[2021-09-29 19:12] ted1277 commented on #7334
Hi, @DavidKutu, my result is similar to that of @yfzhao20.

I have collected the key information below.

### The present situation

1. I'm using  `Wolfram Engine` and `WolframLanguageForJupyter`  (same as  these used by @yfzhao20)
2. It works well on Jupyter Lab (editor in browser), but when open the `.ipynb` in VS code, the kernel can not be launched (Jupyter server: local).
3. If first open Jupy

[2021-09-29 19:25] fschiffers commented on #7742
![image](https://user-images.githubusercontent.com/13521689/135335176-55e69c25-db2c-49e2-b831-27ca1f776b95.png)

Yah, this is indeed an issue. However, I've now tried several times to reinstall the latest version ( 6.41) and it somehow is still showing 6.20.

I will investigate further, try to solve the problem and report back if it works/doesn't work.

[2021-09-29 19:50] fschiffers commented on #7742
I've now deinstalled Miniconda, reinstalled it and installed the 6.4.1 ipykernel. Still the following output

Info 2021-09-29 15:49:12: Execute Cells request 1 2
Info 2021-09-29 15:49:12: Execute Cell 2 file:///c%3A/Users/fschiffers/git/test/test.ipynb
Info 2021-09-29 15:49:12: KernelProcess output: Content-Length: 160
Content-Type: application/vscode-jsonrpc; charset=utf8

{"jsonrpc": "2.0", "met

[2021-09-29 20:03] rchiodo commented on #7742
Do you still get this message?

[code]

I think the error output is after the cell has run. Might be a bug in our stuff that we disconnect without ever connecting so it throws an error.

[2021-09-29 20:10] DonJayamanne opened #7752 "Dons bug bash test"
# Test plan

## Environment

-   OS: XXX (Windows, macOS, latest Ubuntu LTS)
    -   Shell: XXX (Command Prompt, PowerShell, bash, fish)
-   Python
    -   Distribution: XXX (CPython, miniconda)
    -   Version: XXX (2.7, latest 3.x)
-   VS Code: XXX (Insiders)
-   Python Extension: XXX (Insiders)
-   Local/Remote: XXX (Local, Remote-SSH, Remote-WSL, Remote-Docker, Remote-Codespaces)

## Tests

**

[2021-09-29 20:13] Scoodood opened #7753 "Cannot playback video clip in Jupyter within VSCode"
The following code is not working in Jupyter within VSCode
My standalone Jupyter Notebook works just fine.

## Environment data

-   VS Code version: 1.60.2 (Universal)
-   Jupyter Extension version (available under the Extensions sidebar): v2021.8.2041215044
-   Python Extension version (available under the Extensions sidebar): v2021.9.1246542782
-   macOS: Catalina v10.15.7
-   Python and/or Ana

[2021-09-29 20:23] fschiffers commented on #7742
yah, I'm still getting exactly the same error:
Note: may have been skipped because of "justMyCode" option (default == true). Try setting "justMyCode": false in the debug configuration (e.g., launch.json).

[2021-09-29 20:25] fschiffers commented on #7742
on another note: I've now installed "anaconda" and ran "jupyter lab". The debugging doesn't work there neither.

I can debug through cell's on the bottom right:

![image](https://user-images.githubusercontent.com/13521689/135343158-d02ee8b9-726b-479e-92f1-0f48b8512d1e.png)

But it doesn't show to me "the normal debugging feeling" as promised on the website

[2021-09-29 20:35] rchiodo commented on #7753
Thanks for the bug.

Video output isn't supported in VS code because it doesn't ship with video codecs (see this issue here: https://github.com/microsoft/vscode-jupyter/issues/1012)

However you might be able to render an animation using plotly instead. See this issue here:
https://github.com/microsoft/vscode-jupyter/issues/4364#issuecomment-833500357

[2021-09-29 20:35] #7753 closed

[2021-09-29 20:41] rchiodo opened #7754 "Latex support is not working anymore"
Enter this as a cell (or in the interactive window)
[code]

It should output this:
![image](https://user-images.githubusercontent.com/19672699/135345552-8d71dd4e-8d7c-4633-9af1-959776c9efe4.png)

[2021-09-29 20:43] rchiodo commented on #7754
This was caused by switching to the vscode renderer for all latex.

[2021-09-29 20:44] rchiodo commented on #7754
Same thing happens in a markdown cell too

[2021-09-29 20:47] rchiodo commented on #7754
See this issue here. It's why it doesn't work in VS code:
https://github.com/microsoft/vscode/issues/133390

[2021-09-29 20:50] rchiodo opened #7755 "Altair save as button doesn't work in the interactive window"
Run this code:

[code]
Click on the 'Save as' button on the plot

![image](https://user-images.githubusercontent.com/19672699/135346430-96f4a2f7-9506-4b02-94e6-d4fe2480d216.png)

Throws an error:

![image](https://user-images.githubusercontent.com/19672699/135346497-1a51e793-f4f9-4943-8361-7f162f7cf9a2.png)

[2021-09-29 21:01] rchiodo commented on #7742
My guess is that the 'justMyCode' we pass here is true:
https://github.com/microsoft/vscode-jupyter/blob/820947e49d4a285b230a8dd53c03df07026a402e/src/client/datascience/jupyter/jupyterDebugger.ts#L64

@fschiffers what's the code that you're trying to run by line look like?

Does this work?

[code]

[2021-09-29 21:05] DonJayamanne opened #7756 "Should be able to undo a delete cell in the interactive window (IW)"
This is part of the test plan.
* If no one has complained about this, no one is using it
	* Or stopped using because of this
	* Or didn't bother filing a bug
* Optionally we should remove this from the test plan

[2021-09-29 21:24] #7752 closed

[2021-09-29 21:29] Scoodood commented on #7753
Thanks

[2021-09-29 21:30] #7754 closed

[2021-09-29 21:41] roblourens commented on #7716
This is essentially https://github.com/microsoft/vscode-jupyter/issues/5621, not straightforward

[2021-09-29 21:41] #7716 closed

[2021-09-29 21:43] roblourens commented on #7718
I don't know about that. Why would it be different from the case where a cell is running normally and you click "run all"?

[2021-09-29 21:49] fschiffers commented on #7742
`print("foo")
print("bar")`

doesn't allow the one line debugger.

Any idea where I can change the "justMyCode" setting?

[2021-09-29 21:56] rchiodo commented on #7742
Not sure I understand what you mean it doesn't allow it.

It should look like this:

![image](https://user-images.githubusercontent.com/19672699/135354153-9eaf22b6-2caf-4446-b505-d619eb0de827.png)

Are you saying the Run by line button isn't there?

[2021-09-29 22:24] greazer commented on #7167
I was able to restart a kernel after it had died. Both from the original repro as well as from a separate one that killed the kernel externally.

[2021-09-29 22:30] golaat commented on #7742
I am also unable to get line by line debugging to work.

[2021-09-29 22:35] rchiodo commented on #7742
@golaat can you provide some more information?

- Does the button show up?
- Did you try with a simple print in a cell?
- What version of ipykernel do you have (6.4.1 is your best bet)?
- What version of VS code and jupyter extension do you have? (Latest insiders on both of these is your best choice)

[2021-09-29 22:59] IanMatthewHuff commented on #7470
Verified, but buttons are floating off on the right now, I'll open a new issue for that seems a bit off to me:
![image](https://user-images.githubusercontent.com/812783/135359738-440f0604-dd4d-4269-9f56-6eeff53de951.png)

[2021-09-29 23:00] IanMatthewHuff opened #7758 "Image renderer icons are way over on the right now"
Now that the background doesn't extend over to the right these look pretty out of place:
![image](https://user-images.githubusercontent.com/812783/135359892-29d0018f-d629-4eeb-834a-5a5b5f800833.png)
Especially since they only show on hover.

[2021-09-29 23:13] DonJayamanne opened #7759 "VS Codes built-in renderer for text/markdown doesn't support all latex formats"
See here for the issue https://github.com/microsoft/vscode-jupyter/issues/7754
Basically in that issue we have text/latex thats not supported by core VS Code.
Also reported here by Paige https://github.com/microsoft/vscode/issues/133390

Users also have the same latex in plain mark down cells or python cells using `%%markdown` magics

E.g. as follows
[code]

This will not get rendered by the built

[2021-09-29 23:36] StevenLi-DS opened #7760 "Focus issue in Interactive window"
[code]

I'm having an issue with shortcuts, and they sometimes stop working in the bottom code entering field in the Interactive Window. I believe it happened before, but I couldn't find the issue that logged it. It might have something to do with "focus".

I can't find a consistent way to reproduce it now, and it has been here for a while. But when it happens, enter+shift will no longer execute t

[2021-09-29 23:41] IanMatthewHuff commented on #6247
![image](https://user-images.githubusercontent.com/812783/135360583-7f5394eb-d3ca-4cb8-98c2-a107c45255a1.png)
This is still broken. I'm debugging now. Looks like there is a bigger issue here with extension activation.

[2021-09-29 23:41] IanMatthewHuff commented on #7035
Verified

[2021-09-30 00:01] roblourens commented on #7750
I don't see that, works for me

[2021-09-30 00:02] roblourens commented on #7748
I think to debug cell2, you should have to click the RBL button on cell 2. This might be nice but then the RBL button should be global, which I don't think we should do.

[2021-09-30 00:02] #7748 closed

[2021-09-30 00:02] #7747 closed

[2021-09-30 00:03] roblourens commented on #7746
I think it could go either way, but F5 makes sense to me.

[2021-09-30 00:13] IanMatthewHuff commented on #6247
This concerns me a bit. It looks like we are relying on onDidActivationPythonExtension, which from the code doesn't seem reliable. There are other places we are using this as well. I'm surprised that VS Code doesn't have a way to see when an extension is activated.

[2021-09-30 00:15] fschiffers commented on #7742
sorry for not being clear. It looks like this:
![image](https://user-images.githubusercontent.com/13521689/135365324-0cac7ded-2d6a-4ba8-9de5-ae3b69bb892e.png)
![image](https://user-images.githubusercontent.com/13521689/135365393-8432801e-8cc6-4c30-9d97-16502504eeb4.png)

I can click on the left arrow and it brings me to a debugger that looks like:

![image](https://user-images.githubusercontent.co

[2021-09-30 00:22] IanMatthewHuff commented on #6475
Verified. Previous cells can be deleted now.

[2021-09-30 00:41] DavidKutu commented on #7718
My answer to that is because this is not only running, its also debugging. But I don't know what would be best.

[2021-09-30 00:52] roblourens commented on #6898
I see this context key: `jupyter.ispythonnotebook: false`

[2021-09-30 00:56] gregvanl opened #7761 "Unclear why "Ipykernel setup required for this feature" is showing up for new setups and trying to run-by-line"
Testing https://github.com/microsoft/vscode/issues/133903

Both Brigit and I hit this when testing via the test plan item steps.

For Brigit, things just started working, perhaps after updating the ipykernal version.

For me, things started working after I did a Run All and accepted the prompt to install ipykernal.

Might be an issue with the test plan steps but it is also confusing that the "Ipyk

[2021-09-30 01:13] DonJayamanne commented on #7718
I think we should look into what's expected, when user is in rbl can they run cells and vice versa and what the expected behavior.

to me Rbl and running cell are the same, we're still executing code.
It's similar to debugging regular code in vscode and then clicking the debug button again will really in vscode warning the user that a session is already in progress.

[2021-09-30 01:44] thefatwhale opened #7762 "strange color blocks when keyboard cursor in a word."
## Environment data

-   VS Code version: 1.60.2
-   Jupyter Extension version (available under the Extensions sidebar): v2021.8.2041215044
-   Python Extension version (available under the Extensions sidebar): v2021.9.1246542782
-   OS (Windows | Mac | Linux distro) and version: Windows 7 x64 sp1
-   Python and/or Anaconda version: 3.8.8
-   Type of virtual environment used (N/A | venv | virtuale

[2021-09-30 04:41] golaat commented on #7742
@rchiodo
I was able to resolve my issue by using the Insiders build of VSCode. I had previously been using the stable build (v1.60.2).

**Note to folks:** If you are using the buttons inside of Azure ML to launch the "Edit inside of VSCode" your vscode protocol  handler will still point to the stable version of VSCode on your machine. If you want to use this button from within Azure ML to launch V

[2021-09-30 06:01] JulesGM commented on #1379
being able to kill a kernel without having to close the window would be very nice. A lot of the time, the `interrupt` button just doesn't actually kill the kernel even after minutes.

[2021-09-30 09:49] Syndorik commented on #7439
I am having the same issue, my CPU consumption is toward 100% when working on jupyer vscode. It freezes a bit. I have an empty notebook and the following cpu profiler
[CPU-20210930T114733.cpuprofile.txt](https://github.com/microsoft/vscode-jupyter/files/7258558/CPU-20210930T114733.cpuprofile.txt)

[2021-09-30 09:54] joaomoreno opened #7764 "Make error output collapsed by default (Was: Ugly output when clicking `Stop Cell Execution`)"
Testing https://github.com/microsoft/vscode/issues/133905

1. Put a breakpoint
2. Start debugging
3. Click the stop button `Stop Cell Execution`

The cell output will contain a pretty large scary KeyboardInterrupt message.

![image](https://user-images.githubusercontent.com/22350/135430534-730bdb01-b54d-45e1-b1fa-40d3861cf2fe.png)

[2021-09-30 10:32] isidorn commented on #7747
Ok, thanks for letting me know.
Feel free to close this then, however some feedback on the interrupt button:
* Does not really look like a button or clickable
* Due to square shape looks like a rendering glitch

Could we use some other icon here? Something more rich?

[2021-09-30 10:36] isidorn commented on #7748
I think the button should be able to "pass focus" to the next cell. Once you are in the next cell the first button should no longer work (should be disabled). That might work nicely.

[2021-09-30 13:16] firegate22 commented on #7658
Thanks, yes - it's fixed!

[2021-09-30 13:25] Syndorik commented on #7576
It works! Thanks a lot!

[2021-09-30 16:06] rchiodo commented on #7742
@golaat thanks for responding. Glad to hear it works in insiders.

@DavidKutu I think @fschiffers problem is dumpCell isn't getting called (or it's failing for some reason). We may need more tracing in https://github.com/microsoft/vscode-jupyter/blob/a8ce43515f9a4f3b24e09015cc7509087d2e920d/src/client/debugger/jupyter/kernelDebugAdapter.ts

@fschiffers you're doing the double print with insiders,

[2021-09-30 16:12] fschiffers commented on #7742
@rchiodo : I'm currently using v2021.9.1001286107
I am currently updating to the latest version, but I've used the version I downloaded yesterday (~16h ago).

Note also: I'm on a "Corporate Windows" machine. I am not sure if they're blocking any ports etc. that might block Jupyter to execute correctly.

I've made another issue on Jupyter Lab which might be helpful/related with debugging this probl

[2021-09-30 16:23] DonJayamanne commented on #7762
Thanks for filing this issue, we believe this has been resolved in our latest development version.
Please could you install VS Code insiders & try this out (when installing VS Code insiders, the insider/dev version of the Jupyter extension will be used).

[2021-09-30 16:35] rchiodo commented on #5933
/verified. It kinda works. We don't lose the cell ids, but for new cells we're technically incorrect. I'll enter a new bug for that.

Technically in order to support 4.4 and above the 'id' is required:

https://github.com/jupyter/enhancement-proposals/blob/master/62-cell-id/cell-id.md#required-field

[2021-09-30 16:35] rchiodo opened #7765 "NbFormat cell id is missing when adding new cells in VS cdoe"
Technically in order to support 4.4 and above the 'id' is required:

https://github.com/jupyter/enhancement-proposals/blob/master/62-cell-id/cell-id.md#required-field

_Originally posted by @rchiodo in https://github.com/microsoft/vscode-jupyter/issues/5933#issuecomment-931483116_

[2021-09-30 16:36] DonJayamanne commented on #5933
I have already got a PR in the works for this.

[2021-09-30 16:38] DonJayamanne commented on #7765
I've already got a PR reaady to go into VS Code for this, want to get that in debt week

[2021-09-30 16:38] roblourens commented on #7740
This is basically what's behind https://github.com/microsoft/vscode-jupyter/issues/7638, as far as i can tell

[2021-09-30 16:41] rchiodo commented on #4576
/verified

Tried with multiple notebooks. Existing and new. All only have LF in them:

![image](https://user-images.githubusercontent.com/19672699/135496401-f3c87c50-76da-4507-96d1-774632e494e4.png)

[2021-09-30 16:46] IanMatthewHuff commented on #1159
@DonJayamanne you closed but then added debt? Wasn't sure on the state of this when looking at things to verify. Pretty sure you already fixed the switch with retry code.

[2021-09-30 16:52] DonJayamanne commented on #4757
Concerns:
* Opening & saving a notebook will now end up with a lot of changes
* Should this be done in vscode or jupyter extension
	* If we have a kernel such as Julia, whats the benefit of saving language, 0 benefit, as we only support julia languages in cells
		* Hence adding this metadata for notebooks with julia kernels is just going to add more noise
	* The opposite for .NET notebooks (they s

[2021-09-30 16:54] roblourens commented on #7748
We can think about it more as we see how people use RBL, but this doesn't really match my mental model of how it would work

[2021-09-30 17:18] claudiaregio commented on #7122
@greazer Same as https://github.com/microsoft/vscode-jupyter/issues/5552 I believe

[2021-09-30 17:47] DonJayamanne commented on #7122
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/4496

[2021-09-30 17:47] #7122 closed

[2021-09-30 17:48] rchiodo commented on #7745
Do you have the jupyter output log? nbconvert might be stuck

[2021-09-30 17:48] DonJayamanne commented on #5552
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/4496

[2021-09-30 17:48] #5552 closed

[2021-09-30 17:48] DonJayamanne commented on #4496
Upstream issue in Python extension https://github.com/microsoft/vscode-python/issues/17218

[2021-09-30 18:13] dbaeumer opened #7766 "Making the outline command view state dependent is confusing"
Testing microsoft/vscode#133901

Hiding the command is confusing since it force me to think about whether the outline view is visible before I open the command palette. Since we are not saving anything I would always include the command.

[2021-09-30 18:23] IanMatthewHuff commented on #6247
Dropping a quick note here, I see this as the probable issue here (per the comment):
https://github.com/microsoft/vscode-jupyter/blob/22f866c737e90eb6441685ec10d1afa951aad7c1/src/client/api/pythonApi.ts#L341
In the remote case we are not getting this event to hook up. Which I believe could cause issues with the other usages of this.

[2021-09-30 18:27] DonJayamanne commented on #6247
FYI - I added this to october as its not a ship blocker

[2021-09-30 18:32] rchiodo commented on #1159
I believe this code was just removed entirely.

[2021-09-30 18:35] IanMatthewHuff commented on #5633
Looks good. Got the third party warning and it worked:
![image](https://user-images.githubusercontent.com/812783/135511615-dae86731-ac7e-48ef-9092-30143b4b4001.png)

[2021-09-30 19:41] roblourens commented on #7649
Still works for me, so someone share logs if you can repro it

[2021-09-30 19:48] mburghart-qualitrol commented on #4576
The verification doesn't appear to be testing the end-of-line representation for each line of notebook cell.  You would need to make a notebook cell with at least two lines to see this. Attached is a small notebook file with two cells each with multiple lines. (File name extension changed to `txt` to allow upload.) This was created using Visual Studio Code 1.60.2 with the Jupyter extension v2021.8

[2021-09-30 19:53] rchiodo commented on #4576
@mburghart-qualitrol my screenshot was just to show no /r in the file happened to have open. It works with multiple lines in a cell too:

![image](https://user-images.githubusercontent.com/19672699/135521408-d45b32f6-be41-46f2-a7e7-0f683e6b73bd.png)

[2021-09-30 20:02] greazer commented on #6753
I have also been unable to repro. I see the widget output as expected by default. Even the first time it appears.

[2021-09-30 20:14] greazer commented on #7698
This is a moot point once we decide to not allow run-by-line if the kernel is busy running other cells.

[2021-09-30 20:14] #7698 closed

[2021-09-30 20:16] greazer commented on #7766
Same should be done for Variables window then too. Each of those windows should receive focus even if they are already displayed.

[2021-09-30 20:21] greazer commented on #7713
Related to #7598

[2021-09-30 20:26] greazer commented on #7718
Let's do the same thing that we're doing if the user has currently running cells and they try to do run-by-line. We show a messagebox explaining the mode they're in.

[2021-09-30 20:32] DonJayamanne opened #7768 "Interactive window does not work in a multi-root workspace"
Apparently this used to work in July.
Reported in marketplace

[2021-09-30 20:36] greazer commented on #7746
Ctrl+Enter, Shift+Enter and F5 should all continue to end of cell.

[2021-09-30 20:53] greazer commented on #7764
Let's consider making the callstack collapsed by default. Some users may find the stack interesting, some may not. This would be true for ANY error that has a callstack.

[2021-09-30 21:04] #7691 closed

[2021-09-30 21:09] DavidKutu commented on #7696
will be fixed by #7764

[2021-09-30 21:11] e-nesse opened #7769 "Triple clicking + CTRL-C to copy text from output area of Jupyter cell copies the cell contents instead when selected output text line is generated by printing a spaCy Doc object"
## Environment data

-   VS Code version: 1.60.2 (user setup)
-   Jupyter Extension version (available under the Extensions sidebar): v2021.8.2041215044
-   Python Extension version (available under the Extensions sidebar): v2021.9.1246542782
-   OS (Windows | Mac | Linux distro) and version: Windows 10 Home
-   Python and/or Anaconda version: 3.8
-   Type of virtual environment used: poetry venv

[2021-09-30 21:12] #7711 closed

[2021-09-30 21:17] #7720 closed

[2021-09-30 21:17] #7721 closed

[2021-09-30 21:20] roblourens commented on #7764
Meaning just collapse the output container? @DavidKutu I don't see how that fixes #7696

[2021-09-30 21:22] greazer commented on #7728
We only need one Debug Cell. Should work in IW or notebooks.

[2021-09-30 21:24] #7729 closed

[2021-09-30 21:25] greazer commented on #7730
By design

[2021-09-30 21:25] #7730 closed

[2021-09-30 21:26] #7736 closed

[2021-09-30 21:29] greazer commented on #7740
Dupe of #7638

[2021-09-30 21:41] greazer commented on #7759
Submit a PR to fix this in the VS Code repo.

[2021-09-30 22:05] DonJayamanne commented on #7760
I believe we've address this in the the insider version. Please could you install VS Code insiders and test this out.

[2021-09-30 22:27] DonJayamanne commented on #7709
Thanks for filing this issue, I can replicate this.

[2021-09-30 22:28] DonJayamanne commented on #7558
Thanks, unfortunately I'm not running into this. need to try to set this up on a remote machine.

[2021-09-30 22:29] DonJayamanne commented on #7418
Closing this issue as its been over 4 weeks, since the information was requested.
We'll be happy to reopen the issue when the requested information has been provided.

[2021-09-30 22:29] #7418 closed

[2021-09-30 22:39] DavidKutu commented on #7764
It will help, but I guess its different enough

[2021-09-30 23:03] DavidKutu commented on #7747
Notebook users are used to the run/stop button.

I'll be down to reopen this with a title like `Interrupt button does not look clickable`, add the community feedback label and see if people agree.

[2021-10-01 06:38] bnapora commented on #7706
@IanMatthewHuff I will have to fix my vscode insiders install before I can test this is issue.  All of my python envs are in SSH Targets.  Currently can't open any of my SSH Targets in Insiders build, because I get an "EISDIR: illegal operation on a directory, read" when it tries to open the SSH config file.

Thanks for the quick response and for the suggestion

[2021-10-01 08:34] dennisl68-castra opened #7771 "State what version of VSCode is supported in the change log to ease offline VSIX install"
When I try to install the ms-toolsai.jupyter VSIX on VS Code on an offline system I must only use a stable version of VSIX and the correct version of VS Code.
However, the setup only tells me that my version of VS Code isn't supported if there is a mismatch, not what version that is actually needed.

So trying to install the currently latest available stable version, ms-toolsai.jupyter-2021.9.1001

[2021-10-01 09:02] thefatwhale opened #7772 "Jupyter IntelliSense contain error ICONS and duplicate content."
## Environment data

-   VS Code version: 1.60.2
-   Jupyter Extension version (available under the Extensions sidebar): v2021.8.2041215044
-   Python Extension version (available under the Extensions sidebar): v2021.9.1246542782
-   OS (Windows | Mac | Linux distro) and version: Windows 7 x64 SP1
-   Python and/or Anaconda version: Python 3.8.7 and 3.8.8
-   Type of virtual environment used (N/A

[2021-10-01 12:02] cplager opened #7773 "%debug default value should NOT be suggested when entering multiline list."
## Environment data

-   VS Code version: 1.60.2
-   Jupyter Extension version (available under the Extensions sidebar): v2021.8.2041215044
-   Python Extension version (available under the Extensions sidebar): v2021.9.1246542782
-   OS (Windows | Mac | Linux distro) and version: Windows 10 v1909
-   Python and/or Anaconda version: 3.8.3
-   Type of virtual environment used (N/A | venv | virtualen

[2021-10-01 12:04] cplager opened #7774 "Pylance sometimes incorrectly flagging inside Jupyter."
## Environment data

-   VS Code version: 1.60.2
-   Jupyter Extension version (available under the Extensions sidebar): v2021.8.2041215044
-   Python Extension version (available under the Extensions sidebar): v2021.9.1246542782
-   OS (Windows | Mac | Linux distro) and version: Windows 10 v1909
-   Python and/or Anaconda version: 3.8.3
-   Type of virtual environment used (N/A | venv | virtualen

[2021-10-01 14:06] LuisPeregrina commented on #7771
I can't locate the bug but it's been fixed, try VSCode insiders (has daily update). I remember seeing that it wasnt a jupyter bug but a VSCode bug.

[2021-10-01 14:08] LuisPeregrina commented on #7771
See [Unable to install stable version of extension in WSL](https://github.com/microsoft/vscode/issues/133777)

[2021-10-01 15:40] dennisl68-castra commented on #7771
Guess I have to wait for the next stable release of VS Code, then.
(Can't use unstable releases on production systems.)

But the option to use an older stable version of ms-toolsai.jupyter with an older stable version of Vs Code is not a simple work around since there is no public information about the lock-stepped of VS Code available for ms-toolsai.jupyter stable releases.

[2021-10-01 16:01] IanMatthewHuff opened #7775 "Revise Jupyter URI input workflow"
https://github.com/microsoft/vscode/issues/110528#issuecomment-932041235

Per the issue above we've seen some customer confusion where they expect to enter a URI directly into the first stage of the URI input quick pick. Give how the control looks (and that the Quick Pick control allows you to paste into it) this seems a very reasonable expectation, I've even done it myself before when testing rem

[2021-10-01 16:10] rchiodo opened #7776 "Jupyter extension marks a file as dirty every time it's opened"
Open the included file.

[t2.ipynb.txt](https://github.com/microsoft/vscode-jupyter/files/7268595/t2.ipynb.txt)
If jupyter extension is enabled it will be marked dirty on open
If jupyter extension is disabled it won't be marked dirty on open

[2021-10-01 16:12] rchiodo commented on #7776
Kinda of a regression? Well since two months ago I'd say.

[2021-10-01 16:15] isidorn commented on #7750
I can repro all the time. The focus has to be in the cell for me for `F10` to have effect.
Let me know what other info I can provide. Here's a gif of what I am doing

![recording (1)](https://user-images.githubusercontent.com/1926584/135653662-cc467373-1318-4b7d-9e54-764dacbe2779.gif)

[2021-10-01 16:44] DonJayamanne commented on #7700
This has now introduced a new bug, I get the prompt `Install, Change Kernel, Cancel`
When selecting `Change Kernel/Cancel` I still get the message `ipykernel setup required for this feature` (now I need to click cancel `twice`)

[2021-10-01 17:06] DonJayamanne commented on #7700
![install](https://user-images.githubusercontent.com/1948812/135659876-ae667424-064c-4747-ae6c-5c9407cc5a65.gif)

[2021-10-01 17:08] #7700 closed

[2021-10-01 17:10] DonJayamanne opened #7779 "Installing ipykernel for RBL ends up displaying unnecessary messages"
* Ensure you have ipykernel 5 or you have a notebook with a selected kernel that doesnt' have ipykernel installed
* Now try RBL
* You'll end up with the message `Install, Change Kernel, Cancel`
* When selecting `Change Kernel/Cancel` I still get the message `ipykernel setup required for this feature` (now I need to click cancel `twice`)
* Also Clicking install and then cancelling the installationn

[2021-10-01 17:27] DonJayamanne commented on #7776
I cannot replicate this in the latest version of VSCode and latest jupyter extension.
Please ensure you have updated to the latest.

[2021-10-01 18:06] konpoe opened #7782 "its better to fold the output"
as title,sometimes,outputs is verbose i want to fold it but not clear

[2021-10-01 19:03] greazer opened #7783 "Right click "Convert a Notebook to Python Script" doesn't work."
### Applies To

- [X] Notebooks (.ipynb files)
- [X] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

1. Open a workspace
2. Right click on an ipynb file
3. Choose "Convert a Notebook to a Python Script"

Fails. Here's the log from an attempt I made. Note that my default Python interpreter is not set to PythonCodingPack\python.exe. However, it IS the pytho

[2021-10-01 19:07] heysujal commented on #7783
hi @greazer . I want to fix this issue . I am familiar with python. Can you guide me on how to fix this issue?

[2021-10-01 19:07] nickeubank opened #7784 "Better support for running code from other kernels/languages in interactive window?"
I'd love to be able to use shift-enter to run R code in an interactive window, but I can't get the keyboard shortcut to work.

If I drop the `jupyter.ownsSelection` in the `when` condition, I can run the R code in an interactive window, *but* if I try to run code in the interactive window console, instead of running in the window, launches a *new* interactive window in some kind of recursive comed

[2021-10-01 19:13] greazer commented on #7783
Thanks @heysujal! Are you running into this bug?

We'd love to have some help. That being said, the work that has to be done to fix this is either in the Jupyter extension or the Python extension and *possibly* VS Code core (depending on the results of the investigation, which hasn't been done yet). You can take a look at the Contributing.md files in each of these repos to see how to get started,

[2021-10-01 19:57] claudiaregio commented on #7782
Hi @konpoe, you can collapse output by double-clicking in the area to the left of a cell (in red below).

![image](https://user-images.githubusercontent.com/19276747/135677477-61c6be4a-9c6f-42ee-b42e-c9d251ed67f3.png)

You can also collapse output by clicking the '...' in the cell menu and then selecting collapse cell output (in red below).

![image](https://user-images.githubusercontent.com/19276

[2021-10-01 19:57] #7782 closed

[2021-10-01 20:08] IanMatthewHuff commented on #4419
I still repro this. But doesn't seem worthy of Sept consideration.

[2021-10-01 20:09] claudiaregio commented on #7774
@cplager Could you provide the code and the repro steps to how you got here? When did the error pop up? Did you happen to change kernel when the error appeared?

[2021-10-01 20:35] claudiaregio commented on #7771
Hi @dennisl68-castra, I think we could do something like this in the meantime, will bring it up during our next sync meeting to chat about other solutions.

There is a related feature request in the marketplace (https://github.com/microsoft/vsmarketplace/issues/43) if you'd like to take a look at that/leave your thoughts there too

[2021-10-01 20:49] cplager commented on #7774
It doesn't always happen.  But basically:

`ers = pd.DataFrame({'MaturityDate':range(5)}` in a previous cell.

No, I did not change the kernel.

[2021-10-01 20:52] claudiaregio commented on #7773
@cplager Could you please provide a screen recording of what you are seeing?

[2021-10-01 20:57] claudiaregio commented on #7772
Thanks @thefatwhale, will take a look at our next triage meeting

[2021-10-01 21:11] ngquocanh1197 opened #7785 "Jupyter Startup Commands problem message"
## Environment data

-   VS Code version: 1.60.2
-   Jupyter Extension version (available under the Extensions sidebar): v2021.8.2041215044
-   Python Extension version (available under the Extensions sidebar): v2021.9.1246542782
-   OS (Windows | Mac | Linux distro) and version: Windows 21H1 (Build 19043.1237)
-   Python and/or Anaconda version: Python 3.8.11
-   Type of virtual environment used

[2021-10-01 21:12] DavidKutu commented on #7783
Just adding my 2 cents. This works for me, it might be a python environment issue.

[2021-10-01 21:12] JacksonKearl commented on #7071
I don't seem to get any hovers in interactive window's input, is this expected?

[2021-10-01 21:31] DonJayamanne commented on #7783
Same here, works for me too. I wouldn't call this a regression.
Its just an existing but in the code & causing it to not work for some situations.

[2021-10-01 21:34] DonJayamanne commented on #7765
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/7749

[2021-10-01 21:34] #7765 closed

[2021-10-01 21:48] DonJayamanne commented on #7772
I believe this is caused by the intellisense we get from Jupyter as well.
We should look into remove these duplicates (in jupyter we can call VSC completions API to get the completions for that position & when we get response from both, remove duplicates, if we get response just from jupyter, return that item so that we don't slow down intellisense).

[2021-10-01 22:16] DavidKutu commented on #7742
@fschiffers sorry for getting back to you this late.

I wanted to ask you to please set this setting: `"jupyter.logging.level": "verbose"` and share the logs again. This would include all the debugging messages and would be very helpful.

[2021-10-01 22:24] DavidKutu commented on #7334
Hi @yfzhao20 and @ted1277, sorry to get back to you this late.

I'll admit I'm a total noob when it comes to Wolfram, but I'd like to try and get it working on my machine and get back to you with my findings.

In that note, I wanted to ask: could you share what did you install? (like a specific version of the kernel, etc)
And please share some simple code I can try after I get it running.

You bot

[2021-10-01 23:45] TamirShklaz commented on #7460
+1 would really like this feature :)

[2021-10-02 09:10] konpoe commented on #7782
ty

[2021-10-02 09:39] heysujal commented on #7783
https://github.com/microsoft/vscode-jupyter/issues/5222#issuecomment-909625520
I think this should be done.

@greazer  I also faced same issue then I installed `jupyter` , `notebook` , and `nbconvert`.
Then issue got fixed.
Now all we no to do is to give prompt to install these three packages.

[2021-10-02 10:11] maxwellzh opened #7787 "Better handling the situation when`ipykernel` missing"
On running a cell in the notebook, if `ipykernel` is missing, current behavior is to install `ipykernel` with
[code]

However, **if you don't have `jupyter` installed**, it just asks you to re-install ipykernel again and again.
<img width="535" alt="截屏2021-10-02 下午5 59 23" src="https://user-images.githubusercontent.com/32546978/135711741-6e314930-c6c0-4077-a6a3-9665bac6fdb0.png">

The output of ju

[2021-10-02 10:15] maxwellzh commented on #7787
This has been reported before #6272, but that issue was closed.

[2021-10-02 10:31] GitHunter0 commented on #1307
When this feature comes up, I really hope it works for `.py` files in Interactive Window too.
For that, do we have to open the same issue in `vscode-python`?

[2021-10-02 13:59] DonJayamanne commented on #7787
Sorry the current solution didn't work.
Please let me know if your are able to repro that issue.
Installing Jupyter isn't required.

[2021-10-02 14:04] DonJayamanne commented on #7787
If possible, please could you:
* Remove ipytjon_genutils
* are you using a notebook or interactive window?
* replicate the issue
* Provided the output from `jupyter` output panel.
* Provided the version infor for vscode, python and Jupyter extension
* Finally the output from the terminal when installing ipykernel.

Sorry, but I need all of the above to ensure I can fix this, would very much sorry

[2021-10-02 14:19] fschiffers commented on #7742
@DavidKutu: Could you tell me where to make these settings? Is this inside Visual Studio Code or is this a Jupyter setting found in the Jupyter configuration inside the .jupyter folder?

[2021-10-02 14:29] maxwellzh commented on #7787
@DonJayamanne For the info:
1. I'm using interactive window.
2. vscode `1.60.2`, python 3.9.7/3.8.11, python extension `v2021.9.1246542782`, Jupyter extension `v2021.8.2041215044`

Follow your instruction, I did
1. `conda uninstall jupyter ipytjon_genutils -y`.
2. open a notebook, and run cell (and it asks for re-installing the ipykernel).
<img width="1211" alt="截屏2021-10-02 下午10 12 38" src="https

[2021-10-02 15:24] DonJayamanne commented on #7787
Oh wow, you are able to repro this consistently. That's interesting (not in a good way).
Finally, please activate your test environment and run
* pip list
* conda list

I'd like to replicate this at my end and fix this.
I'll be in touch with you tomorrow or the day. Once again thank you very much for this info, hopefully we can fix this once and for all.
I'll try to look into this ASAP (its the we

[2021-10-02 15:53] maxwellzh commented on #7787
Sorry for disturbing your weekend. For the convenience, I create a new clean environment ( and also the issue exists). So there're just a few packages
* pip list

[code]

* conda list

[code]

BTW. The issue only happens in my remote machine (Ubuntu 20.04), while my local machine (MacOS) can normally runs Jupyter cells

[2021-10-03 05:21] DonJayamanne commented on #7787
Thanks
Personal notes
https://issueexplorer.com/issue/ipython/ipykernel/759

[2021-10-03 14:17] Arihant25 opened #7885 "Expand All Columns in Data Viewer"
# Data Viewer in Jupyter Notebooks

My feature request is about the Jupyter Notebooks experience.
When viewing a DataFrame in the Data Viewer, some column widths are truncated by default. For example, see the DATE column below:

![image](https://user-images.githubusercontent.com/22986534/135757664-10a1e945-ac76-4590-bde7-5ce4f7de665c.png)

It would be nice to have an option to expand all columns t

[2021-10-03 16:27] claudiaregio commented on #7774
@cplager That doesn't quite look like the code you have above that cell.. it looks like a function definition? Are you not able to provide all of the relevant code?

What I think could be happening based on the error is since we concatenate the cells to create the document that is sent to the language server, the error is saying "expected indent block" because technically the line above your error

[2021-10-03 22:02] claudiaregio opened #7788 "Language Server Quick Fix Enhancement (if no kernel selected)"
Filing this issue here for now...

I created a new notebook and started working in the cells. I immediately got diagnostics for the packages I wanted to grab since I had not yet selected a kernel. Pylance shows there are no quick fixes available, but it would be nice if the quick fixes could detect a kernel had not yet been selected for the notebook and asked me to select one, especially if the di

[2021-10-03 23:46] claudiaregio opened #7789 "Notebooks - Support more markdown functionality in cell toolbar"
I often find myself looking up markdown syntax because I forget what little symbol does what

Would be nice if our markdown cell toolbar had added functionality so I could just highlight the text and click a button instead of having to Google what I need

![image](https://user-images.githubusercontent.com/19276747/135775716-521d2014-5f48-48d6-97e6-0fca7472a37a.png)

[2021-10-04 01:15] burkeholland opened #7790 "Notebook toggles in and out of a dirty state while running"
**Note: I am unsure of whether or not this behavior is intended to show that the Notebook is running, or if this is an actual issue.**

## Environment data

-   VS Code version: 1.61.0-insider
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1001294413
-   Python Extension version (available under the Extensions sidebar): v2021.9.1246542782
-   OS (Windows | Mac | Li

[2021-10-04 01:21] burkeholland opened #7791 "Rendered Markdown jumps / flickers as Notebook runs"
## Environment data

VS Code version: 1.61.0-insider
Jupyter Extension version (available under the Extensions sidebar): v2021.9.1001294413
Python Extension version (available under the Extensions sidebar): v2021.9.1246542782
OS (Windows | Mac | Linux distro) and version: Windows 11
Python and/or Anaconda version: conda 4.10.3
Type of virtual environment used (N/A | venv | virtualenv | conda | ...

[2021-10-04 05:57] Gavin-jy commented on #5963
I did the same thing and My problem has been eventually solved! Thanks a lot!

[2021-10-04 08:44] ldorigo opened #7792 "Unable to copy native notebook cell outputs"
Issue Type: <b>Bug</b>

I am unable to copy the outputs of native notbook cells. The usual shortcut ctrl-c does not work, and right-clicking does not give the option to copy the output (only the cell).

It seems like in some occasions ctrl-c does work, but I have been unable to figure out when or reproduce it.

Extension version: 2021.8.2041215044
VS Code version: Code 1.60.1 (83bd43bc519d15e50c42

[2021-10-04 13:26] cplager commented on #7774
ers is a dataframe pulled from a database, so no, I can't easily reproduce it here.

The cell above was formatted correctly, but it is possible that it used to be a cell that was not and was deleted.  The problem is intermittent and I cannot get it to do it again.

I am OK closing this issue where I would just open a new one if I see it again.  (I am OK leaving it open for a while to see if the pr

[2021-10-04 13:28] Syndorik opened #7793 "High CPU usage while working on notebook"
## Environment data

-   VS Code version: 1.61.0-insider c9e8266ee24f34107ff52d836a4e8f533afb93c5 x64
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1001294413
-   Python Extension version (available under the Extensions sidebar): v2021.9.1246542782
-   OS (Windows | Mac | Linux distro) and version: Ubuntu 20.04 (via WSL2)
-   Python and/or Anaconda version: Python

[2021-10-04 13:46] cplager commented on #7773
![badDefaults](https://user-images.githubusercontent.com/17601058/135862695-7ad822db-c681-4332-9b74-f5675cb99563.gif)

[2021-10-04 15:22] ldorigo opened #7794 "Documentation improvements: Clarify difference between notebook.xxx and jupyter.xxx in keyboard shortcuts"
Less of a bug and more of unclear functionality: for most notebook-related commands, there seem to be two versions - one that starts with `jupyter.` and one that starts with `notebook.`. I assume one is for normal python files containing pseudo-cells (i.e. delimited by # %%), and one is for actual .ipynb files? I couldn't find any explanations for this.

[2021-10-04 15:54] rchiodo commented on #1307
@GitHunter0

No this window would be created in the jupyter extension for the interactive window. The interactive window is talking to a notebook kernel in the background, and that's what would drive the contextual help. At least one way to do it. @mjbvz's [doc-view extension](https://marketplace.visualstudio.com/items?itemName=bierner.docs-view) works without a kernel though. It just uses the hov

[2021-10-04 16:45] ted1277 commented on #7334
Hi @DavidKutu
1. The version of `Wolfram Engine` is 12.3
2. For the sample test code, just type `1+1` and run
3. Start a remote kernel: first run `Jupyter Lab` (it will give you the URL of the server), then paste the URL in VS code (chose remote Jupyter server)

***
To make sure you can repeat this problem on your computer, I have written the installation in detail. All the installation and setups

[2021-10-04 17:20] jackthepanisher commented on #7776
It will not reproduce unless a kernel is selected. So just loading the attached file above will not trigger the issue unless the same Python/kernel environment is available. To reproduce, select a kernel, save file and re-open it. BTW, the procedure given in [Opening an existing notebook marks it dirty unnecessarily](https://github.com/microsoft/vscode/issues/132306) should be still valid.

[2021-10-04 17:46] DavidKutu commented on #7790
This might be happening because the output is changing.

[2021-10-04 17:48] misolori opened #7796 "Remote kernels forces notebook to hide run & kernel buttons when disconnected"
I was last testing remote kernels via https://github.com/microsoft/vscode/issues/133903 and when I created a new notebook the run button and kernel info was blank:

1. Connect to a remote kernel (via https://github.com/microsoft/vscode/issues/133903)
2. Close VS Code and turn off remote kernel
3. Open VS Code and create a new file from the explorer
4. :bug: notice that the run button and kernel in

[2021-10-04 17:57] DavidKutu commented on #7794
Thanks for filing @ldorigo.

They are both related to ipynb files. The difference is the one that starts with `notebook` is contributed by VS Code and the one that starts with `jupyter` is contributed by the jupyter extension.

We'll check if there's a way to make this clearer.

[2021-10-04 18:07] DavidKutu commented on #7792
Thanks for filing @ldorigo.

We do have commands to copy the whole cell. To use them, get the cell in command mode (where there's a blue line on the left of the cell, and the editor is not selected). Then the keybinding is just `c` and then just `v` (no ctrl). Its done that way because that was already the default for notebooks.

You can also right click on the cell (and outside the editor) to see

[2021-10-04 18:33] DavidKutu commented on #7793
Thanks for filing and posting your cpuprofile @Syndorik.

From there, I was able to gather that CPU usage and long time is happening on VS Code here:
`src\vs\platform\remote\browser\browserSocketFactory.ts`
on the constructor. The function is `this._fileReader.onload`.

I'll transfer this to VS Code so they can take a look.

[2021-10-04 18:56] DavidKutu commented on #7742
Thanks for getting back to me @fschiffers.

Looks like we're trying to set the Run by Line Breakpoint on the wrong cell (line 20 of your most recent logs, it reads cell 11, instead of 0). Do you remember moving cells around? Or adding cells and deleting them?

If so, please try to create a new blank notebook, with one or two code cells, and run the same code on the first cell with Run by Line. Tha

[2021-10-04 19:06] rchiodo opened #7798 "Generate a telemetry CSV for querying telemetry generation data"
This PR: https://github.com/microsoft/vscode-jupyter/pull/7797 adds a TELEMETRY.md file to the root.

This is nice for documentation purposes, but it would be nice to be able to query the data used to generate this MD file.

This issue proposes to generate a CSV file (that can be pulled into a notebook for example) that contains things such as:

- Event name
- Event description
- Property names
-

[2021-10-04 19:08] rchiodo opened #7799 "Create github action to force telemetry.md update whenever telemetry changes"
A github action that watched this file: ```src\client\telemetry\index.ts``` should indicate when the telemetry.md file has to be updated.

[2021-10-04 19:21] ldorigo commented on #7794
Hey, thanks for clarifying, but then why are there so many duplicate commands (for instance `jupyter.insertCellAbove` vs. `notebook.cell.insertCodeCellAbove`, or `jupyter.runallcellsabove` vs. `notebook.cell.executeCellsAbove`)? Do they do the same thing & which ones should be used?

[2021-10-04 20:10] rchiodo commented on #7796
The remote server never responds so there's nothing to return. Should we do something in this scenario to indicate the server is down?

[2021-10-04 20:15] rchiodo commented on #7794
We should make the 'jupyter' commands more descriptive to give them a better indication of what they actually do.

[2021-10-04 20:16] rchiodo commented on #7792
This should be the same issue as this one:
https://github.com/microsoft/vscode/issues/134249

[2021-10-04 20:16] #7792 closed

[2021-10-04 20:18] rchiodo commented on #7790
If you have auto save turned on, this is by design. As you execute outputs are changing (making the file dirty) and then an auto save happens marking the file as not dirty.

[2021-10-04 20:18] #7790 closed

[2021-10-04 20:23] rchiodo commented on #7801
Transferred to Jupyter extension. We'll try submitting a PR to core to handle this situation.

[2021-10-04 20:25] rchiodo commented on #7788
#6333 should alleviate this somewhat

[2021-10-04 20:27] rchiodo commented on #7787
We may have to install ipython_genutils ourself?

[2021-10-04 20:32] rchiodo commented on #7785
Your setting is using the older way to specify 'runStartupCommands'. We switched it to an array of commands but it still supports the old way. You can ignore the warning or fix your startup commands to look like so:

[code]

[2021-10-04 20:32] #7785 closed

[2021-10-04 20:33] rchiodo commented on #7784
Thanks for the suggestion. There was some attempt at this here for markdown:

https://github.com/microsoft/vscode-jupyter/pull/4876

It was intended to support other languages.

[2021-10-04 20:34] rchiodo commented on #7783
This should fix this problem:
https://github.com/microsoft/vscode-python/pull/17614

[2021-10-04 20:37] rchiodo commented on #7779
Change kernel and cancel are not working correctly.

[2021-10-04 20:40] rchiodo commented on #7776
Dupe of #6637

[2021-10-04 20:40] #7776 closed

[2021-10-04 20:46] greazer commented on #7774
Thanks for the feedback! However, what you're experiencing is currently due to the way we are supporting Intellisense in a notebook (it concatenates the cells). Going forward we may revisit how this is done as it has other side-effects as well.

[2021-10-04 20:46] #7774 closed

[2021-10-04 20:46] rchiodo commented on #7773
This looks like the jupyter intellisense is trumping the pylance intellisense.

[2021-10-04 20:49] rchiodo commented on #7772
@DonJayamanne had an idea on how to remove dupes.

- During jupyter completion call, call for other completions
- Filter out the ones that are already there

[2021-10-04 20:52] rchiodo commented on #7771
Should be able to add the entry in the package.json to the changelog.

[2021-10-04 20:53] rchiodo commented on #7760
@StevenLi-DS please reopen if insiders doesn't work for you. Thanks.

[2021-10-04 20:53] #7760 closed

[2021-10-04 21:05] misolori commented on #7796
As a user, I'd expect that this would get reset to "Select Kernel" and maybe show a toast that the remote kernel stopped responding.

[2021-10-04 21:08] fschiffers commented on #7742
@DavidKutu : I have just created a new blank notebook with the following cells:
![image](https://user-images.githubusercontent.com/13521689/135924987-e643be85-ff0c-4cb3-a249-e8609937972e.png)

It's still the same problem.

`Silly 2021-10-04 17:08:01: [Debug] to kernel: {"command":"initialize","arguments":{"clientID":"vscode","clientName":"Visual Studio Code - Insiders","adapterID":"Python Kernel D

[2021-10-04 21:26] DavidKutu commented on #7742
@fschiffers could you try and check if normal debugging works?

- You probably need to set this setting: `"jupyter.experimental.debugging": true`
- Set a breakpoint on your cell
- Click `Debug Cell` under the run button dropdown.
![image](https://user-images.githubusercontent.com/20347396/135926770-46b59332-af85-4f26-bd87-b1584208890c.png)

That should behave like normal debugging. Please let me k

[2021-10-04 21:28] fschiffers commented on #7742
This works

![image](https://user-images.githubusercontent.com/13521689/135927291-b8b0c3a1-e185-49b5-aa6f-e1097f1d55b9.png)
![image](https://user-images.githubusercontent.com/13521689/135927306-d0675e38-806a-46d2-87ed-65c4e2f52fcd.png)

![image](https://user-images.githubusercontent.com/13521689/135927332-9f1f5a35-a718-4fd9-bc93-80da40d3eaea.png)

[2021-10-04 21:31] Dedsd opened #7802 "Kernel crashes and needed to restart after using KernelPCA"
OS: Ubuntu 20.04
Vscode: 1.60.2
Extension: 2021.8.1236758218

After executing some code of KernelPCA with sklearn library I get this kernel crash that needed to restart the kernel(if I didin't restart keep the error message while executing any cell). After restarting it continues to get the crash when executing the KernelPCA code. So I can't execute the code without crashing.

Error message:
[code

[2021-10-04 21:42] DonJayamanne commented on #5319
Depends on https://github.com/microsoft/vscode-jupyter/issues/7583

[2021-10-04 21:46] DonJayamanne commented on #7513
I don't think this is an issue, we never create any file, infact we create untitled files and let the user save them where ever they want.
This issue is actually asking for a change in workflow, its not a bug, we're now asking for files to be saved on disc instead of creating untitled files.

[2021-10-04 22:01] StevenLi-DS commented on #7760
I'm not able to use it in insiders since the extension won't load for some reason.
![image](https://user-images.githubusercontent.com/33796896/135930657-948636de-6e0c-499a-9f1d-07e6f42ebcde.png)

[2021-10-04 22:33] DavidKutu commented on #7742
That looks like you're debugging a normal python file, please try it on a notebook with the steps I provided.

[2021-10-04 22:36] DavidKutu commented on #7672
Hey @azure-walker, how are you using argparse on a notebook? It looks like that's made for regular python files.

If you could share some simple code that showcases what you're doing, that'll be very helpful.

[2021-10-04 22:47] DavidKutu commented on #7802
Thanks for filing @Dedsd.

Could you share what is the code that is crashing?

[2021-10-04 22:48] StevenLi-DS commented on #7760
@DonJayamanne @rchiodo Sorry for the late reply. After trying it out for a very short period of time, I'm not having this issue in Insiders now.

[2021-10-04 22:56] lucaguarro commented on #7668
Hi @DavidKutu sorry for the slow reply. Attached are the logs from the moment i restart the kernel to execution of just that cell.

[vscodetimeitbugjupyterlog.txt](https://github.com/microsoft/vscode-jupyter/files/7281721/vscodetimeitbugjupyterlog.txt)

[2021-10-04 22:57] tanhakabir commented on #7513
@DonJayamanne do you think it's a worser experience to create a file for disk rather than opening an untitled file? I personally found the weird to get `%% text` as a suggested name for the file when I hit save

[2021-10-04 23:12] rchiodo commented on #7745
This might be a 3.7 problem. However export to pdf has always been flakey and hardly anybody uses it. Taking off the golden path for now.

[2021-10-04 23:17] claudiaregio opened #7806 "Notebooks - Create new notebook not honoring default kernel"
## Environment data

-   VS Code version: 1.61.0 - insider
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1001294413

## Steps to reproduce:

1. Create new notebook
2. Select kernel is always available despite having the default kernel for jupyter notebooks selected
![image](https://user-images.githubusercontent.com/19276747/135936848-6e5ba9f0-f775-4c78-bdd4-f64aea

[2021-10-04 23:23] Dedsd commented on #7802
This code crashes the kernel:
[code]

[2021-10-04 23:26] claudiaregio opened #7807 "Notebooks - Language not updating with kernel change"
## Environment data

-   VS Code version: 1.61.0-insider
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1001294413

## Steps to reproduce

1. Have Python and Julia extension installed
2. Create new Jupyter notebook -> Choose julia extension provided kernel
3. Change kernel to a Python kernel

## Actual Behavior

Language picker remains Julia
*Note, this only occurs

[2021-10-04 23:30] greazer commented on #7513
I agree with @DonJayamanne. This is the way VS Code deals with new files. Here's an example:

![image](https://user-images.githubusercontent.com/11685408/135937795-4c398c5e-61df-4674-9ff5-977774a6d7a2.png)

If anything perhaps the first line of the exported file should simply be something like:
```# Exported from mynotebook.ipynb```

That would at least provide a hint as to where the file came fro

[2021-10-04 23:34] DonJayamanne commented on #7513
@tanhakabir  Aren't we trying to work around an issue with VS Code core using the text as the file name.
I.e you're experiencing issues with the default name & suggesting something to circumvent that problem.

But then again, one could argue that the whole purpose of exporting is to save to a file.

[2021-10-04 23:38] fschiffers commented on #7742
@DavidKutu:

I've done the steps that you've asked me to do.

 I have the following jupyter notebook with 2 cells:
![image](https://user-images.githubusercontent.com/13521689/135938318-5229dd72-3a0e-4941-9f35-9d8da1771624.png)

when I use the debug-mode, as you've suggested the following "new python" file 3058943594.py opens ( I did not create this file) and I can "debug" through this file which i

[2021-10-04 23:42] DonJayamanne commented on #7806
Not sure we did this.
The only concept of default kernel we had still applies and its the top of the list, when you get the kernel picker.

[2021-10-04 23:45] DavidKutu commented on #7742
Thanks for clarifying @fschiffers.

Is that happening on stable or on insiders?

[2021-10-04 23:52] fschiffers commented on #7742
This is on insiders since the latest version of the jupyter extension was not available on stable.

[2021-10-05 00:05] fschiffers commented on #7742
@DavidKutu: same behavior on the stable version

[2021-10-05 00:48] tanhakabir commented on #7513
My assumption was that it should match the HTML and PDF exports.

[2021-10-05 06:07] claudiaregio commented on #7806
I remember we had added functionality in the extension such that if a user opened a notebook it would assign the kernel to the one that was last used.

The gear in the kernel drop down now says "Set as default for jupyter notebooks", whereas previously it used to say "Set default kernel provider". Based on the changed tooltip I thought the functionality has changed but even if this was not the cas

[2021-10-05 07:50] ldorigo commented on #7794
As far as I'm concerned, names are fairly descriptive, it's more the fact that there seem to be almost identical commands starting with `jupyter.` and with `notebook.` that threw me off.

[2021-10-05 07:59] ldorigo opened #7812 ""Notebook: Format Notebook" with Black completely mangles the notebook"
Issue Type: <b>Bug</b>

Hello,

Formatting single cells with black works fine. I tried using the "format notebook" command, and it completely mangled my notebook - replacing random lines left and right and causing over an hour of work to recover my work (which is partly my fault - just mentioning it to point out it's a relatively bad bug).

I can provide the notebook on which this happens, it cont

[2021-10-05 15:55] azure-walker commented on #7672
David,

I am not sure what you mean by how am I using argparse. I believe this is in a script but I will see if I can track it down. @Yuan ***@***.***> is on the Many Models team and may also be able to help with this.

Regards,

-Brandon

From: David Kutugata ***@***.***>
Sent: Monday, October 4, 2021 6:37 PM
To: microsoft/vscode-jupyter ***@***.***>
Cc: Brandon Campbell ***@***.***>; Mention ***

[2021-10-05 16:06] #6637 closed

[2021-10-05 16:21] DonJayamanne commented on #7542
This has been fixed, I fixed it.

[2021-10-05 16:21] #7542 closed

[2021-10-05 16:24] DonJayamanne commented on #7367
Isn't this an nb golden scenario issue, what's the point of export if users cannot view it in notebooks.
isn't this a regression?

[2021-10-05 17:12] mjbvz opened #7815 "Confusing block of text printed at top of new interactive window"
Issue Type: <b>Bug</b>

**Repro**
1. Start a new interactive window

**Bug**
A block of unformated text is printed at the top:

<img width="810" alt="Screen Shot 2021-10-05 at 10 09 16 AM" src="https://user-images.githubusercontent.com/12821956/136070755-79610b88-de3c-401b-b029-578153589302.png">

I don't know what I'm supposed to do with this text and the lack of formatting makes it difficult to

[2021-10-05 17:18] misolori opened #7816 "IntelliSense for data files does not work on subfolders"
When trying to read data files via `df = pd.read_csv()`, it appears that intellisense does not show subfolders and I have to explicitly trigger intellisense again after there are no matches. It would be nice if I didn't have to explicitly trigger this and it just worked automatically.

https://user-images.githubusercontent.com/35271042/136071529-1149082d-fd54-4e4b-b9ce-58ea65373b09.mp4

[2021-10-05 17:25] yuanzhuangyuanzhuang commented on #7672
We have fixed in the next sdk release which will be in public 10/11.

[2021-10-05 17:25] mjbvz opened #8089 "Can't hover over error in interactive window"
Issue Type: <b>Bug</b>

1. Open Jupyter interactive window
1. Type `noSuchSymbol`
1. See a yellow squiggly
2. Try hovering over this squiggly to see the error

**Bug**
Nothing happens

I can view this error in the problems view, but it is frustrating that I can't view it with hover while writing code

VS Code version: Code - Insiders 1.61.0-insider (Universal) (71ca6e8e74591ae5c577d52a2aa1bd0c3df5

[2021-10-05 17:41] mjbvz opened #7817 "Rounded sort arrow in the `Jupyter: Variables` view looks out of place"
Issue Type: <b>Bug</b>

1. Open ineractive window
1. Open the variables view

**Bug**
Column sorting uses a large rounded arrowhead:

<img width="161" alt="Screen Shot 2021-10-05 at 10 37 48 AM" src="https://user-images.githubusercontent.com/12821956/136074996-f0871d33-add7-4fac-95f7-657f86439446.png">

This looks out of place to me. I didn't realize it was supposed to indicate sorting until I int

[2021-10-05 17:47] DonJayamanne commented on #7787
@maxwellzh Looks like you are running into a bug filed here https://github.com/ipython/ipykernel/issues/755
Basically ipykernel itself was busted & the update hasn't been pushed to the main channel.

We'll try to get this fixed asap.

# Solution
In the mean time, please use `conda install -c conda-forge ipykernel`

[2021-10-05 17:56] mjbvz opened #7818 "Unpleasant wrapping of error text in interactive window output"
Issue Type: <b>Bug</b>

1. Open the interactive window
1. Shrink it to a smaller width (I was using a two column editor layout)
1. Run the code `noSuchSymbol`

**Bug**
The error text wraps oddly:

<img width="705" alt="Screen Shot 2021-10-05 at 10 52 16 AM" src="https://user-images.githubusercontent.com/12821956/136077136-2db3d3ba-fb5c-4d86-9e80-a4072b20a4ed.png">

Specifically:

- The `---` goes

[2021-10-05 18:10] mjbvz opened #7819 "Controls in the plot viewer window are confusing"
Issue Type: <b>Bug</b>

1. In the interactive window, run:

[code]

1. Now click the `expand image` button to open the plot in a dedicated viewer
2. Try clicking the controls at the top of the plot viewer

**Bug**
For a while, I didn't think the move, zoom in, and zoom out controls were doing anything:

<img width="316" alt="Screen Shot 2021-10-05 at 11 10 20 AM" src="https://user-images.githubuse

[2021-10-05 18:42] IanMatthewHuff opened #7820 "Selected Kernel and kernel connection is lost when saving an untitled Jupyter Notebook"
1. Start with the "New Jupyter Notebook" command
2. Select a kernel and work with the file for a bit
3. Save the file with a filename

Expected: After saving the file I have the same kernel selected and can continue working
Actual: On saving I lose my associated kernel and have to select it again and connect to it again to continue working

![image](https://user-images.githubusercontent.com/812783

[2021-10-05 18:51] IanMatthewHuff opened #7821 "Garbled pylance info in Jupyter notebook"
The repro here was just creating the following basic notebook. After adding in the second cell everything was garbled. Pylance seems to have some odd code that's not what is actually in the cells. Trying to suss out the total repro here. Basically I added and executed the first cell. Then added and executed the second cell. Then the problems showed up in the problems pane. Python interpreter is se

[2021-10-05 18:53] luabud opened #7822 "Improve setup instructions for setting up ipykernel for debugging Jupyter Notebooks"
I was trying out the new debugging feature for notebooks (which is so awesome btw 🤩), and I got that modal notification saying I needed to set up ipykernel to debug cells.

1. When I clicked "setup" I was expecting something to happen automatically. I did not notice it opened the instructions on the browser. If it's a temporary solution feel free to completely disregard this comment, otherwise it

[2021-10-05 19:49] IanMatthewHuff opened #7823 "Shift enter to empty cell doesn't place the new cell in a visible location on screen"
Not 100% sure what's happening here, but it might just be the output arriving and pushing down the focused cell. But it's not a good shift enter experience as my cell focus is on the next cell, but I can't see it on screen at all.

![ShiftEnterFocus](https://user-images.githubusercontent.com/812783/136091498-e0389f62-1c1a-4825-86a9-f2e631fafa98.gif)

[2021-10-05 20:56] rchiodo commented on #7821
Looks like the change events for the cells didn't work correctly.

[2021-10-05 20:58] rchiodo opened #7825 "Variable explorer has two invalid 'loading' rows"
![image](https://user-images.githubusercontent.com/19672699/136101478-50ee43d9-5cce-4111-8eb4-180c9d274708.png)

This is the code I'm running

Download from here:
https://github.com/pluralsight-projects/python-collections-budget

Add this code to the FrequentExpenses.py

[code]

[2021-10-05 22:12] DonJayamanne commented on #7661
Even if we fixed this, i don't see a point, as we're planning on moving this into core in the same iteration!
To be discussed whether we want to fix this in Jupyter or not.

**Suggestion**
* VS Code enables the icon only when cells are queued/running
* Remove interrupt from Jupyter
	* Currently the interrupt only appears in global toolbar & not in editor toolbar (moving to core will fix this - hop

[2021-10-05 22:28] DonJayamanne opened #7827 "Upgrade to webpack 5"
We have lots of outdated dependencies and hacks/work arounds

[2021-10-05 22:30] DonJayamanne opened #7828 "Start using esbuild"
No idea where the original issue went, i remember discussing this with the team as well.
Suggestion:
* Use esbuild for the webview stuff (will be faster)

[2021-10-05 22:43] rchiodo opened #7829 "Cell delimiters on indented code require a space"
Have code like this:

[code]

There should be two cells there. There's only one

![image](https://user-images.githubusercontent.com/19672699/136112704-4b671416-8db5-49d7-90ef-dc5dfd58aaa2.png)

If I add a space it works:
[code]

![image](https://user-images.githubusercontent.com/19672699/136112753-1ec1d6a9-841d-4285-bfce-ea0b0dd453fb.png)

[2021-10-05 23:01] misolori opened #7830 "Add command to toggle interactive window cell comments"
Would love it if there was a command to toggle the interactive window cell comments `# %%`, just like you can toggle comments via `cmd+/`. We have these other commands but I would like to ask for one to toggle:

![image](https://user-images.githubusercontent.com/35271042/136114328-7847c601-f75a-45c4-ae8f-080f0b47b24b.png)

[2021-10-05 23:16] DonJayamanne commented on #7697
I think i can see how we'd end up in a situation where variables aren't displayed:
Here's the flow of events:
* View variables (request sent to kernel)
* Start debugging
* Display debug console & variables view is no longer visible
* Next, display variables view (i don't know who's switching from debug console to varaibles view, possible we are or possible vscode core is)
* Next variables view is

[2021-10-05 23:22] DonJayamanne opened #7831 "Unnecessary requests to get Variables"
* When opening variable viewer we fetch variables twice
* When using RBL and hitting continue (run to completion), we fetch variables 4 times

Feels like a problem in the code flow, i would have expected:
* One fetch when displaying variable viewer
* Zero fetches when running to completion

this feels like things are not really working as we expect them to (i.e. somethign is wrong & we don't know)

[2021-10-05 23:28] rchiodo commented on #7830
Seems easy enough to do. I agree we should add this command.

[2021-10-06 00:03] mjbvz opened #7832 "'Create Interactive window' always opens to the side in a new editor group"
Issue Type: <b>Bug</b>

1. In a single editor layout
1. Run `Jupyter: create interactive window`

**Bug**
This command always creates the interactive window to the side of the current editor. I expected it to create the window in my current editor group

For the markdown preview, we have two versions of the `open preview` command: `Open preview` which uses the current editor group, and `Open previ

[2021-10-06 00:05] rchiodo commented on #7832
Thanks for the bug. This is on purpose at the moment, but no reason why we couldn't have both commands.

[2021-10-06 00:27] mjbvz opened #7833 "Plot buttons stand out in dark themes"
Issue Type: <b>Bug</b>

**repro**
1. Using the default Dark+ theme
1. In the interactive window
1. Create a chart with:

[code]

3. Hover over the chart

**Bug**
The controls for viewing the interactive window are white:

![Screen Shot 2021-10-05 at 5 24 56 PM](https://user-images.githubusercontent.com/12821956/136121852-c2dc7e87-16ef-46ca-9ab9-8a551a78dc1b.png)

These stand out compared to the ot

[2021-10-06 00:57] rchiodo commented on #7833
Thanks for the bug. We should be able to theme them using the VS code colors

CSS for the plot button is here;
https://github.com/microsoft/vscode-notebook-renderers/blob/main/src/client/index.css

They used to be on top of a white background all the time, so the colors were hard coded. We had talked about moving the plot buttons on top of the graph itself (so then the colors would likely stay thi

[2021-10-06 01:07] greazer opened #7834 "Two "show more" links being shown in stdout output"
Version: 1.60.0-insider (user setup)
Commit: 58454f7bec838f79fe2422ab5914419147d82e40
Date: 2021-08-13T05:15:29.421Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22000

Unfortunately, I'm not sure what I did to make this happen, but I certainly shouldn't see two "show more" links in one set of output. I had been modifying a particular ce

[2021-10-06 04:10] IanMatthewHuff commented on #7812
@ldorigo I don't believe that you actually need to provide your file here. I just played with this a bit myself, and while it worked on some very basic files I was able to get some very mangled results.

[2021-10-06 05:32] IanMatthewHuff commented on #7815
Yeah, not only is the formatting off (though that feels like a general markdown block issue that we need to resolve, not just specific to this area) but I don't think this block is really actionable or informative to the user. 99% of the useful info in this block is covered just by seeing the selected Controller.
![image](https://user-images.githubusercontent.com/812783/136144648-e5134e7d-2062-41b

[2021-10-06 05:41] IanMatthewHuff commented on #7827
@DonJayamanne I actually had this mostly done at one point (same time I converted the renderers) the one thing that was really difficult to work around was the old version of the Monaco editor that we were using in the webviews. To get Webpack 5 we had to use a newer version of Monaco-editor-webpack-plugin but that plugin required that we move to a newer version of Monaco which caused all sort of

[2021-10-06 16:28] rchiodo opened #7836 "Restarting a kernel breaks error linking in interactive window"
Run code like so for the interactive window
[code]
Notice stack links working
Restart kernel
Run code again

Stack links are not there.

[2021-10-06 19:50] #7325 closed

[2021-10-06 19:53] rchiodo commented on #7628
What if I just changed it to always include * on the end? That's essentially what it used to do. Instead of exact match it was 'includes'

[2021-10-06 19:54] rchiodo commented on #7628
That would probably match the wanted behavior for most people.

[2021-10-06 21:06] rchiodo opened #7839 "Variables view won't open if file explorer tab is closed"
![image](https://user-images.githubusercontent.com/19672699/136283052-6d86baac-2168-443d-af68-e964e7512a4c.png)

Clicking on the variables button on the toolbar does nothing.

[2021-10-06 21:47] DonJayamanne opened #7841 "Decide what we do to install pip when pip is not available"
The plan was to install pip via the Python extension
Where should this code reside?
Easiest is to leave it in python extension.

[2021-10-06 22:10] DonJayamanne commented on #7787
**Verification**
* Create a new conda environment
* Ensure you have `default` as the only conda channel
	* Run `conda config --show channels`
	* Use https://conda.io/projects/conda/en/latest/user-guide/configuration/use-condarc.html#config-channels to alter the list of channels (remove `conda-forge` if its in the list)
* Select above env as a kernel in a notebook
* Run a cell
* When prompted to in

[2021-10-06 22:59] misolori commented on #7628
That maps to what I expected 👏 👍

[2021-10-06 23:03] ronglums commented on #7628
Thanks @rchiodo! I like the change. The only question I have is how do we let users know about using "=" for exact match? Maybe a placeholder text "_Use "=" for exact match_" when they click into the filter box?

[2021-10-06 23:29] misolori commented on #7628
Another thing to add, which we use in the search input, is to show the syntax when the user is focused on the input only so it's not always busy:

<img width="341" alt="CleanShot 2021-10-06 at 16 29 14@2x" src="https://user-images.githubusercontent.com/35271042/136297274-5d7a7a5f-fca0-4c94-8e46-3982aca99384.png">

[2021-10-06 23:46] claudiaregio opened #8215 "Notebooks - Kernel not maintained after save"
- VS Code Version: 1.61.0-insider
- OS Version: WIndows

### Steps to Reproduce:

1. Create notebook
2. Select Kernel
3. Save

### Actual Behavior

Kernel selection disappears/resets

![image](https://user-images.githubusercontent.com/19276747/136298503-8d8b0d41-abd6-46d8-b04a-dd0b2eb1c76b.png)

### Expected Behavior

Kernel selection to remain

[2021-10-07 01:11] claudiaregio opened #7844 "Notebooks - Kernels Not Enumerated"
Themes:

- Venv not showing up in kernel quick pick, users attempting to input path in input box to work around it. Likely doing this because of how the "Select Python Interpreter" command works.
- Users potentially not realizing that finding new kernels requires a reload

![image](https://user-images.githubusercontent.com/19276747/136303787-749c7a94-4b6f-4e87-be04-232df784c5e2.png)

![image](http

[2021-10-07 01:19] claudiaregio opened #7845 "Notebooks - General Kernel Start Failure"
![image](https://user-images.githubusercontent.com/19276747/136304994-e879f2bd-cd6c-4276-afa8-2a881071df52.png)

![image](https://user-images.githubusercontent.com/19276747/136305029-1243285a-6d63-4ec1-b257-dec5dd43e8d0.png)

[2021-10-07 01:23] claudiaregio opened #7867 "Interrupt/Restart Slow or Not Working"
I have a hunch that interrupt not working is coming from the cell level based on previous feedback and my own experience as well. The cell level interrupt sometimes just doesn't work and requires restarting the entire kernel.

![image](https://user-images.githubusercontent.com/19276747/136305364-c46f5edb-628c-4765-ba9f-82f2773fb461.png)

[2021-10-07 01:27] claudiaregio opened #7846 "Better handling of kernel crashes (dead kernels)"
![image](https://user-images.githubusercontent.com/19276747/136305639-e4bae032-ac58-48ee-a03b-393c5bf04e95.png)

[2021-10-07 01:29] claudiaregio opened #7847 "Notebooks - Venv Integration"
![image](https://user-images.githubusercontent.com/19276747/136305916-d545e14a-876d-46f5-a776-c539d8510908.png)

![image](https://user-images.githubusercontent.com/19276747/136305946-af7fb44f-6ef2-4745-9b3c-3ca6100a8642.png)

[2021-10-07 01:33] DonJayamanne commented on #7846
I think we've fixed these issues in interactive window

[2021-10-07 01:33] claudiaregio opened #7848 "Notebooks - No auto reload for updated modules"
In support of: https://github.com/microsoft/vscode-jupyter/issues/4555

![image](https://user-images.githubusercontent.com/19276747/136306147-773051d6-e728-48a3-bf92-5386bd04dac6.png)

![image](https://user-images.githubusercontent.com/19276747/136306254-68082931-c1d8-43f2-97a6-c4a9ef5d2ebe.png)

[2021-10-07 01:35] claudiaregio opened #7849 "Slow Kernel startup/restart"
![image](https://user-images.githubusercontent.com/19276747/136306361-ed4ac6cf-3236-4bda-aa18-d6e0c2cb2074.png)

[2021-10-07 01:36] claudiaregio opened #7850 "Notebooks - Kernel Hangs"
![image](https://user-images.githubusercontent.com/19276747/136306470-1920bb7b-20af-4964-82b4-80833e06ba66.png)

[2021-10-07 01:38] claudiaregio opened #7851 "Notebooks - No Default Kernel"
![image](https://user-images.githubusercontent.com/19276747/136306588-e8953f18-c9ab-4921-844b-bbc07fbd7b7f.png)
![image](https://user-images.githubusercontent.com/19276747/136306638-6d150d67-20a7-4dce-a6d1-774de0d67670.png)

[2021-10-07 01:40] claudiaregio opened #7852 "Notebooks - Missing Kernel Management"
In support of: https://github.com/microsoft/vscode-jupyter/issues/7598

![image](https://user-images.githubusercontent.com/19276747/136306753-ecc9ac69-6c6c-4d86-b9d5-9906cad2f8d0.png)

[2021-10-07 01:40] claudiaregio opened #7853 "Notebook - Kernel Issues Roundup"
Use [this query](https://github.com/microsoft/vscode-jupyter/issues?q=is%3Aissue+is%3Aopen+milestone%3A%22October+2021%22+label%3Akernel-enumeration%2Ckernel-issues%2Ckernel-crash
) to see the kernel issues we intend to fix or investigate during October.

Kernel Issues Themes from Survey:
- https://github.com/microsoft/vscode-jupyter/issues/7844
- https://github.com/microsoft/vscode-jupyter/issues

[2021-10-07 04:26] bigeagle opened #7854 "Junk files in `/tmp`"
## Environment data

-   VS Code version: 1.60
-   Jupyter Extension version (available under the Extensions sidebar): v2021.8.2041215044
-   Python Extension version (available under the Extensions sidebar): v2021.9.1246542782
-   OS (Windows | Mac | Linux distro) and version:  Mac Host +  Linux Remote via SSH
-   Python and/or Anaconda version: 3.6.9
-   Type of virtual environment used (N/A | v

[2021-10-07 05:06] saldroubi commented on #1121
Please add this feature soon. The workaround, jupyter power tools, does not work with latest vs code insider.

[2021-10-07 13:49] #7854 closed, assigned to DonJayamanne

[2021-10-07 14:01] DonJayamanne opened #7855 "Running cells is very slow"
This used to be very fast
Sense to have regressed significantly in past 2-3 releases

[2021-10-07 14:09] DonJayamanne commented on #7444
Closing this issue as removing the `email.py` file should fix this

[2021-10-07 15:17] darim1 opened #7856 "Jupyter won't select specified virtual environment on first start"
Unfortunately a previous issue with the same topic was closed due to some wrong information from me. The issue can be found [here](https://github.com/microsoft/vscode-jupyter/issues/7013#issuecomment-914501390).

The problem refers to starting the interactive window directly from a code cell. In that case jupyter won't pick up the configured environment but instead would always start with some def

[2021-10-07 16:51] rchiodo commented on #7628
Hover it turning out to be more difficult than I thought. We're using this [fluent-ui here](https://github.com/microsoft/fluentui/blob/3dbb57b1e6940df2d4039f61a35d961bcb8560c3/packages/react/src/components/SearchBox/SearchBox.base.tsx) and they don't have a convenient way to add a tooltip

[2021-10-07 17:46] rchiodo opened #7857 "Support search options in dataviewer filters"
After discussing at standup, we probably need something that makes data viewer filtering work like other search inside of VS code. So an explicit button for
- Case match
- Whole world
- Regex or not

_Originally posted by @rchiodo in https://github.com/microsoft/vscode-jupyter/issues/7628#issuecomment-938017146_

[2021-10-07 18:04] rchiodo commented on #7857
Potential idea:
- As a dropdown menu on the filter icon?
- As buttons in the left most column header (under the filter icon). The 'clear filters' button might support them next to it

[2021-10-07 19:06] claudiaregio opened #7861 "Allow kernel picker textbox to accept paths"
Based on the survey monkey feedback we have received, some users have been attempting to add paths to the kernel picker textbox when their environment does not show up in the quick pick.

Would be nice if the kernel picker worked similarly to the select interpreter command

[2021-10-07 19:35] drscotthawley commented on #7673
...Ok found it via View > Command Pallette... > Developer: Running Extensions.
Attaching CPU profile to this comment.

[CPU-20211007T193402.334Z.cpuprofile.txt](https://github.com/microsoft/vscode-jupyter/files/7306508/CPU-20211007T193402.334Z.cpuprofile.txt)

[2021-10-07 20:06] philipnye opened #7863 "Error: Timed out waiting to get a heartbeat from kernel process (yep)"
### Applies To

- [ ] Notebooks (.ipynb files)
- [X] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

Steps taken:

- Created a fresh virtual environment using venv
- Installed three packages (flake8, ipykernel, pandas)
- Tried to run my first cell - `import pandas as pd`
- Received the error: 'Timed out waiting to get a heartbeat from kernel process. View

[2021-10-07 20:42] rchiodo commented on #7831
We had some thoughts about redesigning the way variables are requested. The variable view class should be responsible for deciding when to refresh. It has the necessary information to know when it doesn't need to.

[2021-10-07 22:23] claudiaregio opened #7864 "Notebooks - Allow removal/hiding of kernels"
When I open the kernel picker I get a lot of Python options. I exclusively use conda environments and would like to be able to remove/hide the ones that I know I will not touch.

![image](https://user-images.githubusercontent.com/19276747/136470260-3c849da0-2e94-4a79-bd02-ba3e28b343cc.png)

[2021-10-07 22:28] rchiodo commented on #7374
Could try starting with just the 'active' interpreter at the top. Not sure how we sort them other than the order we return the notebook controllers in.

[2021-10-07 22:52] misolori commented on #7857
In the problems view we use the filter icon to show a dropdown w/ filter options:

<img width="240" alt="CleanShot 2021-10-07 at 15 51 33@2x" src="https://user-images.githubusercontent.com/35271042/136472938-88f91b2c-8dec-47b6-bcce-386caa39263d.png">

that seems like the next best place given the density of each input?

[2021-10-07 23:00] rchiodo commented on #7857
Should be able to use this for it:
https://github.com/microsoft/vscode-webview-ui-toolkit/blob/main/src/dropdown/README.md

[2021-10-08 00:18] #7724 closed

[2021-10-08 05:55] greazer commented on #7847
Yeah, this one's set of comments seems to be covered by other ones we have. Closing.

[2021-10-08 05:55] #7847 closed

[2021-10-08 05:57] greazer commented on #7849
This is one of those issues that can be a killer for retention. It falls in line with a theme of improving our kernel startup story in October.

[2021-10-08 06:38] greazer commented on #7718
Moving out of October since the workaround is fairly discoverable. Just interrupt executing any of the queued cells. RBL will then be stopped.

[2021-10-08 09:22] septatrix commented on #1659
As a workaround one can enable line numbers for all notebooks+cells with the `notebook.lineNumbers` setting

[2021-10-08 16:00] rchiodo commented on #7284
Yes. This should be fixed now.

[2021-10-08 17:24] judej opened #7868 "Export to PDF fails"
## Environment data

Version: 1.61.0 (system setup)
Commit: ee8c7def80afc00dd6e593ef12f37756d8f504ea
Date: 2021-10-07T18:13:09.652Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22000
Jupyter version: v2021.9.1001312534
Python extension version: Python v2021.11.1313923388-dev
Python version: 3.9.7
Type of virtual environment used: conda
J

[2021-10-08 18:11] judej commented on #7039
Is this still repro? I am seeing the ts language server offer diagnostics now.
![image](https://user-images.githubusercontent.com/547753/136603271-7795ae6d-506f-45d3-b86b-88a92ee927ff.png)

[2021-10-08 18:25] DonJayamanne commented on #7661
The changes will be made in VS Code core.
Leaving this issue open so we remove the custom toolbar icons & commands.

[2021-10-08 18:53] roblourens opened #7869 "Can't run cells on Codespaces"
## Environment data

- Python: v2021.10.1317843341
- Jupyter: v2021.9.1001312534

---

- Codespaces insiders
- Create a codespace for claudiaregio/data-science
- venv is created automatically, and the right kernel is picked
- Run a cell
- It reinstalls ipykernel
- Run a cell again
- It reinstalls ipykernel again
- I can't actually run a cell

## Logs

<details>

<summary>Output for <code>Jupyter</

[2021-10-08 19:02] #6412 closed

[2021-10-08 21:38] DonJayamanne commented on #7869
Yup, looks like ipykernel isn't installed properly even though the installation script runs to completion. fun with python package management

**Error:** `mportError: libffi.so.6: cannot open shared object file: No such file or directory`

I think we should modify the code to display this error message (we ran into similar issues when ipykernel didn't install `ipyton_genutils` recently, installati

[2021-10-08 21:53] #6559 closed

[2021-10-08 22:04] DonJayamanne commented on #7856
Thanks for filing this issue.
We have fixed a number of issues in the interactive window not using the right environment.
Please could you install the latest version of VS Code, Python & Jupyter extensions
This should be fixed.

Once again, I'm sorry you are running into this. I'll keep this issue open so that we can wait for you to confirm it has been resolved, if not please could you:
* Provide

[2021-10-08 22:27] claudiaregio opened #7871 "Interactive Window - Cell delimiter lines different widths"
## Environment data

-   VS Code version: 1.62.0-insider
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1001312534

Just a little strange the lines aren't the same width

![image](https://user-images.githubusercontent.com/19276747/136631026-aabce0b8-475c-4ae9-a82e-f1bb796e22a9.png)

[2021-10-08 23:09] darim1 commented on #7856
The requested information has been provided above. Please have look there.

Thanks!

Am 9. Oktober 2021 00:04:59 MESZ schrieb Don Jayamanne ***@***.***>:

[2021-10-08 23:10] #7855 closed

[2021-10-08 23:36] greazer commented on #7672
Sounds like this is addressed in the Azure ML sdk. Closing.

[2021-10-08 23:36] #7672 closed, assigned to nobody

[2021-10-08 23:43] #7655 closed

[2021-10-09 00:37] greazer commented on #5965
Issues labeled with "Info needed" are closed if we do not receive more information from the issue author in 2 weeks. If you are the issue author and you still are running into this problem, please reactivate with additional information.

[2021-10-09 00:37] #5965 closed

[2021-10-09 00:41] greazer commented on #449
Probably not doing this. If we do, we'll have good reason and won't really need this bug to track it.

[2021-10-09 00:41] #449 closed

[2021-10-09 01:13] DonJayamanne commented on #7334
Some how Jupyter notebooks is working now.
I've managed to identify the issue, bascially we're waiting for the Wolfram kernel to connect to he heart beat kernel, however it seem wolfram kernel never connects to that. Need to check the spec
We'll have a fix for this.

@yfzhao20 In the mean time you might have some luck with the following (unsupported) approach:
* Add the following into your setting

[2021-10-09 02:34] roblourens commented on #7869
It would be created by this tool: https://github.com/microsoft/Oryx

[2021-10-09 02:49] roblourens commented on #1280
I think this is fixed in the new interactive window based on native notebooks

[2021-10-09 02:50] #1280 closed

[2021-10-09 02:59] roblourens commented on #1279
This is probably fixed with the new interactive window

[2021-10-09 02:59] #1279 closed

[2021-10-09 03:12] roblourens commented on #7244
Seems like it was removed

[2021-10-09 03:39] roblourens commented on #7563
We could switch them to look like this

![image](https://user-images.githubusercontent.com/323878/136642997-65142138-f090-44cc-86ce-e0ab5973d599.png)

I suspect that they are actually being bound but then manually skipped over by RBL

[2021-10-09 04:14] yangyxt opened #7884 "Cannot connect ipykernel for jupyter notebook"
Issue Type: <b>Bug</b>

# Behaviour

Open a ipynb file, input python commands(simple imports), run.

Asked to select kernel while no options available. Meantime, for python scripts, kernels in different conda envs are fully listed.

The first cell is detected as MagicPython, try to change language to python yet it is not shown in the option list.

Select Kernel button and Jupyter Server info compl

[2021-10-09 04:32] DonJayamanne commented on #7856
Thanks, but your aren't using the latest version.
Please update to vscode 1.61 and the latest python and Jupyter extensions

[2021-10-09 09:29] jucor commented on #1187
@DonJayamanne as workaround, [since two months ago](https://github.com/psf/black/pull/2357/checks) black supports formating `.ipynb` files :)

[2021-10-09 11:02] Kurt-Shiwz opened #7873 "cant complete and hotkey dont work"
-   VS Code version: 1.61.0
-   Jupyter Extension version (available under the Extensions sidebar): 2021.9.1001312534
-   Python Extension version (available under the Extensions sidebar): v2021.10.1317843341
-   OS (Windows | Mac | Linux distro) and version: 11.6
-   Python and/or Anaconda version: Python 3.9.7 64-bit
    **"python.languageServer": "Jedi",**
-   Jupyter server running: Local

in

[2021-10-09 15:15] Andrewnt219 commented on #7829
Hi @rchiodo, I want to help with this issue. Can you tell me which file(s) should I start looking at?

[2021-10-09 23:54] DonJayamanne commented on #7849
See here https://github.com/microsoft/vscode-jupyter/issues/6702 & https://github.com/microsoft/vscode-jupyter/issues/7855
I've already started looking into this and found plenty of places that can be improved.

[2021-10-10 01:10] #7428 closed

[2021-10-10 01:22] kieferrm opened #7874 "Jupyter: Iteration Plan for October 2021"
This plan captures our work in **October**. We follow the same iteration cycle as [VS Code](https://github.com/microsoft/vscode/issues/134730). Although we plan for a whole iteration, we may not only ship at the end of an iteration but throughout.

## Plan Items
Below is a summary of the top level plan items.

Legend of annotations:

| Mark                | Description

[2021-10-10 07:48] greazer commented on #6921
Issues labeled with "Info needed" are closed if we do not receive more information from the issue author in 2 weeks. If you are the issue author and you still are running into this problem, please reactivate with additional information.

[2021-10-10 07:48] #6921 closed

[2021-10-10 11:21] yangyxt opened #7875 "After updates, cannot connect to remote servers."
## Environment data

-   VS Code version: 1.61.0
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1001312534
-   Python Extension version (available under the Extensions sidebar): v2021.10.1317843341
-   OS (Windows | Mac | Linux distro) and version: CentOS 7
-   Python and/or Anaconda version: Python 3.6.7, conda 4.10.3
-   Type of virtual environment used (N/A | ve

[2021-10-10 16:46] DonJayamanne commented on #7875
Thanks for coming this issue and sorry you area thinking into this.

* Please could you provide the logs from the Jupyter output panel.
* Also please could you provide some steps to repro this.
* When you stay it doesn't work, what do you mean by that, can you not see them kennels, or doesn't the kennel start, etc

[2021-10-10 17:12] greazer opened #7876 "2021 Issue Grooming and Housekeeping"
During October and November VS Code traditionally uses the time to do housekeeping on it's issue database. Bug fixing is relegated to only critical areas that may be defined in the current iteration plan, and feature work is stopped altogether.

The housekeeping effort for the jupyter extension is driven by the [jupyter.github-issues notebook](https://github.dev/microsoft/vscode-jupyter/blob/main/

[2021-10-10 19:23] greazer opened #7877 "Make and/or plan significant Intellisense Improvements for Python and general notebook LS infrastructure"
Use [this query](https://github.com/microsoft/vscode-jupyter/issues?q=is%3Aissue+is%3Aopen+milestone%3A%22November+2021%22+label%3Anotebook-intellisense) to see the issues we plan on investigating or fixing during the November iteration.

The Python and Jupyter teams will meet and come up with a robust, long-term approach for improving the way that notebooks and Pylance communicate (not a band aid

[2021-10-10 19:47] greazer opened #7878 "Address 'important' issues"
Use [this query](https://github.com/microsoft/vscode-jupyter/issues?q=is%3Aissue+is%3Aopen+label%3Aimportant) to see what issues we have marked as 'important'. These are considered issues that need to be addressed, asap. They may or may not get released as part of a recovery build.

[2021-10-10 19:53] greazer opened #7879 "Address non-critical regressions or easy papercuts"
Use [this query](https://github.com/microsoft/vscode-jupyter/issues?q=is%3Aissue+is%3Aopen+milestone%3A%22October+2021%22+label%3Aregression%2C%22papercut+%3Adrop_of_blood%3A%22+-label%3Aintellisense%2Ckernel-crash%2Ckernel-issues%2Ckernel-enumeration) to see issues that we'd like to try and address this milestone.

[2021-10-10 23:10] jamesoflol opened #7880 "Jupyter notebook autocomplete suggestion "%%!""
Issue Type: <b>Bug</b>

Starting docstring (''') or a function definition causes autocomplete to suggest "%%!". It means I need to ESC away from it constantly, or it chucks "%%!" in my code.

Someone else reported this issue here: https://stackoverflow.com/questions/69134016/vscode-jupyter-strange-autocomplete

Extension version: 2021.9.1001312534
VS Code version: Code 1.61.0 (ee8c7def80afc00dd6e5

[2021-10-11 06:34] abcdehc opened #7881 "problem about jupyter sidecar support"
## Environment data

-   VS Code version: 1.60.2
-   Jupyter Extension version (available under the Extensions sidebar): v2021.8.2041215044
-   Python Extension version (available under the Extensions sidebar): v2021.10.1317843341
-   OS (Windows | Mac | Linux distro) and version: windows10x64,21H1
-   Python and/or Anaconda version: python3.9.6
-   Type of virtual environment used (N/A | venv | v

[2021-10-11 09:46] darim1 commented on #7856
My bad, sorry!

I've updated vscode etc.:

[code]

`jupyter: v2021.9.1001312534`

I am using pipenv to manage my environment.

The problem unfortunately remains.

Any idea?

Thanks,
Daniel

[2021-10-11 10:17] disadone opened #7882 "Show the notebook is running at the top"
The plain jupyter-notebook can be known running through looking at the web tag. I think this should be implemented in the extension. I have to scroll down my notebook to know whether the job is finished or not.

Thanks!

[2021-10-11 12:05] elazarcoh opened #7883 "variable `__file__` is missing after kernel restart (again)"
## Environment data

-   VS Code version: 1.61
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1001312534
-   Python Extension version (available under the Extensions sidebar): v2021.11.1313923388-dev
-   OS (Windows | Mac | Linux distro) and version: Windows 10
-   Python and/or Anaconda version: 3.8.5
-   Type of virtual environment used (N/A | venv | virtualenv |

[2021-10-11 16:04] rchiodo commented on #1467
This item is not under consideration for any time in the near future (you can check if it's on a milestone or not).

There's a workaround though. Put something like so in your 'jupyter.runStartupCommands'

[code]

[2021-10-11 16:13] DonJayamanne commented on #7886
@rchiodo isn't this a dupe of something your  looked into

[2021-10-11 16:28] DonJayamanne commented on #7885
Thanks for filling this issue.

[2021-10-11 16:30] #7886 closed

[2021-10-11 17:23] DonJayamanne commented on #5225
@rchiodo are you still able to repro this issue? I couldn't repro this.

[2021-10-11 17:24] rchiodo commented on #5225
Yes repros on linux machines. I can repro on WSL2

[2021-10-11 18:31] priya03ranjan01 opened #7893 "4"
## Environment data

-   VS Code version: XXX
-   Jupyter Extension version (available under the Extensions sidebar): XXX
-   Python Extension version (available under the Extensions sidebar): XXX
-   OS (Windows | Mac | Linux distro) and version: XXX
-   Python and/or Anaconda version: XXX
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): XXX
-   Jupyter server running

[2021-10-11 18:34] alandema opened #7894 "Active console while working with notebooks"
When using Jupyter Notebook web version, very often I like to do some prototype lines before inserting it in the notebook. Instead of creating a cell to exclude it right away, I much prefer to start a qtconsole linked to my jupyter server and do the prototypes in the console.

Sure I could do the same with Jupyter in VSCode, but it would be great if we have a native console for jupyter in VS.

Thi

[2021-10-11 20:00] DonJayamanne commented on #7863
@philipnye
Thanks for filing this issue, and sorry you are running into this.
Please could you try to install VS Code insiders and test this out. Its possible it was fixed along with the fix for https://github.com/microsoft/vscode-jupyter/issues/7334
The new release of Jupyter will be available tomorrow in VS Code insiders, please do try it out.

[2021-10-11 20:13] greazer commented on #7812
This is a dupe of: https://github.com/microsoft/vscode-python/issues/16980. Should be fixed in the latest Python insiders extension. Will be released in a point release.

[2021-10-11 20:37] greazer commented on #7871
This is so you can tell if you're looking at the top of a cell or the bottom.

[2021-10-11 20:37] #7871 closed

[2021-10-11 20:41] greazer commented on #7893
Not enough information.

[2021-10-11 20:41] #7893 closed

[2021-10-11 20:43] greazer commented on #7894
Dupe of #6484

[2021-10-11 20:43] #7894 closed, assigned to nobody

[2021-10-11 20:59] greazer commented on #7820
As part of the investigation for this bug, see if you can find a repro where a kernel has to be selected for a notebook you previously had open in VS Code and had already selected a kernel. Might have something to do with a new version of VS Code generating a new list of kernels.

[2021-10-11 21:08] #7417 closed

[2021-10-11 21:16] DonJayamanne commented on #6548
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/6543

[2021-10-11 21:22] #7526 closed

[2021-10-11 21:26] DonJayamanne commented on #7554
I've found that classic Jupyter Notebooks/labs has the exact same issue
Hence closing this isuse.

[2021-10-11 21:26] #7554 closed

[2021-10-11 21:27] #5790 closed

[2021-10-11 21:50] DonJayamanne commented on #6936
@ofiryaish I'm sorry for no looking into this issue.
I'd like to take a look into this and start by replicating this at my end.
Please could you provide instructions used to repro this issue with the following info:
* OS
* Python version
* VS Code, Jupyter Extension Version
* Sample code (minimal repro)

[2021-10-11 21:59] DonJayamanne commented on #7881
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/1120

[2021-10-11 21:59] #7881 closed

[2021-10-11 22:03] DonJayamanne commented on #7063
@saisasidhar I'm sorry for the delay in getting back to you, attached is the VSIX, please use VS Code insiders to install & test this VSIX
Let me know how this goes.

[ms-toolsai-jupyter-insiders.vsix.zip](https://github.com/microsoft/vscode-jupyter/files/7325535/ms-toolsai-jupyter-insiders.vsix.zip)

[2021-10-11 22:25] #7888 closed

[2021-10-11 22:28] #7889 closed, assigned to nobody

[2021-10-11 23:48] DonJayamanne commented on #7892
@StevenLi-DS Sorry for not getting back to you. Somehow this got lost in a different repo.
We fixed issues with multi-line code in R kernels, see here https://github.com/Microsoft/vscode-jupyter/issues/4576

As usual, if this hasn't fixed it, please create a new issue or feel free to re-open this

[2021-10-11 23:48] #7892 closed

[2021-10-11 23:53] DonJayamanne commented on #7895
I'm sorry for not getting back to you.
I believe we have resolved this issue, please do let us know if this is not yet fixed in the latest version of VS Code 1.61

Even though multiple commands share the same keyboard shortcut, they don't run at the same time, based on some context (`when` clause), the two commands will not run.

Optionally you can change the keyboard shortcuts for the commands in

[2021-10-11 23:53] #7895 closed

[2021-10-11 23:56] #7890 closed

[2021-10-12 00:02] alandema opened #7898 "Strange behavior opening variables Interactive Python"
## Environment data

-   VS Code version: 1.61.0 (user setup)
-   Extension version (available under the Extensions sidebar): 2021.10.1317843341
-   OS and version: W10 21H1
-   Python version (& distribution if applicable, e.g. Anaconda): WinPy python 3.9.5
-   Relevant/affected Python-related VS Code extensions and their versions: Jupyter 2021.9.1001312534
-   Value of the `python.languageServer

[2021-10-12 01:10] DonJayamanne commented on #5225
I'm trying with stable build and insiders, instead of the dev version.
Hmm

[2021-10-12 01:14] DonJayamanne commented on #7898
Thanks for filing this issue.
We have already fixed this and you should be able to get the fix in VS Code insiders today
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/7325

If it doesn't work, please feel free to file a separate issue or re-open this.

[2021-10-12 01:14] #7898 closed

[2021-10-12 14:51] jaymegordo commented on #7877
Would like to suggest adding #7098 (have pylance recognize variables imported with a "startup" script) to this conversation pls and thx!

And thanks everyone for all the work, vscode + jupyter is an amazing product, I use it all day every day, can't thank you all enough ❤️!

[2021-10-12 16:44] DonJayamanne opened #7901 "Summary of Kernel Issues"
**Installing ipykernel or other dependencies**
* https://github.com/microsoft/vscode-jupyter/issues/7739
* https://github.com/microsoft/vscode-jupyter/issues/5206
	* We have lots of issues with jupyter, using raw kernels should make installing jupyter unnecessary.
	* I.e. removes one flaky part completely
* https://github.com/microsoft/vscode-jupyter/issues/7846
* https://github.com/microsoft/vsco

[2021-10-12 17:26] DonJayamanne commented on #7846
# Current state
* Today we just bomb out and log errors in cell output (session cannot be created)
* Error message is very confusing to the user (no indication that kernel is dead)
	* Users are used to seeing errors from kernels in output (not extension), hence they might be under the impression these are errors from kernel & attempt to re-execute cells
* User needs to manually restart the kernel

[2021-10-12 17:28] DonJayamanne commented on #7867
Interrupt is slow or doesn't work on windows, this is a know issue for Windows (nothing much we can do)
Restart is slow is documented here https://github.com/microsoft/vscode-jupyter/issues/7849

Closing as a duplicate of https://github.com/microsoft/vscode-jupyter/issues/7849

[2021-10-12 17:28] #7867 closed

[2021-10-12 17:35] DonJayamanne commented on #5861
# Summary of issues
* New virtual environments not discovered
* Slow to load environments (we still wait for everything to be discovered)

# Solutions
* https://github.com/microsoft/vscode-jupyter/issues/7583

[2021-10-12 18:00] DonJayamanne opened #7902 "Better handling of failed ipykernel installations & ipykernel detection"
We have plenty of scenarios where users are prompted to isntall ipykernel again & again.
This could happen when:
* pyzmq is not installed or is busted (https://github.com/microsoft/vscode-jupyter/issues/5963)
* ipython_genutils is not installed
* Conda env activation fails
* Or other dependencies are not installed or busted

ipyhton_genutils is a great example of an upstrema bug, (ipykenrle remove

[2021-10-12 18:05] DonJayamanne commented on #5035
Closing this so that it gets verified as part of the iteration

[2021-10-12 18:30] akashtyagi08 opened #7915 "Data Viewer doesn't visualise child Dataframes"
## Environment data

- debugpy version: 1.5.0
- OS and version: MAC - Big Sur
- Python version (& distribution if applicable, e.g. Anaconda): 3.6.8
- Using VS Code or Visual Studio: Visual Studio

## Actual behavior
Child Dataframe are visible as `Objects` and not accessible

<img width="840" alt="Screenshot 2021-10-12 at 11 57 29 PM" src="https://user-images.githubusercontent.com/84968253/1370095

[2021-10-12 19:01] #4482 closed

[2021-10-12 19:05] DonJayamanne commented on #1462
Closing as we don't start restart kernels anymore.

[2021-10-12 19:05] #1462 closed

[2021-10-12 19:05] #6689 closed

[2021-10-12 19:29] rchiodo commented on #5645
You closed the other one:
https://github.com/microsoft/vscode-jupyter/issues/7380

[2021-10-12 20:19] #3977 closed

[2021-10-12 20:22] DonJayamanne opened #7903 "Support pre-warming kernels"
This was turned off, and issues that exist:
* When auto start is on and we run a cell immediately ther'es no progress indicator for starting kernels
	* Because auto start is still busy and that is silent
* https://github.com/microsoft/vscode-jupyter/issues/5736
* Pre-warm daemons (if not done)
* Pre-warm preferred & active environments
* Notes
	* Pre-warm only for local
	* We need to refactor befo

[2021-10-12 20:26] #4866 closed

[2021-10-12 20:33] DonJayamanne commented on #1644
@mldot are you still running into this issue with the latest versions of VS Code and Jupyter extensions?

[2021-10-12 20:51] mldot commented on #1644
@DonJayamanne I have not had this issue since I upgraded in July. However, I have not been using this feature much because of scalability as well.

[2021-10-12 21:18] DonJayamanne opened #7908 "Variable viewer is empty in latest main branch when opening a dataframe viewer"
I can repro this consistently

![image](https://user-images.githubusercontent.com/1948812/137030338-401017aa-405f-486a-bb2f-0fc33a91334e.png)

[2021-10-12 21:19] #7908 closed

[2021-10-12 22:12] DonJayamanne commented on #7883
@elazarcoh this has been fixed and it will be available in tomorrows build of VS Code insiders.
Will look into getting this into a hotfix release

[2021-10-12 22:43] rchiodo commented on #7406
Other than in this issue, I don't think we have a separate bug for it. Looks like there's a newline problem in the concatenation of the cells as we pass them to pylance.

[2021-10-12 22:44] DonJayamanne opened #7909 "October 2021 Release Plan"
# Prerequisites

-   Python 3.7 and higher
-   run `python3 -m pip install --user -r news/requirements.txt`

# Release candidate (Friday of VS Code endgame week, Oct 29)

-   [x] Update [Component Governance](https://dev.azure.com/vscode-python-datascience/vscode-python-datascience/_componentGovernance) (Click on "microsoft/vscode-jupyter" on that page). Notes are in the OneNote under Python VS Co

[2021-10-12 23:01] #7905 closed, assigned to DonJayamanne

[2021-10-12 23:02] DonJayamanne commented on #7906
I'm sorry for not getting back to you sooner on this issue.
We've made a lot of improvements to the interactive window and believe this may have been adddressed.
Please feel free to create a new issue or re-open this if the issue persists.

[2021-10-12 23:02] #7906 closed

[2021-10-13 00:01] rchiodo opened #7912 "Intellisense issue categorization"
Categories:
- Could be fixed in a couple of days but might be throwaway- :rabbit2:
- Could be fixed without pylance but make take a while - :rooster:
- Pylance would be better to handle - :turtle:
- Requires pylance to know about kernels - :skull:

Current open intellisense issues:

## Possible throwaway quick work:
- [x] :rabbit2: #6333
- [x] :rabbit2: #867
- [x] :rabbit2: #7821
- [x] :rabbit2: #

[2021-10-13 00:20] #6951 closed

[2021-10-13 00:26] rchiodo commented on #5161
I think this is fixed now? At least there were bugs with markdown cells causing diagnostics to jump around.

[2021-10-13 01:03] #7904 closed

[2021-10-13 06:34] #7873 closed

[2021-10-13 06:45] Kurt-Shiwz opened #7923 "jupyter conflict with Dependency Analytics"
- VS Code Version: 1.61.0
- OS Version: mac 11.6
- python: v2021.10.1317843341
- pylance: v2021.10.0
- jupyter: v2021.9.1001312534
- `Dependency Analytics: v0.3.4`

when i install `Dependency Analytics` open jupyter file `a.ipynb`,  code python in `Cell` cant auto complete and cant use some hotkey(cmd + / ) in cell.  code python in `b.py` it work well.
when i disable `Dependency Analytics` jupyter

[2021-10-13 06:45] Kurt-Shiwz opened #7914 "jupyter conflict with Dependency Analytics"
- VS Code Version: 1.61.0
- OS Version: mac 11.6
- python: v2021.10.1317843341
- pylance: v2021.10.0
- jupyter: v2021.9.1001312534
- `Dependency Analytics: v0.3.4`

when i install `Dependency Analytics` open jupyter file `a.ipynb`,  code python in `Cell` cant auto complete and cant use some hotkey(cmd + / ) in cell.  code python in `b.py` it work well.
when i disable `Dependency Analytics` jupyter

[2021-10-13 09:08] darim1 commented on #7856
@DonJayamanne, thanks for the quick reply!

Please find below the requested output:

jupyter:

[code]

python:

[code]

Thanks again,
Daniel

[2021-10-13 11:56] zohimchandani opened #7916 "Python version inconsistency"
## Environment data

-   VS Code version: 1.61.0
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1001312534
-   Python Extension version (available under the Extensions sidebar): v2021.10.1317843341
-   OS (Windows | Mac | Linux distro) and version: MacOS BigSur 11.6
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): venv
-   Jupyter serve

[2021-10-13 13:20] SupritYoung opened #7917 "Jupyter in vscode can't execute syntax highlighting"
## Environment data

-   VS Code version: 1.61.0
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1001312534
-   Python Extension version (available under the Extensions sidebar): v2021.10.1317843341
-   OS (Windows | Mac | Linux distro) and version: Mac
-   Python and/or Anaconda version: 3.8.8
-   Type of virtual environment used (N/A | venv | virtualenv | conda |

[2021-10-13 13:46] DonJayamanne commented on #7875
Sorry, but code server is not something we support, would help if you provide the logs and information requested above.

[2021-10-13 14:21] 0x0L commented on #7875
[code]

[code]

[code]

`/home/testuser/.local/share/code-server/extensions/ms-toolsai.jupyter-2021.8.12/out/client/` does not exist

[2021-10-13 15:05] DonJayamanne commented on #7875
Looks like the Jupyter extension was not installed correctly as the times area missing.

Closing this issue as it's a bug in the installation of the extension. Code server needed to install the extension correctly. Individual extensions aren't rresponsible for installation of extensions.

[2021-10-13 15:05] #7875 closed

[2021-10-13 16:03] rchiodo commented on #7914
My guess is that Dependency Analytics doesn't work with ipynb python cells.

Yeah it's changing the cell language to not be python. This is why intellisense doesn't work.

![image](https://user-images.githubusercontent.com/19672699/137171036-79853580-8287-4a17-b3d8-dec97240401e.png)

This would be a bug on the Dependency Analytics extension.

[2021-10-13 19:57] DonJayamanne commented on #7063
I'm sorry for some reason the extesnion was't published, and should be in the marketplace now. Please update the Jupyter extesnion installed to the latest (currently latest is `2021.10.1001338521`)

Appreciate your patience in this matter and do let me know if this fixes it.

[2021-10-13 20:31] DonJayamanne commented on #7373
**Suggestions**
* Fix sorting for kernels
	* 1. List interpreters first & then kernels as follows
		  * Conda <xxx>
		  * Conda <xxx>
		  * Conda <xxx>
		  * Venv <xx>
		  * Pyenv <xxx>
		  * Global <xxx>
		  * Global <xxx>
		  * Kernel <abc>
		  * Kernel <abc>
	* 2. Sort based on MRU (what ever was used last, display it on top)
	If a global was used last that will be on top
		  * Global <xxx>

[2021-10-13 21:32] rchiodo commented on #7923
Dupe of #7914

[2021-10-13 21:32] #7923 closed, assigned to rchiodo

[2021-10-13 22:09] DonJayamanne commented on #7373
**Sample**

![image](https://user-images.githubusercontent.com/1948812/137219317-747f6c99-65da-4616-bf32-8c3e8ce654e1.png)
![image](https://user-images.githubusercontent.com/1948812/137219350-230affa3-b6e5-4fdd-a6aa-61696e002217.png)

[2021-10-14 02:05] CatNofishing commented on #7917
@rchiodo  I have already mentioned this question, please refer to the following information https://github.com/microsoft/vscode-jupyter/issues/6799

[2021-10-14 03:05] ssm951 commented on #7917
I have the same issue too, and just recently. For my cells in the lower right, it shows `CVE` instead of Python. When I click on it though, the command palette says that it was linting Python. What could have caused the issue?

![image](https://user-images.githubusercontent.com/42690337/137243995-082d2166-f0a7-4d20-944c-7a8a623c5f73.png)

[2021-10-14 07:05] gonghenghai opened #7925 "Enable to disable the intellisense of string"
It's a little annoying when I hit a quote key (either ' or "), its pop-up a list of suggestions, like this:
![Screenshot (58)](https://user-images.githubusercontent.com/21306413/137244846-7a210f16-c5e4-45af-8949-0bb94232785d.png)

It does not exist in the python file, and I could not find a configuration to disable it.

[code]
does not work.

When I change the `other` to `false` it works in both p

[2021-10-14 12:56] darim1 commented on #7856
Please find the screenshot below.

- sys.executable points to:
[code]
- Yes, I encounter this problem with multi-root.

![image](https://user-images.githubusercontent.com/20026777/137321302-20e761d7-b144-489e-873a-092e345f0593.png)

[2021-10-14 14:51] chart-magnum opened #7926 "Notebook can't import a local package"
## Environment data

-   VS Code version: XXX
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1001312534
-   Python Extension version (available under the Extensions sidebar): v2021.10.1336267007
-   OS (Windows | Mac | Linux distro) and version: Windows 10
-   Python and/or Anaconda version: Python3.8
-   Type of virtual environment used (N/A | venv | virtualenv |

[2021-10-14 15:51] alandema opened #7927 "Keep track of executed cell after restart"
I was expecting the VSCode Jupyter to have a similar feature to the Google Colab: When restart the kernel, the cells to lose their number and the ran check mark. By this you know what cell ran in the CURRENT kernel and what cell ran in the previous one.

![image](https://user-images.githubusercontent.com/68517641/137352396-803913d9-4fa8-409c-b343-3e54012ec5f7.png)
After restarting the kernel, it i

[2021-10-14 15:52] DonJayamanne commented on #7916
Reopening as this is a bug, something we did support.
I'll text this on my Mac.

@zohimchandani
Please could you provide the following:
* Output from Jupyter panel
* Run the following cell and provide the output
[code]

import

[2021-10-14 16:15] rchiodo commented on #7916
I'll text this on my Mac.

Sorry not following. Use the ```!``` operator runs the python on the path.

The question is whether or not the wrong python is still being used or not. Are you reproing that Don?

[2021-10-14 18:07] DonJayamanne commented on #7373
Suggestions:
* Sort by last used
* no need of favorites, sorting
* Store list of exclusions in settings instead of memento (so users can see what has been excluded)

[2021-10-14 18:43] rchiodo opened #7928 "Multi-workspace active interpreter is not used in the interactive window"
Open a multiple folder workspace
In folder A, set active interpreter to interpreter A
In folder B, set active interpreter to interpreter B

Open py file in folder B
Run IW

It should use interpreter B.

It uses interpreter A.

[2021-10-14 19:00] #7928 closed, assigned to nobody

[2021-10-14 19:02] #7856 closed, assigned to DonJayamanne

[2021-10-14 19:02] DonJayamanne commented on #7928
Found another duplicate today https://github.com/microsoft/vscode-jupyter/issues/7856 is alow a

[2021-10-14 19:51] DonJayamanne opened #7931 "Incorrect paths displayed for non-python kernels in kernel picker"
If we have a non-python kernel, we display the path of the interpreter that owns the kernel instead of the path to the kernel exec.

Found while working on https://github.com/microsoft/vscode-jupyter/issues/7373

**Current behavior**
![image](https://user-images.githubusercontent.com/1948812/137385809-1e41afd7-4870-4fa8-88b5-81a72b6b43bb.png)

**Expected behaviour**
![image](https://user-images.gi

[2021-10-14 20:00] DonJayamanne opened #7934 "Group kernels in kernel picker by environment type"
Details of requirements captured here https://github.com/microsoft/vscode-jupyter/issues/7373#issuecomment-942697333

![image](https://user-images.githubusercontent.com/1948812/137219317-747f6c99-65da-4616-bf32-8c3e8ce654e1.png)

[2021-10-14 20:20] IanMatthewHuff commented on #7926
@chart-magnum Sorry quick clarification here. When you are executing that notebook, what notebook kernel (in the selector in the top right) are you using for execution?

[2021-10-14 20:22] IanMatthewHuff commented on #7927
This would be different from juypter functionality, but honestly it makes sense to me, seems like we should discuss.

[2021-10-14 20:37] DonJayamanne commented on #7926
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/4593

[2021-10-14 20:37] #7926 closed

[2021-10-14 20:42] #7927 closed

[2021-10-14 21:03] ChaseKnowlden opened #7935 "Broken Build"
## Environment data

-   VS Code version: 1.61.1
-   Jupyter Extension version (available under the Extensions sidebar): 2021.9.1101343141
-   Python Extension version (available under the Extensions sidebar): 2021.10.1336267007
-   OS (Windows | Mac | Linux distro) and version: Windows 10 19043
-   Python and/or Anaconda version: 3.10.0
-   Type of virtual environment used (N/A | venv | virtualen

[2021-10-15 01:05] krusion opened #7940 "Python Interpreter Version not showing on bottom status bar when Jupyter Notebook is open after 1.61.1 update"
### Environment data

    VS Code version: 1.61.1
    Extension version (available under the Extensions sidebar): v2021.9.1101343141
    OS and version: Windows 10 Home

### Expected behaviour

![image](https://user-images.githubusercontent.com/23137586/137415796-8bdef5a0-cba6-43ae-a0ad-3d54e486b312.png)
Option to see the python interpreter in a Jupyter Notebook file.

### Actual behaviour

![imag

[2021-10-15 01:38] Greco1899 commented on #7880
I'm facing the same issue.

Jupyter Extension
Version: 2021.9.1101343141

VS Code
Version: 1.61.0 (user setup)
Commit: ee8c7def80afc00dd6e593ef12f37756d8f504ea
Date: 2021-10-07T18:13:09.652Z
OS: Windows_NT x64 10.0.19042

[2021-10-15 02:57] alandema opened #7937 "Moving the panel causes the Variable Explorer to stop working"
## Environment data

-   VS Code version: 1.61.1
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1101343141
-   Python Extension version (available under the Extensions sidebar): v2021.10.1336267007
-   OS (Windows | Mac | Linux distro) and version: W10 H1
-   Python and/or Anaconda version: 3.9.5
-   Type of virtual environment used (N/A | venv | virtualenv | conda

[2021-10-15 06:25] storrer commented on #4757
I think that I am having this issue right now. I create a blank notebook with a powershell cell. I don't select a language kernel. I save the notebook, close it, and open it again. The language of the cell is changed to python. I can't get the language of a cell to save. in the notebook editor.

[2021-10-15 07:49] chart-magnum commented on #4593
I have this issue as described in https://github.com/microsoft/vscode-jupyter/issues/7926

[2021-10-15 08:51] TTTPOB opened #7938 "autocompletion suggest from IRKernel disappeared after r languageserver enabled"
### Applies To

Jupyter Notebooks

### What happened?

see jupyter-lsp/jupyterlab-lsp#639
same thing happend on vscode
completion suggestions from IRkernel disappered.

### VS Code Version

1.61.1

### Jupyter Extension Version

2021.9.1101343141

### Jupyter logs

[code]

### Coding Language and Runtime Version

R 4.1.0

### Language Extension Version (if applicable)

2.3.1

### Anaconda Version

[2021-10-15 16:23] #7940 closed

[2021-10-15 16:25] rchiodo commented on #6333
This requires updates to both the jupyter extension and the python extension (python extension was providing notebook intellisense before this change).

PR for python is still in progress: https://github.com/microsoft/vscode-python/pull/17734

[2021-10-15 16:33] rchiodo opened #7941 "Changing kernels loses the `__file__` value."
Open IW from a file.
Run some code
Change kernel
Run this:
[code]

Expected, ```__file__``` is defined.

[2021-10-15 16:55] #7821 closed

[2021-10-15 17:52] mpoehlmann opened #7944 "Matplot lib Widget does not work"
Issue Type: <b>Bug</b>

Jupyter noteobok widgets aren't displayed and when trying to create, the cell runs indefinitely and I have to quit VSCode to get Jupyter to stop

Extension version: 2021.11.1313923388-dev
VS Code version: Code - Insiders 1.62.0-insider (Universal) (cad4c193d85f0891204da41c0508de39e7aa38c6, 2021-10-14T05:15:07.179Z)
OS version: Darwin arm64 20.4.0
Restricted Mode: No
Remote

[2021-10-15 18:20] rchiodo opened #7943 "Telemetry for pylance needs to be captured in notebook middleware"
Python extension does it this way:
https://github.com/microsoft/vscode-python/blob/3698950c97982f31bb9dbfc19c4cd8308acda284/src/client/activation/languageClientMiddleware.ts#L216

We need something similar in the jupyter extension for then notebook intellisense and we need to not capture in the python extension.

[2021-10-15 19:18] DonJayamanne opened #7945 "Interactive window is not necessarily using active interpreter when creating the controller"
We're not passing the resource when determining the active interpreter, this could result in problems.

[2021-10-15 19:37] DonJayamanne opened #7947 "Command `jupyter.exportoutputasnotebook` is no longer supported in Interactive window"
We're throwing an error `no supported`.

[2021-10-15 20:23] #7941 closed, assigned to DonJayamanne

[2021-10-15 20:23] #7945 closed

[2021-10-15 22:02] alandema opened #7950 "Expanding column length in Data Viewer"
## Environment data

- VS Code version: 1.61.1
- Jupyter Extension version (available under the Extensions sidebar): v2021.9.1101343141
- Python Extension version (available under the Extensions sidebar): v2021.10.1336267007
- OS (Windows | Mac | Linux distro) and version: W10 H1
- Python and/or Anaconda version: 3.9.5
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): con

[2021-10-16 00:47] claudiaregio commented on #7950
Thanks @alandema for the GIF and info! I am able to reproduce this behavior and we will look into this as soon as we can.

[2021-10-16 03:28] Micro-sheep opened #7951 "The jupyter notebook doesn't have correct code suggestion when typing `''`"
## Environment data

-   VS Code version: 1.61.1
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1101343141
-   Python Extension version (available under the Extensions sidebar): v2021.10.1336267007
-   OS (Windows | Mac | Linux distro) and version: Windows 11
-   Python and/or Anaconda version: python 3.7
-   Type of virtual environment used : conda
-   Jupyter ser

[2021-10-16 03:37] Micro-sheep commented on #7925
It there any way to disable completions from jupyter and just enable completions from pylance like coding in `.py` file?

In previous version, it work well without completions from jupyter.

[2021-10-16 04:36] claudiaregio commented on #7951
Dupe of https://github.com/microsoft/vscode-jupyter/issues/7880

[2021-10-16 04:36] #7951 closed

[2021-10-16 12:10] Philippe-Neveux commented on #1669
Hi the community !
Is there any news on this enhancement ? For me, it's the final step before making Jupyter Notebook perfect through VSCode :D

Thanks

[2021-10-16 15:35] greazer commented on #5222
#7783 is a dupe/related

[2021-10-16 15:44] greazer opened #7952 "Some kernels do a lot of processing on start so appear to be slow to start running cells"
I have a kernel on my Windows machine that I installed the deep learning [keras api](https://keras.io/) into. Keras seems to require some startup code to be run when the environment is activated. At minimum this takes a few seconds, even when activating from an anaconda prompt.

Within VS Code, it also takes a long time. Therefore, when I run the first cell for this environment, it appears to star

[2021-10-16 16:12] greazer opened #7953 "Insiders - Kernel list redunant and mis-sorted"
![image](https://user-images.githubusercontent.com/11685408/137594580-1c6a14b0-4b15-4d23-91da-4dede02525fd.png)

[2021-10-16 17:02] jslatane opened #7954 "Add support for Python traceback lexer in markdown code cells"
In the case of making a notebook for demonstrating how Python errors appear, it can be useful to create a markdown code cell showing the expected output of running some incorrect code. Consider this code example:
[code]
When you run this in a code cell you should get a traceback message something like this:
[code]

It would be helpful if you could put that traceback message int a markdown cell cod

[2021-10-16 20:23] claudiaregio opened #7978 "[Feature Request] - Jump to...bookmark? in markdown files"
I have been working a lot with markdown files recently and find myself struggling to navigate around the file.

I will be editing something in one location and scroll somewhere else to fill in more content. I then want to go back to where I was in the markdown file and have to scroll and visually analyze when I reach that point.

The outline hasn't been very helpful for me here personally because

[2021-10-17 02:40] claudiaregio commented on #7954
Thanks @jslatane, will discuss at our next triage

[2021-10-17 09:51] ageron opened #7957 "vscode-jupyter changes cells that were not modified: removes \n at the end of every "image/png" field"
## Environment data

-   VS Code version: Version: 1.61.1, commit c13f1abb110fc756f9b3a6f16670df9cd9d4cf63
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1101343141
-   Python Extension version (available under the Extensions sidebar): v2021.10.1336267007
-   OS (Windows | Mac | Linux distro) and version: OS: Darwin x64 19.6.0
-   Python and/or Anaconda version: 3.

[2021-10-18 09:16] LunarLanding commented on #1307
This is half of my jupyter workflow; and to be clear, this means wiring up vscode to the interpreter state, instead of getting it from static analysis. I can't switch to vscode-jupyter without this.

[2021-10-18 16:19] rchiodo commented on #7925
In previous version, it work well without completions from jupyter.

The only way to disable jupyter completions is to not run any code (they come from the active kernel).

Although there might be a hacky way. Set this environment variable to something like '1':

[code]
It's used to determine how long we wait for jupyter to give us back completions (jupyter can be slow if the kernel is busy).

See

[2021-10-18 16:49] #7931 closed, assigned to DonJayamanne

[2021-10-18 16:51] DonJayamanne commented on #7851
Confirmed that if we have a single kernels users, will not be prompted to select a kernel

[2021-10-18 16:59] DonJayamanne commented on #7373
**Problems**
* We will not be able to control sort order for first time users (in the future)
	* Currently controllers are listed in the manner they appear in the list
	* Except for preferred kernels
	* Today we get all kernels in one go and list them (hence can sort them),
		* However this is something we were supposed to fix a few months ago and has prevented users from running kernels (as we li

[2021-10-18 18:29] DonJayamanne commented on #7650
I thought this was a regression. Moving to triage so we can add necessary label

[2021-10-18 18:38] #7371 closed

[2021-10-18 18:40] DonJayamanne commented on #7287
Moving to triage to discuss

[2021-10-18 19:29] DonJayamanne commented on #1128
Is anyone still running into these issues in the latest version of VS Code & Jupyter extension?

[2021-10-18 19:30] #463 closed

[2021-10-18 19:43] roblourens commented on #7670
Why wouldn't it be supported?

[2021-10-18 20:11] janosh commented on #1128
@DonJayamanne Nope.

[2021-10-18 20:12] rchiodo commented on #7950
Double clicking would be a nice way to do this instead (we don't support it yet though).

[2021-10-18 20:18] rchiodo commented on #7938
Thanks for the bug.

[2021-10-18 20:19] #7935 closed

[2021-10-18 20:24] rchiodo commented on #7783
This should be working after Ian's change.

[2021-10-18 20:29] rchiodo commented on #1485
It's unlikely we'll get to this.

[2021-10-18 20:29] #1485 closed

[2021-10-18 21:02] #1534 closed

[2021-10-18 21:04] #1614 closed

[2021-10-18 21:12] DonJayamanne commented on #5211
Closing this issue as ipynb editor has been moved into VS Code core.
(hence there shouldn't be any more perf issues related to opening ipynb files, at least not ones contributed by the jupyter extension)

[2021-10-18 21:12] #5211 closed

[2021-10-18 21:22] DonJayamanne opened #7960 "Display warning when user selects outdated versions of Python"
Python 2.7, 3.5, (soon 3.6), etc
We have users constantly running into issues with these.
Just a simple modal dialog warning `Are you sure, yes, cancel, do not show again`

I hate dialogs, but we want to avoid instances when novice users running into issues with python + jupyter (data science)

[2021-10-18 21:33] rchiodo opened #7961 "Random restart kernel failures"
Has happened twice today.

Relevant log attached:
[7.txt](https://github.com/microsoft/vscode-jupyter/files/7368629/7.txt)

My suspicion is that the 'idle' code we have in the kernel still has bugs in it.

[2021-10-18 21:37] rchiodo commented on #7961
Yeah I can repro pretty consistently. If I restart after a ```%pip install foo``` it will hang.

[2021-10-18 21:44] claudiaregio commented on #7944
@DonJayamanne

VS Code: 1.62.0-insider
Python Ext: v2021.11.1313923388-dev
Jupyter Ext: v2021.10.1001345285
Env: Local, Conda, Python 3.7.10

[Matplotlib Widget Jupyter Output Logs.txt](https://github.com/microsoft/vscode-jupyter/files/7368658/Matplotlib.Widget.Jupyter.Output.Logs.txt
[Matplotlib Widget Developer Tools Output.zip](https://github.com/microsoft/vscode-jupyter/files/7368667/Matplotli

[2021-10-18 21:50] greazer commented on #4404
Thanks for the feedback! However, we don't have plans on adding this functionality at this time.

[2021-10-18 21:51] DonJayamanne commented on #5685
Should be fixed, but lets test again.

[2021-10-18 21:54] greazer commented on #4960
We'll eventually get to something here as Rich has been doing investigations on making our telemetry story better.

[2021-10-18 21:54] DonJayamanne commented on #5459
Closing this issue as we no longer have custom editors.

[2021-10-18 21:54] #5459 closed

[2021-10-18 21:56] #5361 closed, assigned to nobody

[2021-10-18 21:58] #303 closed, assigned to nobody

[2021-10-18 21:58] #4516 closed

[2021-10-18 22:04] #5365 closed

[2021-10-18 22:05] DonJayamanne commented on #6982
Moving to triage, as i think this is a `important` and `golden` scenario issue. (basically pretty serious bug)

[2021-10-18 22:08] rchiodo opened #7962 "__file__ is not set during restart of IW kernel"
At least the test seem to think so:
https://github.com/microsoft/vscode-jupyter/runs/3924485494?check_suite_focus=true

Here's the screenshot from the failure
![Interactive_Window___file___exists_even_after_restarting_a_kernel_0c73a26e_cd77_4648_96ad_198694946474-screenshot](https://user-images.githubusercontent.com/19672699/137813376-9422e089-1480-48dc-aa2a-98696b47c0f9.png)

[2021-10-18 22:13] #5927 closed

[2021-10-18 22:17] #141 closed, assigned to nobody

[2021-10-18 22:25] rchiodo commented on #6304
Not doing these anymore.

[2021-10-18 22:29] rchiodo commented on #6116
Closing for now? @DonJayamanne do you think we should be putting this into the release plan?

[2021-10-18 22:29] DonJayamanne commented on #6592
I'm assuming these have since been resolved.

[2021-10-18 22:29] #6592 closed

[2021-10-18 22:30] rchiodo commented on #5979
I doubt we'll ever do this but in case somebody wants an easy win....

[2021-10-18 22:30] DonJayamanne commented on #6382
@claudiaregio Are you still running into this issue. If yes please create an issue on VS COde repo.

[2021-10-18 22:32] #6462 closed

[2021-10-18 22:33] DonJayamanne commented on #6466
Isn't this an `iw-golden` scenario

[2021-10-18 22:33] #6265 closed

[2021-10-18 22:34] #6248 closed

[2021-10-18 22:37] DonJayamanne commented on #6620
@ubalklen Are you still running into this issue?

Note for team: If yes, then this is a bug in Python repo as we shouldn't be able to see WSL kernels when opening windows folders & vice versa.

[2021-10-18 22:44] DonJayamanne commented on #6126
Closing this issue, as this shouldn't be an issue anymore.
We don't display the kernels anymore, we display the intepreters in favor of the kernels.

[2021-10-18 22:45] rchiodo commented on #4551
This should be completed. Current size is 12MB

[2021-10-18 22:45] #4551 closed

[2021-10-18 22:45] DonJayamanne commented on #6224
Team notes: I think we should close this issue as we no longer display the interpreter when the notebook is visible, or we should close this in favor of the other issues we have for getting started or kernel enumeration.
Hence moving to triage.

[2021-10-18 22:46] rchiodo commented on #4375
Not applicable anymore

[2021-10-18 22:47] #6331 closed

[2021-10-18 22:47] #6352 closed

[2021-10-18 22:47] rchiodo commented on #157
Probably never going to do this

[2021-10-18 22:47] #157 closed, assigned to nobody

[2021-10-18 22:48] #146 closed, assigned to nobody

[2021-10-18 22:48] #1711 closed

[2021-10-18 23:40] rchiodo commented on #7023
No this is execution. The syntax error is coming from the kernel, not from pylance. The fix is what Joyce suggests.

[2021-10-18 23:40] #7023 closed

[2021-10-18 23:58] DonJayamanne commented on #1245
Assigning to Ian as he was working on exporting ipynb to python files recently
Also adding this to the milesone (if this gets resolved with the recent changes).
@IanMatthewHuff  please feel free to remove this from the milestone if this will not get addressed.

[2021-10-19 02:15] roblourens commented on #7735
https://github.com/microsoft/vscode-jupyter/issues/7734

[2021-10-19 02:15] #7735 closed

[2021-10-19 02:21] #7696 closed

[2021-10-19 04:31] Micro-sheep commented on #7925
It works well! Thanks!

[2021-10-19 04:45] Micro-sheep opened #7964 "jupyter syntax highlight for function is not so powerful than before"
## Environment data

-   VS Code version: 1.61.1
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1101343141
-   Python Extension version (available under the Extensions sidebar): v2021.10.1336267007
-   OS (Windows | Mac | Linux distro) and version: Windows 11
-   Python and/or Anaconda version: python 3.7
-   Type of virtual environment used : conda
-   Jupyter ser

[2021-10-19 07:12] sdissegna-maystreet opened #7965 "ipywidgets performance can be slow whe used over a network"
This is very noticeable in projects such as https://github.com/cdr/code-server. The synchronization forces ipywidgets to wait for a browser-server round trip before sending the next message.

## Environment data

-   VS Code version: https://github.com/cdr/code-server latest (it's likely to happen in other environments such as gitpod or codespaces)
-   Jupyter Extension version (available under th

[2021-10-19 08:42] SupritYoung commented on #7917
It's useful, Thank u so much !

[2021-10-19 10:22] janosh opened #7966 "IW disable auto new cell on running last cell"
Add an IW setting to disable creating a new cell when executing the last cell.

### Current behavior

[code]

When executing the above cell in IW, a new cell is added automatically.
[code]

Can't find a way to disable this.

### Desired behavior

Input file remains unchanged.

[2021-10-19 10:27] janosh opened #7967 "jupyter.enableAutoMoveToNextCell should apply to cells executed with shift + enter"
### Current behavior

[code]

applies only to clicking the 'Run Cell' code lens. Executing a cell with <kbd>shift</kbd>+<kbd>enter</kbd> still makes the IW jump to the next cell in the input file.

### Expected behavior

This setting should apply to both running cells through code lenses and with <kbd>shift</kbd>+<kbd>enter</kbd>.

[2021-10-19 15:35] SMAshhar opened #7971 ".ipynb NameError: name 'x' is not defined"
Issue Type: <b>Bug</b>

CELL 1:
import tensorflow.keras as tf
import numpy as np

path = tf.utils.get_file(
    'nietzche.txt',
    origin='https://s3.amazonaws.com/text-datasets/nietzsche.txt'
    )

Text = open(path).read().lower()

print('corpus length: ', len(Text))
max_len = 60

step = 3

sentences = []
next_word = []

for i in range(0, len(Text)-60, step):
    sentences.append(Text[i: i+ max

[2021-10-19 16:32] DonJayamanne commented on #4139
Closing this issue as I beliebe this has been resolved in the latest Interactive Window (which happens to be a first class cititzen of VS COde).
If the issue persists, please feel free to re-open this issue or create a new one.

[2021-10-19 16:34] DonJayamanne commented on #4565
Closing as duplicate of https://github.com/microsoft/vscode-jupyter/issues/1307

[2021-10-19 16:34] #4565 closed

[2021-10-19 16:49] DonJayamanne commented on #1124
@Qiuzhuang sorry for not getting back to you on this. wanted to check if this is still unresolved?

[2021-10-19 17:00] DonJayamanne commented on #5154
This is very easy to do, and we know this improved retention in Python extension, hence i think this shoudl be priortized.

[2021-10-19 17:07] DonJayamanne opened #7968 "Summary of Commands/Toolbar issues (not hiding/disabling or invalid items)"
* https://github.com/microsoft/vscode-jupyter/issues/7242
* https://github.com/microsoft/vscode-jupyter/issues/7604
* https://github.com/microsoft/vscode-jupyter/issues/7726
* https://github.com/microsoft/vscode-jupyter/issues/6996
* https://github.com/microsoft/vscode-jupyter/issues/6543
* https://github.com/microsoft/vscode-jupyter/issues/7568
* https://github.com/microsoft/vscode-jupyter/issues

[2021-10-19 17:23] DonJayamanne commented on #4510
Closing as I don't think we'll do anything here

[2021-10-19 17:23] #4510 closed

[2021-10-19 17:24] DonJayamanne commented on #1611
This feature is supported today, you can create a cell and change the language to `raw`

[2021-10-19 17:24] #1611 closed

[2021-10-19 17:38] DonJayamanne commented on #6224
Closing for now based on previous comment and this issue https://github.com/microsoft/vscode-jupyter/issues/7171

[2021-10-19 17:43] DonJayamanne commented on #4549
Duplicate of https://github.com/microsoft/vscode-jupyter/issues/1516

[2021-10-19 17:43] #4549 closed

[2021-10-19 18:49] ronglums commented on #7626
Still seeing this issue in the latest python insiders version.

[2021-10-19 19:00] janosh commented on #1128
No complaints from here. Everything Python-related in VS Code been running very smoothly for a while now. Thanks for all your work! 👍

[2021-10-19 19:07] #7917 closed, assigned to rchiodo

[2021-10-19 19:19] #7626 closed

[2021-10-19 19:50] connor4312 commented on #1444
Recently, we [have switched] to the native VS Code notebook experience and interactive window. This supports debugging and pluggable [notebook renderers](https://code.visualstudio.com/api/extension-guides/notebook#notebook-renderer) to allow rich visualization of diverse outputs, which was the original request in the issue. If there are specific features you're still missing, please [open a featur

[2021-10-19 19:50] #1444 closed

[2021-10-19 20:53] ronglums opened #7970 "Variable Explorer: Some variables are stuck in the loading state"
VS Code Version: 1.62.0-insider (user setup)
Commit: 34eeebdd66033633ac22efd5fab928ae37916168
Date: 2021-10-15T05:16:57.817Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043
Jupyter extension: v2021.10.1001358390

Steps to repro:
1. open this notebook file https://github.com/claudiaregio/data-science/blob/main/Titanic.ipynb
2. Run all

[2021-10-19 22:27] rchiodo commented on #7971
Thanks for the bug.

Unfortunately I'm not reproing. I get this:

![image](https://user-images.githubusercontent.com/19672699/137999115-894b87cb-794e-439a-a2d2-59a17bd053db.png)

Did it perhaps crash during vectorization?

[2021-10-20 01:21] dleve123 commented on #7745
Just want to disagree with hardly anyone uses it! I often use VScode for Jupyter notebook development and the ability to quickly convert to PDF instead of printing a browser window is very helpful.

[2021-10-20 07:21] sangkim22 opened #7974 "listen EFAULT: bad addressin system call argument"
## Environment data

-   VS Code version: 1.61.2
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1101343141
-   Python Extension version (available under the Extensions sidebar): v2021.10.1336267007
-   OS (Windows | Mac | Linux distro) and version: Windows
-   Python and/or Anaconda version: Python 3.9.7
-   Type of virtual environment used (N/A | venv | virtualenv

[2021-10-20 09:35] darim1 opened #7975 "Breakpoints stopped working"
## Environment data

[code]

-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1101343141
-   Python Extension version (available under the Extensions sidebar): v2021.10.1336267007
-   OS (Windows | Mac | Linux distro) and version: Windows
-   Python and/or Anaconda version: 3.9
-   Type of virtual environment used: venv
-   Jupyter server running: Local

## Expected

[2021-10-20 10:14] lasergyro opened #7976 "Support remote server being treated like a 'local' server when on same machine as VS code extension host"
Current Working Directory is not the current notebook directory.

This goes against default behaviour in jupyter notebook and jupyter lab.

Can this be fixed? If not, how can I automate setting the current work directory to the file location? Is there some environment variable that is set to the current notebook file that I can read in a setup cell?

## Environment data

-   VS Code version: 1.61.

[2021-10-20 12:27] darim1 opened #7977 "Code completion stopped working after upgrade to 1.62.2"
## Environment data

Version: 1.61.2 (user setup)
Commit: 6cba118ac49a1b88332f312a8f67186f7f3c1643
Date: 2021-10-19T14:57:20.575Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19042
Jupyter Extension version (available under the Extensions sidebar): v2021.9.1101343141
Python Extension version (available under the Extensions sidebar): v202

[2021-10-20 15:57] rchiodo commented on #7975
Thanks for the bug.

Debugging seems to have regressed for me as well. I can no longer step through cells.

This is with ipykernel 5.5.0 though

If I use ipykernel 6.2, it does work and breakpoints are hit.

[2021-10-20 16:05] rchiodo commented on #7976
Thanks for the bug. We don't currently control the path where you start the remote server. A kernel from the remote server will default to that path when starting.

You can either:
- Start the jupyter server at a different location
- Change the directory in a cell
- Not use a remote server (remote ssh is supported by the jupyter extension). If you just use 'Default' on this picker here:

![image](

[2021-10-20 16:54] rchiodo commented on #7976
In the remote server case where you're using remote ssh, the fact that your remote server and VS code are running on the same machine is a coincidence. Normally when connecting to a remote server, the machine is not in the same place as your code.

We don't know the directory structure of the remote machine for remote servers so we can't force the ${fileDirname} on the kernel when launching. The $

[2021-10-20 17:09] rchiodo commented on #7976
This is the hard part:

What's the path that the server started at? We could potentially get cwd from the active jupyter server by querying the process itself, but then we'd have to figure out _which_ process is the jupyter server. Potentially we could start a dummy kernel though and have it output the cwd for us to read. But then we'd have to also make sure the machine is the same.

But since you

[2021-10-20 17:36] zohimchandani commented on #7916
<img width="955" alt="Screenshot 2021-10-20 at 18 35 17" src="https://user-images.githubusercontent.com/60148725/138142991-9c2d6a1e-170a-4fad-9153-a2779487ce1a.png">

<img width="932" alt="Screenshot 2021-10-20 at 18 35 31" src="https://user-images.githubusercontent.com/60148725/138143033-e7dc23a6-2975-475e-9c01-6e5fa301d244.png">

[2021-10-20 19:12] psobolewskiPhD opened #7983 "Python Interactive Window doesn't parallelize with dask properly"
## Environment data

-   VS Code version: Version: 1.62.0-insider
-   Extension version (available under the Extensions sidebar): v2021.11.1313923388-dev
-   OS and version: macOS 11.6 (Apple Silicon M1)
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.7 (conda-forge)
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): conda
-   Relevant/affected Pyth

[2021-10-20 19:50] darim1 opened #7982 "Notebook File Root only works for user"
## Environment data

[code]

## Expected behaviour

In multi-root it should be possible to configure notebook file root for user/workspace and folder. Folder should supersede workspace which supersedes User.

## Actual behaviour

It appears that only user settings are applicable.

## Steps to reproduce:

1. Create a submodule in some namespace, e.g. test.my_module
2. Adopt notebook file root in or

[2021-10-20 20:44] DonJayamanne opened #7985 "Fixes to restart of IKernel (Current the variable is undefined, and interrupt won't wait for pending restart to finish) also Move initialization scripts for IW into Kernel or similar"
We've had a few issues with a test for `__file__` in interactive window

The problem was the cell was queued for execution even before IW completed running the initialization code.
In IKernel.ts we have initialization code, and that is guaranteed to run prior to any cell.

However IW listens to restart events of IKernel and runs the initailization code.
But then also sends code to the IW.
This is

[2021-10-20 20:48] DonJayamanne commented on #7985
@rchiodo @IanMatthewHuff /cc

[2021-10-20 21:04] rchiodo commented on #7983
It should be debuggable (unless the dask stuff is all native code, that would be harder).

You just open the site-packages/ipykernel folder (installed under your virtual env somewhere) in vscode and then do a python attach. You have to the find the kernel process, but it should look something like:

![image](https://user-images.githubusercontent.com/19672699/138171783-43cd7cc9-fea5-4ba6-a3c6-13988

[2021-10-20 21:18] DonJayamanne opened #7986 "Compilation issues due types in @types/jsdom/base.d.ts"
[code]

[2021-10-20 22:15] rchiodo commented on #7069
@ahoho what's your Jupyter Extension version and VS code version?

[2021-10-20 22:15] rchiodo commented on #7069
And does this repeat on subsequent cells or just the first one?

[2021-10-21 02:13] sangkim22 commented on #7974
![image](https://user-images.githubusercontent.com/64191698/138199249-4a5de4ab-ba7a-4066-8c12-820c7e711d8b.png)

Hi thank you for the reply

this is what I have!

[2021-10-21 07:15] Qiuzhuang opened #7990 "code navigation doesn't work when choose kernel in remote jupyter mode"

[2021-10-21 10:38] darim1 commented on #7975
Now it seems that the breakpoint issue is not properly solved:

When debugging  a cell the first time, I observe a mismatch between the actual code line and the point where the debugger appears to stop in my code file (as mentioned above).

On second attempt to debug the very same cell, jupyter just cancels the operation (indicated by a simple canceled pop-up on bottom right side).

What can I do

[2021-10-21 11:11] LeonM23 opened #7992 "Jupyter Variable Explorer layout"
Issue Type: <b>Feature Request</b>

I'm addicted to layout of Spyder. And I found that for a earlier version of Python Extension ( v 2020.10), the variable explorer for Interactive Window lies at the upper right, as the same as the Spyder layout. However, for the latest version of Python Extension(v 2021.10), it is, called Jupyter : Variables,  placed in panel area, and can not be dragged into edi

[2021-10-21 14:04] TeamPlateforme opened #7991 "Folded cells are not saved as such"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

I like to organize my Jupyter notebook cells and in particular fold those that have a lot of code. I can fold functions using VSCode's built-in code folding, and that persists after saving and re-opening the notebook, but if I want to fold an entire cell b

[2021-10-21 15:47] rchiodo commented on #7974
Sorry but can you copy the entire contents of that pane? If you save it to a text file, you can just drag it into this issue.

[2021-10-21 17:32] JordanLongstaff opened #7993 "Add ability to provide code completions for modules imported in startup commands"
At my workplace, we have a specific code file written to provide useful helper functions whenever we choose to run IPython in a terminal:

[code]

I want to have an option to run that file by default every time I create a new Jupyter Interactive Window. I've tried running it manually using Jupyter's `Run File in Interactive Window` feature, but it results in the working directory being shifted to

[2021-10-21 18:41] DonJayamanne opened #7994 "Duplicate kernels in kernel picker"
3.10 appears twice

* Kernelspec points to interpreter A
* However we end up listing two kernels that point to interpreter B

![image](https://user-images.githubusercontent.com/1948812/138337492-d2ee0d65-9e3e-4058-a654-0577568863fb.png)

[2021-10-21 19:17] IanMatthewHuff commented on #7990
@Qiuzhuang Just to check, do you mean features like "go to definition" for code navigation?

[2021-10-21 20:09] greazer commented on #7990
Currently, features like goto definition do not work well with remote kernels. We may revisit in the future.

[2021-10-21 20:18] alexkyllo opened #7999 "Jupyter: Export Current Python File and Output as Jupyter Notebook doesn't use the active virtual environment"
### Applies To

- [X] Notebooks (.ipynb files)
- [X] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

I have a .py file with Jupyter code cells open and a virtual environment (created by Pipenv) active

![image](https://user-images.githubusercontent.com/2609312/138350538-5262bb23-dc58-4b52-a5c3-e66eaf133446.png)

When I run the "Jupyter: Export Current Pyt

[2021-10-21 20:26] greazer commented on #1660
@SiddhanthUnnithan, during housekeeping, we thought that this issue may not be that necessary anymore since it's been open for a while. Please reopen if you think it's something we need to consider doing soonish.

[2021-10-21 20:27] greazer commented on #1246
Thanks for the feedback! However, we don't have plans on adding this functionality at this time.

[2021-10-21 20:27] #1246 closed

[2021-10-21 20:33] greazer commented on #7960
Yeah, let's do this.

[2021-10-21 20:48] greazer commented on #6999
Per @DonJayamanne, this issue is not one we can resolve within the Jupyter extension.

[2021-10-21 20:49] rchiodo commented on #7983
This might help:
https://code.visualstudio.com/docs/python/debugging

Essentially you have to attach a debugger to the python kernel and then debug the execution on your dask code.

At some point the execution will go through this function:
https://github.com/ipython/ipykernel/blob/fdda069bba36cafcc25df4d2353b26fbdb9e4d15/ipykernel/ipkernel.py#L294

A breakpoint is something that tells the debugge

[2021-10-21 20:51] #7994 closed

[2021-10-21 20:59] #7986 closed, assigned to DonJayamanne

[2021-10-21 21:02] #7978 closed

[2021-10-21 23:08] #7965 closed, assigned to DonJayamanne

[2021-10-21 23:14] DonJayamanne commented on #7916
@zohimchandani
* Apologies the python code was incorrect, please run `print(os.getenv("PATH")`
* You missed the output from the `Jupyter` output panel, please could you provide that as well.
You need to go into the otuput panel and select everything, copy it and paste it here.
![image](https://user-images.githubusercontent.com/1948812/138369282-fbb7748b-e7e8-4b5f-b435-b74113fedc04.png)

[2021-10-21 23:25] #7967 closed, assigned to nobody

[2021-10-21 23:43] DonJayamanne opened #8002 "Both Interrupt tests for Run By Line are flaky"
As can be seen here, the cell ran to completion even after interrupting.
We are expecting the usual `keyboard interrupt` error message in output.

(screenshot from CI).

![Debugger_Tests_Run_a_second_time_after_interrupt_b9814636_c24a_4d6f_b66f_aa5cc04fdbbd-screenshot](https://user-images.githubusercontent.com/1948812/138371401-e19dec6c-2c00-4a5b-a112-60cb19534a7a.png)

[2021-10-21 23:47] DonJayamanne commented on #7670
Its not supported today in Interactive window, hence I'm assuming its the same reason its not supported in run by line as well.
Either we fix it (which we haven't for over 2 years the bug has been around) or we notify users via a message.

I'm up for fixing it, thats better than some hacky warning about not supporting something (when it works in traditional Python).

[2021-10-22 00:40] hotplot commented on #7078
I have a similar issue, except it's much more repeatable. When I use Python Interactive files, the directory that they are saved in ends up littered with many (eventually dozens) of these temp files.

A possible point of difference between my setup and @misolori's is that I'm working remotely on an HPC cluster using the "Remote - SSH" extension. It does not appear to have anything to do with switc

[2021-10-22 02:09] claudiaregio opened #8003 "Notebooks - Language attribute in kernelspec metadata gone"
- VS Code Version: 1.61.0-insider
- OS Version: Windows

Steps to Reproduce (in both VS Code and Jupyer):

1. Create new notebook
2. Save

VS Code Jupyter Notebook

![image](https://user-images.githubusercontent.com/19276747/136264262-5dd73eb7-ab7f-4a9e-9240-63620618b272.png)

Jupyter Notebook

![image](https://user-images.githubusercontent.com/19276747/136264517-3cec6483-b486-4540-ac0c-dad95d1f98

[2021-10-22 02:42] rebornix commented on #8005
Please check the original issue https://github.com/microsoft/vscode/issues/99425

[2021-10-22 03:33] sangkim22 commented on #7974
Ok
This is all I got!

Info 2021-10-22 12:31:13: Experimentation service retrieved: [object Object]
User belongs to experiment group 'jupyterTestcf'
User belongs to experiment group 'jupyterEnhancedDataViewer'
Info 2021-10-22 12:31:13: ZMQ install verified.
Info 2021-10-22 12:31:57: No controller, hence notebook communications cannot be initialized for editor file:///c%3A/Users/Sang/Documents/GitH

[2021-10-22 17:19] scaomath opened #8007 "Creating a citable bibliography for VSCode Jupyter or make this repo citable"
**Describe the feature you'd like.**
This is not really a feature. I have benefited a lot from VSCode Jupyter in my research and wanted to add the citation in the acknowledgement. However, I could not find a bibliography entry for VSCode Jupyter extension to put in acknowledgement and bibliography.

**Possible solutions**
Would you please consider make this repo citable? [https://guides.github.com

[2021-10-22 18:11] rchiodo opened #8008 "Hover no longer works in interactive window cells"
![image](https://user-images.githubusercontent.com/18646553/138470877-491220f6-dda0-4dd3-951f-985e68cd73ba.png)
![image](https://user-images.githubusercontent.com/18646553/138471060-76f6c520-3a68-42d4-ae70-bbf4131b1aa0.png)

Me either。
After vscode is upgraded, Jupyter automatically prompts disappear, and there is no prompt even when the mouse is hovered.

_Originally posted by @farukonfly in http

[2021-10-22 20:26] #7953 closed, assigned to DonJayamanne

[2021-10-22 21:35] Twilight32 opened #8011 "can not save .py file from jupyter notebook"
Issue Type: <b>Bug</b>

I actually have two issues:
I have two Jupyter notebooks:
1. mainModule
2. subModule

I am trying to import subModule into mainModule.
simply with:
import subModule
and an error occurs:

ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-9-bc3bb6b0e1a7> in <module>
      1 # %load  mainModule.ipynb
      2
----> 3 import mainModule

M

[2021-10-22 23:04] rchiodo opened #8013 "Ensure thank you section in changelog is up to date"

[2021-10-23 00:30] franz101 opened #8014 "iJavaScript Exception in cell will cause timeout"
## Environment data

-   VS Code version: 1.61.2
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1101343141
-   Python Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS (Windows | Mac | Linux distro) and version: 11.6 (20G165) M1
-   Python and/or Anaconda version: mini-forge arm 3.9.6
-   Jupyter server running: Local

## Expect

[2021-10-23 01:42] claudiaregio commented on #8012
Dupe of #https://github.com/microsoft/vscode-jupyter/issues/1307

[2021-10-23 01:42] #8012 closed

[2021-10-23 08:42] AGoh2019 opened #8029 "Jupyter Notebook Tutorial"
Issue Type: <b>Feature Request</b>

Can you provide a tutorial and video on how to use Jupyter Notebook in VS Code.  Especially when it comes to installing and configuring Anaconda 3 and the Conda library. And I would also like to know how to use chmod to give myself unrestricted privileges when using Git Bash in Windows 11.

VS Code version: Code 1.61.2 (6cba118ac49a1b88332f312a8f67186f7f3c1643,

[2021-10-24 03:30] SonQBChau opened #8016 "Unable to render Altair plot using boxplot on repeat with mimetype"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

#### Issue description
Jupyter in VSCode is unable to render the Altair plot. This happens when using boxplot on repeat and set the renderer to `mimetype`

#### Steps to reproduce the issue

[code]

#### What's the actual result?

[code]

#### Additional d

[2021-10-24 13:06] shadow150519 opened #8017 "Error: Session cannot generate requests"
i have see [#7190](https://github.com/microsoft/vscode-jupyter/issues/7190) and [#7802](https://github.com/microsoft/vscode-jupyter/issues/7802), but it doesn't work for me.
## Environment data

-   VS Code version: 1.61.2
-   Jupyter Extension version : v2021.9.1101343141
-   Python Extension version : v2021.10.1365161279
-   OS (Windows | Mac | Linux distro) and version:  Windows10
-   Python an

[2021-10-24 15:28] #8017 closed, assigned to DonJayamanne

[2021-10-24 15:59] deni5n opened #8018 "ports remain open after vscode finishes (jupyter notebook)"
Issue Type: <b>Bug</b>

1. in the terminal, search for open connections "ss -ntlp"
2. open vscode and create jupyter notebook
3. close vscode
4. in the terminal again search for open connections "ss -ntlp". see many unclosed connections (((

workaround: execute "kill $ (pgrep python3)" in terminal after closing vscode

Extension version: 2021.9.1101343141
VS Code version: Code 1.61.2 (6cba118ac49a

[2021-10-25 06:32] memeplex opened #8020 "Fonts in variable viewer are too big"
## Environment data

-   VS Code version: 1.61.2
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1101343141
-   Python Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS (Windows | Mac | Linux distro) and version: macOS Big Sur 11.6
-   Python and/or Anaconda version: 3.9.7
-   Type of virtual environment used (N/A | venv | virtua

[2021-10-25 14:12] DheerajKukreja9554 opened #8028 "intellisense not working in jupyter notebook"
Issue Type: <b>Performance Issue</b>

vscode intellisense not working in jupyter notebooks but works fine in other .py files. I searched this issue in some articles but nothing is resolved

VS Code version: Code 1.61.2 (6cba118ac49a1b88332f312a8f67186f7f3c1643, 2021-10-19T14:57:20.575Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value

[2021-10-25 16:52] #8018 closed, assigned to DonJayamanne

[2021-10-25 18:55] #7985 closed, assigned to DonJayamanne

[2021-10-25 18:59] #7864 closed, assigned to DonJayamanne

[2021-10-25 19:15] rchiodo opened #8024 "Test: Kernel communication upgrade"
Refs: https://github.com/microsoft/vscode-jupyter/issues/7675

- [x] windows @sbatten
- [x] macOS @paulacamargo25
- [x] linux @joaomoreno

Complexity: 4

[Create Issue](https://github.com/microsoft/vscode-jupyter/issues/new?body=Testing+%238024%0A%0A&assignees=rchiodo)

---

We've upgraded our internal library we use for communicating with kernels in the Jupyter extension to the latest [jupyter la

[2021-10-25 20:02] rchiodo opened #8026 "Test: Semantic colorization regressions"
Refs: https://github.com/microsoft/vscode-jupyter/issues/6799

- [x] anyOS @connor4312
- [x] anyOS @digitarald (Optional)

Complexity: 2

[Create Issue](https://github.com/microsoft/vscode-jupyter/issues/new?body=Testing+%238026%0A%0A&assignees=rchiodo)

---

Semantic tokenization of notebooks has been improved (but not final). This test plan is to verify these changes don't break other scenarios

[2021-10-25 20:15] #8004 closed, assigned to rchiodo

[2021-10-25 20:20] #8005 closed, assigned to rebornix, claudiaregio

[2021-10-25 20:52] xiaoxi-david opened #8030 "Make the background of the jupyter variables tab respect the theme of VS Code"
Currently, the background of the jupyter variables tab keeps white and doesn't respect any of the themes of VS Code.

[2021-10-25 21:03] rchiodo opened #8031 "Test: Per kernel language server for jupyter notebooks"
Refs: https://github.com/microsoft/vscode-jupyter/issues/6333

- [x] anyOS @alexdima
- [x] anyOS @greazer

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode-jupyter/issues/new?body=Testing+%238031%0A%0A&assignees=rchiodo)

---

Intellisense in notebooks was originally provided by the python extension. We've made a change to have it provided by the jupyter extension so that we can h

[2021-10-25 21:09] DonJayamanne opened #8032 "Ability to filter kernels displayed in Jupyter Notebooks"
Refs: #7373

- [x] anyOS @kimadeline
- [x] anyOS @aeschli

Complexity: 4

Authors: @DonJayamanne

[Create Issue](https://github.com/microsoft/vscode-jupyter/issues/new?body=Testing+%237373%0A%0A&assignees=donjayamanne)

[Create Issue](https://github.com/microsoft/vscode-jupyter/issues/new?body=Testing+%238032%0A%0A&assignees=DonJayamanne)

---

We now allow pro (davanced) jupyter users to filter o

[2021-10-25 21:13] DonJayamanne opened #8033 "Provide custom kernlespec path when launching Jupyter (for non-RAW cases)"
Today we store the custom kernel specs (generated by the extension) in the standard location.
These are only used for spinning up kernels when zmq is not available.

Suggestion is to place them in a custom directory & when lauching jupyter provide the path to this folder, so that jupyter will look for kernelspecs from there are well.

**Benefit:**
* We can delete these kernelspecs anytime we want

[2021-10-25 21:13] rchiodo opened #8034 "Test: Exporting a notebook to python"
Refs: https://github.com/microsoft/vscode-jupyter/issues/5222

- [x] anyOS

Complexity: 2

[Create Issue](https://github.com/microsoft/vscode-jupyter/issues/new?body=Testing+%238034%0A%0A&assignees=IanMatthewHuff)

---

Exporting a jupyter notebook to python used to use nbconvert to do so. In the last iteration we changed the default to just use typescript to compute the python script.

## Setup s

[2021-10-25 23:15] davzaman opened #8036 "Interrupt Does Not Work"
Issue Type: <b>Bug</b>

1. Load large TSV of tweets (~3 million rows) into a pandas dataframe.
2. Convert dataframe to json object using "records" orientation.
3. Attempt to hit "Interrupt" on top barline, or on the left of the cell.

Nothing happens, the process is not interrupted, even if I close the file, even if I try to restart the kernel, etc.

The process continues to run with no way to kil

[2021-10-26 00:22] claudiaregio opened #8037 "Notebooks - Connecting to kernel taking incredibly long time"
## Environment data

-   VS Code version: 1.62.0-insider
-   Jupyter Extension version (available under the Extensions sidebar): v2021.10.1001380329

When running my notebook, I can consistently reproduce the notebook taking 30s-60s just to connect to the kernel before it even starts running cells

[2021-10-26 00:31] #8036 closed, assigned to rchiodo

[2021-10-26 11:40] Tirbo06 opened #8053 "Limited width display in Python Interactive window despite settings"
## Environment data

-   VS Code version: 1.61.2
-   Extension version (available under the Extensions sidebar):  **Python v2021.10.1365161279**
-   OS and version: **Windows 10 21H1**
-   Python version (& distribution if applicable, e.g. Anaconda): **3.8.1 / 3.9**
-   Relevant/affected Python packages and their versions: **Interactive Windows (python)**
-   Value of the `python.languageServer` s

[2021-10-26 12:13] joaomoreno opened #8039 "`Run Cell` codelens action modifies file"
Testing #8024

It's pretty unnexpected that a new cell gets create just because I run one:

![recording (9)](https://user-images.githubusercontent.com/22350/138876458-af25bf41-b13e-491f-aaff-f75ae80bef10.gif)

[2021-10-26 12:16] joaomoreno opened #8040 "Confusing `Go to [X]` action"
Testing #8024

It took me quite a bit to understand what that `Go to [X]` action does. Also, as soon as I clear the output view, the action is still there, which is pretty confusing.

![recording (10)](https://user-images.githubusercontent.com/22350/138876816-753a4f4b-da05-4a81-af6f-ed5ce5e40274.gif)

[2021-10-26 12:37] joaomoreno opened #8041 "Double `notebook` install prompt"
Testing #8024

When using this setting, I get the following double `notebook` installation prompt, as soon as I try to run a cell:

[code]

![recording (12)](https://user-images.githubusercontent.com/22350/138880175-78fd4027-b3cc-46f1-b946-6a5508b6e38b.gif)

[2021-10-26 12:51] joaomoreno opened #8042 "`Run Cell` actions becomes unusable"
Testing #8024

1. Follow the test plan item remote steps.
2. Click `Run Cell`, all good
3. Click `Debug Cell`, get an expected error that debugging is not yet working
4. Click `Run Cell`, 🐛 get the same error

![recording (13)](https://user-images.githubusercontent.com/22350/138882273-6ea88f3b-3b81-439a-9275-13a4fb105398.gif)

[2021-10-26 12:56] joaomoreno opened #8043 "Dead remote Jupyter server detection takes too long"
Testing #8024

1. Follow the remote Jupyter server steps
2. Open a notebook
3. Kill `jupyter notebook`
4. Run a cell

🐛 Code should detect the Jupyter server has died... but instead the cell is left to run forever:

![recording (14)](https://user-images.githubusercontent.com/22350/138883157-593d2d43-7c9d-42f5-b830-a56f2d7ca36a.gif)

[2021-10-26 14:14] aeschli opened #8044 "Kernel selection dialog: Show current kernel as well"
Testing #7373

Just a UI suggestion. Feel free to close if this was already discussed.

Following #8032, I installed some environments and opened a Jupyter notebook.
Clicking on the environments brings the 'Kernel change dialog'. It shows all kernels except the currently selected one.

I found that filtering teh current one is a but strange. Comparing this to other selection dialogs, e.g. the edit

[2021-10-26 14:20] aeschli opened #8045 "Kernel selection dialog: Provide action to open the filter list"
Testing #7373

Just a UI suggestion. Feel free to close if this was already discussed.

Following #8032, I installed some environments and opened a Jupyter notebook.
Clicking on the environments brings the 'Kernel change dialog'. It shows kernels to choose from.

As the kernel list can be configured by the user, it would be great to have an action right in the selection dialog that brings you ther

[2021-10-26 14:51] aeschli opened #8046 "Kernel filter dialog: Unselect to hide"
Testing #7373

Following #8032, I installed some environments and opened a Jupyter notebook.

Open `Jupyter: Filter Kernel`.

The dialog says:
'Unselect items you wish to hide from the kernel picker'
![image](https://user-images.githubusercontent.com/6461412/138902712-17665731-848c-4e46-87bc-d1e055f5153b.png)

IMO it makes sense to have checkboxes for the ones that should show and I understand tha

[2021-10-26 16:09] #8039 closed, assigned to rchiodo

[2021-10-26 16:12] #8040 closed, assigned to rchiodo

[2021-10-26 16:16] #8042 closed, assigned to rchiodo

[2021-10-26 16:23] rchiodo opened #8048 "Test for interactive window debugging"
In order to not regress IW again, we need a test that:
1. Runs a cell in the IW
2. Debugs a different cell
3. Verifies the debugger stops in the original file
4. Verifies breakpoints work

[2021-10-26 16:56] bamurtaugh opened #8050 "Can't export using nbconvert: `Export failed. Please check the 'Jupyter' output panel for further details`"
## Environment data

-   VS Code version:
Version: 1.62.0-insider (user setup)
Commit: dc1a6699060423b8c4d2ced736ad70195378fddf
Date: 2021-10-26T08:49:04.076Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22483
-   Jupyter Extension version (available under the Extensions sidebar): v2021.10.1001384888
-   Python Extension version (availab

[2021-10-26 17:03] #8037 closed, assigned to nobody

[2021-10-26 17:08] kimadeline opened #8051 "Use similar sorting in kernel filter and selection dialogs"
Testing #7373 by following #8032

Items in the kernel filter dialog are sorted alphabetically, while kernels in the selection dialog are split into categories. I was not expecting 2 different ways of sorting kernels, and sorting them alphabetically also means that Python 2.7 will be higher in the list compared to Python 3:

![Screen Shot 2021-10-26 at 9 56 53 AM](https://user-images.githubusercont

[2021-10-26 17:11] #8051 closed, assigned to DonJayamanne

[2021-10-26 17:59] kimadeline opened #8054 "Kernel selection quickpick: pyenv and venv environments incorrectly categorized"
Testing #7373 by following #8032

When displaying the list of kernels with the `Notebook: Select Notebook Kernel` command, pyenv interpreters are under the `Pipenv Env` category:

![Screen Shot 2021-10-26 at 9 51 54 AM](https://user-images.githubusercontent.com/51720070/138934212-40f514c4-f010-43ad-88a5-3269dd6a15e2.png)

And virtual environments created with `venv` are under `Global Env`:

![imag

[2021-10-26 18:00] #8032 closed, assigned to nobody

[2021-10-26 18:06] #8046 closed, assigned to DonJayamanne

[2021-10-26 18:45] sbatten opened #8055 "Invalid character "\u21" in token"
Testing #8024

![image](https://user-images.githubusercontent.com/6561887/138941427-ea8bf9db-e6d5-400d-9c76-10be9abcedc4.png)

Firstly, I don't expect the error since this cell runs. Secondly, the character is cryptic.

[2021-10-26 18:50] rzhao271 opened #8057 "nbconvert option results in duplicate IPython imports"
Testing #8034

With the nbconvert option:

1. Create a notebook with magics
2. Export the notebook to a Python script. The Python script starts off by importing IPython
3. Run all the cells in the Python script in order, which ends up running them in the IW
4. Export the IW contents to a new Python script
5. :bug: IPython gets imported twice

This behaviour could be by design, though.

[2021-10-26 18:52] sbatten opened #8058 "Error when running either cell in notebook"
Testing #8024

![image](https://user-images.githubusercontent.com/6561887/138942641-4138ba0d-59bf-4753-abeb-4a8e593e2692.png)

[2021-10-26 18:53] #8034 closed, assigned to nobody

[2021-10-26 18:56] #8058 closed, assigned to rchiodo

[2021-10-26 19:44] vict0rsch opened #8059 "Jupyter: FormatOnCellSave"
I use `black` to format my scripts and it hurts my eyes when I write in Jupyter notebook cells and it's not formatted. I know I can use the command palette to trigger the default formatter in the current cell, it would be nice to do it on save (similarly to scripts)

Thanks

[2021-10-26 20:01] #8059 closed, assigned to rchiodo

[2021-10-26 20:23] #8054 closed, assigned to DonJayamanne

[2021-10-26 20:54] greazer opened #8060 "Is the kernel error being reported correct (i.e. the most useful?)"
See the following image. The kernel (interpreter) I selected apparently is missing access to win32api.dll somehow. Yet the error reported is a much more nebulous and late-to-the-party type message: "Cannot execute code, session has been exposed".

I think we have code to try and display to the user a better error message when a kernel can't be started, but are we getting the right one?

![image](h

[2021-10-26 21:03] kwikwag opened #8061 "Debug cell next line position wrong + subsequent failure to debug"
## Environment data

-   VS Code version: 1.61.2 (user setup)
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1101343141
-   Python Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS (Windows | Mac | Linux distro) and version: Windows_NT x64 10.0.19043
-   Python and/or Anaconda version: miniconda3 py39_4.10.3 (Python 3.9.5 64-bit

[2021-10-26 21:20] #8061 closed, assigned to rchiodo

[2021-10-26 21:28] greazer opened #8062 "Conflicting error report for identical lines."
The !pip install line is flagged as an error if indented. Otherwise it's ignored.

![image](https://user-images.githubusercontent.com/11685408/138963555-eacfc6c4-9894-4538-9731-03e388244bdc.png)

[2021-10-26 21:35] #8031 closed, assigned to greazer

[2021-10-26 22:12] greazer opened #8063 "Can't debug a notebook after creating it."
1. Create New File... -> Jupyter Notebook
2. Add code. I used this, though it probably doesn't matter.
[code]
3. Set a bp on the x = 5 line.
4. Start to debug the cell.

You'll first be prompted to save the file, which I did.

But then after that you get this error: "Coudn't find a debug adapter descriptor for debug type 'Python Kernel Debug Adapter' (extension might have failed to activate)"

![i

[2021-10-26 23:30] #8026 closed, assigned to nobody

[2021-10-26 23:33] rchiodo opened #8065 "No intellisense in notebooks or interactive window"
@rchiodo  Both Notebooks(python cells) and interactive window  have no Intellisense ，I have already disabled “Dependency Analytics” extension.

Info 2021-10-25 21:58:47: Experimentation service retrieved: [object Object]
User belongs to experiment group 'jupyterTestcf'
User belongs to experiment group 'jupyterEnhancedDataViewer'
Info 2021-10-25 21:58:47: ZMQ install verified.
Info 2021-10-26 09:42

[2021-10-27 01:22] Alexsandr0 opened #8066 "Error in sympy output"
### Applies To

- [X] Notebooks (.ipynb files)
- [ ] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

Sympy output was expected to be left-aligned but is center-aligned.

Expected
![image](https://user-images.githubusercontent.com/6020324/138983728-84c3c669-dff2-4ffe-8277-874180dbe105.png)

Actual
![image](https://user-images.githubusercontent.com/6020324/

[2021-10-27 02:57] #7925 closed, assigned to rchiodo

[2021-10-27 07:24] Kurt-Shiwz opened #8067 "can i set output to right in new tab"
can i set output to right in new tab? i have a big file, so i want to see the result data in a new tab with right side.
like this
![image](https://user-images.githubusercontent.com/7554917/139019151-7b4f2796-18a1-4519-984e-433d96dd4246.png)

[2021-10-27 13:01] #8011 closed, assigned to rchiodo

[2021-10-27 14:26] dlangerm opened #8068 "Jupyter out of keyboard execution with selected block"
Issue Type: <b>Bug</b>

Occasionally when I restart a jupyter kernel, I'll go to execute a cell but the currently selected cell won't be executed. It'll either execute only the first block or some arbitrary block in my notebook. The fix seems to be closing and opening the notebook, but sometimes I have to close my entire editor.

Extension version: 2021.9.1101343141
VS Code version: Code 1.61.2 (6

[2021-10-27 15:51] #8068 closed, assigned to rchiodo

[2021-10-27 16:24] greazer opened #8069 "Stop debugging in interactive window runs the rest of the cell."
### Applies To

- [ ] Notebooks (.ipynb files)
- [X] Interactive Window and\/or Cell Scripts (.py files with \#%% markers)

### What happened?

1. Create a python script with a multi-line cell
[code]
2. Start debugging the cell.
3. Click the Stop codecell

'goodbye' is printed

### VS Code Version

Version: 1.62.0-insider (user setup) Commit: 0f7f6e338a4e86306474d4d01bdea9b8fe798017 Date: 2021-10-

[2021-10-27 16:32] #8066 closed, assigned to nobody

[2021-10-27 17:30] #7966 closed, assigned to nobody

[2021-10-27 17:33] IanMatthewHuff opened #8071 "Make sure 'nbconvert' export options correctly install nb convert"
Follow up to https://github.com/microsoft/vscode-jupyter/issues/5222.

The fix for #5222 ended up being adding a new way to export to python script without using nbconvert at all. However there is still an option for 'nbconvert' that customers can select for script export. And in that case we still don't have the right install prompt here. Most customers should be ok now as the export path doesn't

[2021-10-27 17:40] #8071 closed, assigned to IanMatthewHuff

[2021-10-27 19:25] #8063 closed, assigned to roblourens

[2021-10-27 19:52] #8069 closed, assigned to nobody

[2021-10-27 19:56] #8013 closed, assigned to rchiodo

[2021-10-27 20:28] rchiodo opened #8075 "Create a concat doc that listens to LSP events to modify itself"
Replace the current notebook concat document with an implementation that can be shared with pylance.

[2021-10-27 20:51] rchiodo opened #8076 "Create a setting to use new pylance mode for notebooks"

[2021-10-27 21:09] #8024 closed, assigned to nobody

[2021-10-27 22:40] #7876 closed, assigned to nobody

[2021-10-27 23:47] rchiodo opened #8078 "Test to validate telemetry is coming out as expected"
First idea:
- Generate log of telemetry for set of events
- Save log to repo
- Write test that runs same code. Compare telemetry output

[2021-10-27 23:58] sambathraj opened #8079 "Pip module Unable to parse debugpy output"
## Environment data

-   VS Code version: Version: 1.61.2 (user setup)
-   Jupyter Extension version (available under the Extensions sidebar): 2021.9.1101343141
-   Python Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS (Windows | Mac | Linux distro) and version: Windows
-   Python and/or Anaconda version: 3.8.9
-   Type of virtual environment used : venv
-

[2021-10-28 00:57] claudiaregio opened #8080 "Notebooks - Intellisense not helpful if using . to select pandas df column"
If i use the . to select a column in a pandas dataframe and then use . again to apply some function to it, the intellisense pop up is not helpful as it does not show the function in full

![image](https://user-images.githubusercontent.com/19276747/139167741-b264108a-e9f8-4626-9e3b-d8aa28ca8dff.png)

Compared to using the [ ] to select a column
![image](https://user-images.githubusercontent.com/192

[2021-10-28 01:13] tanhakabir opened #8081 "Weird nonexistent breakpoint hit when debugging cell in IW"
Related to https://github.com/microsoft/vscode-jupyter/issues/7975

## Environment data

Version: 1.62.0-insider (Universal)
Commit: f191b9d9fdf4254560103d1c977b3c37b18c6c83
Date: 2021-10-27T18:07:19.667Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 20.6.0

-   Python and/or Anaconda version: Python 3.9.1 64-bit anaconda
-   Type of virtual envir

[2021-10-28 05:25] ckxckx opened #8146 "Jupyter cell debugging does not support "step into" the third party library code with "justmycode:false""
Jupyter cell debugging does not support "step into" the  third party library code with "justmycode:false" in launch.json.

Please fix it !

[2021-10-28 08:48] Moarqi opened #8082 "Create new notebook fails, opening existing notebook does not work (Proposed API error)."
## Environment data

-   VS Code version: 1.61.0
-   Jupyter Extension version: v2021.9.100
-   Python Extension version: v2021.10.1365161279
-   OS and version: Manjaro 21.1.6
-   Python and/or Anaconda version: 3.9.4
-   Type of virtual environment used: conda
-   Jupyter server running: Local

## Expected behaviour

A clean install of vscode and the respective extensions should create and open

[2021-10-28 09:27] Ambrose-softs-67 opened #8083 "a"
## Environment data

-   VS Code version: XXX
-   Jupyter Extension version (available under the Extensions sidebar): XXX
-   Python Extension version (available under the Extensions sidebar): XXX
-   OS (Windows | Mac | Linux distro) and version: XXX
-   Python and/or Anaconda version: XXX
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): XXX
-   Jupyter server running

[2021-10-28 10:04] vidsaat opened #8084 "FileUpload ipywidget returns empty dict"
## Environment data

-   VS Code version: 1.61.2
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1101343141
-   Python Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS (Windows | Mac | Linux distro) and version: Ubuntu 20.04.3 LTS
-   Python and/or Anaconda version: Python 3.8.10
-   Type of virtual environment used (N/A | venv

[2021-10-28 10:51] sdissegna-maystreet opened #8085 "ipywidgets not working after changing kernel"
## Environment data

-   VS Code version: 1.61.2
-   Jupyter Extension version (available under the Extensions sidebar): main branch
-   Python Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS (Windows | Mac | Linux distro) and version: macOS 10.15.7
-   Python and/or Anaconda version: 3.9
-   Type of virtual environment used (N/A | venv | virtualenv | conda |

[2021-10-28 15:38] #8083 closed, assigned to IanMatthewHuff

[2021-10-28 15:45] #7841 closed, assigned to nobody

[2021-10-28 16:21] #8081 closed, assigned to nobody

[2021-10-28 17:55] xiaoxi-david opened #8087 "The horizontal scroll to show more columns of a dataframe doesn't work in VS Code Insider, but works in latest VS Code"
When I "head" a dataframe with lots of columns in VS Code Insider, the horizontal scroll doesn't work. However, the horizontal scroll works in VS Code.

Version: 1.62.0-insider (system setup)
Commit: f961b92f0faec5c68124ab4d89922d38cf6f513d
Date: 2021-10-28T05:15:59.105Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043

[2021-10-28 18:13] #7934 closed, assigned to DonJayamanne

[2021-10-28 18:48] DonJayamanne opened #8088 "Flaky kernel startups"
Over the past few days I've been seeing flaky CI with kernel startup issues.
Basically the kernel doesn't start even after we've connected to it.

**This is what jupyter does today**
* send kernel info request
* wait for the response
* ensure we get messages on iopub

**What can we do:**
* send request for kernel info as soon as we establish connection
* don't wait for resonse for kernel info (we

[2021-10-28 20:12] #8044 closed, assigned to DonJayamanne

[2021-10-28 20:26] #8067 closed, assigned to nobody

[2021-10-28 20:48] #8087 closed, assigned to IanMatthewHuff

[2021-10-28 21:38] DonJayamanne opened #8092 "How to make the interactive window positioned below the current group instead of to the right?"
### Discussed in https://github.com/microsoft/vscode-python/discussions/17872

<div type='discussions-op-text'>

<sup>Originally posted by https://github.com/macintacos October 28, 2021</sup>
Can't seem to find an option to run a cell of code when using the Interactive Mode and have the window that is created to show your output appear below the current window instead of to the right of the curren

[2021-10-28 21:46] #8028 closed, assigned to rchiodo

[2021-10-29 15:30] s2500111 opened #8099 "Remove DD as shortcut to delete a cell in Jupyter"
Who thought, this was a good idea, to use a frequently used key as a short cut to delete your work, especially, as currently, the  undo option is somewhat randomly deciding if it brings the cell back or not?

Didn't know, that shortcut until right now, just wondered, why my cells kept disappearing. Yeah, missclicked, so cells where in command mode and two times hitting d is enough. If you do somet

[2021-10-29 15:41] #7879 closed, assigned to nobody

[2021-10-29 15:42] #7877 closed, assigned to nobody

[2021-10-29 15:46] #7853 closed, assigned to nobody

[2021-10-29 16:49] green-nsk opened #8100 "Julia exception text isn't printed in the cell output"
See the screenshot -- I only get the stacktrace, but not the message itself.

## Environment data

-   VS Code version: 1.61.2 (user setup)
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1101343141
-   Python Extension version (available under the Extensions sidebar): N/A
-   OS (Windows | Mac | Linux distro) and version: Windows 10
-   Python and/or Anaconda versi

[2021-10-29 18:39] IanMatthewHuff commented on #6389
@connor4312 Thanks. Appreciate the extra work on this. Kernels can be pretty fussy to work with, especially for a funky setup like this.

A couple of things on this:
Per the screen shot you posted it looks like you might have created the two kernel specs with the same name entry:
![image](https://user-images.githubusercontent.com/812783/139482920-fca52653-9c23-420b-8828-e2ab92ed7d6a.png)
Note that

[2021-10-29 18:42] karrtikr commented on #7583
You could compare the `.path` property directly. I think the other properties in `old` won't be used anyways, so maybe we should only send the `path` as an id instead of the previous environment.

We maybe doing this but we do not rely on this information and do path check directly, see here: https://github.com/microsoft/vscode-python/blob/ec628195910d7b67fba12ece521d60b75a81fb0f/src/client/python

[2021-10-29 19:18] DonJayamanne commented on #7373
Filter UI

![image](https://user-images.githubusercontent.com/1948812/139490220-a4bffc92-7eef-4db2-8903-0a7026f38680.png)

[2021-10-29 19:43] DonJayamanne commented on #7583
That wouldn't work for since conda environments. If you create conda environments on unix, the python path is the same as the base conda env.( Unless you provide the python argument in the clip).

[2021-10-29 19:54] connor4312 commented on #6389
Ok, gotcha! Everything seems to work for me now as you described 🙂

[2021-10-29 19:55] IanMatthewHuff commented on #6389
Awesome. Thanks for the extra help on this, this report helped us fix up a regression that we were about to ship. Much appreciated.

[2021-10-29 20:03] DonJayamanne commented on #7934
![recording](https://user-images.githubusercontent.com/1948812/139495195-4725d9ea-aeea-4be4-88c8-f9296a03983b.gif)

[2021-10-29 20:27] claudiaregio commented on #8100
Hi @green-nsk, are you using the Julia extension?

[2021-10-29 20:32] claudiaregio commented on #8099
Hi @s2500111, if you'd like to customize your keyboard shortcuts go to File -> Preferences -> Keyboard Shortcuts. Type 'delete cell'. You'll want to update the highlighted contributed by the extension in the 3rd row below.

![image](https://user-images.githubusercontent.com/19276747/139498106-327a7d6a-0cae-4e04-83c9-ea3327d681e4.png)

[2021-10-29 20:32] #8099 closed

[2021-10-29 20:34] greazer commented on #7844
Accounted for via #7901 and #7583

[2021-10-29 20:34] #7844 closed

[2021-10-29 20:35] karrtikr commented on #7583
Interesting, can you link on how to create such environments? We're not handling such environments at the moment in the discovery component and completely rely on 'path', but weirdly haven't received any issue reports.

[2021-10-29 20:36] greazer commented on #7376
I don't think this is necessary for now. We can revisit in the future if necessary. Marking as debt in case we have some extra time. yeah right.

[2021-10-29 21:20] DonJayamanne commented on #7583
Ok, thanks. Weird. I thought we used to detect these.
If i'm not mistaken we've been using some internally as well for testing purposes.

Lets leave that for now then, if its not supported then thats a whole separate issue.
Hence please ignore the comments, i'll use the path as a key in personal & jupyter extension

[2021-10-29 21:31] #6799 closed

[2021-10-29 21:42] DonJayamanne opened #8107 "Unable to interrupt non-python kernels"

[2021-10-29 22:22] DonJayamanne commented on #7583
@karrtikr just use `conda create env -n <name>`

[2021-10-30 00:56] karrtikr commented on #7583
Cool.

We detected the environment folders, but we only looked for python paths inside the env folder:

[code]
so such environments with base conda python path were never discovered.

[2021-10-30 08:19] martbern commented on #6863
I get the samme issue if using an import statement.

Would love to use the interactive debugger, let me know if I can help further!

[2021-10-30 10:47] paluchasz opened #8110 "Vim undo and redo shortcuts not working"
Same issue as #4581 but it still isn't resolved and I can't reopen or comment on the old ticket.

## Environment data

-   VS Code version: 1.61.0
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1101343141
-   Python Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   Vim (vscodevim) Extension version: v1.21.10
-   OS (Windows | Mac |

[2021-10-30 13:45] paluchasz commented on #8110
I actually just found a workaround for this though it would be nice if enabled by default. Following [this post](https://stackoverflow.com/questions/47527162/vscode-vscodevim-undo-key-rebinding) I added the following
[code]
to my settings.json (open command palette and search for Open Settings (Json) to edit).

[2021-10-30 15:22] monsieur40a opened #8111 "Certain themes break after code cell is changed"
## Environment data

-   VS Code version: Version: 1.62.0-insider (user setup) Commit: ff1e16eebb93af79fd6d7af1356c4003a120c563
-   Jupyter Extension version (available under the Extensions sidebar): Jupyter v2021.10.1001398262
-   Python Extension version (available under the Extensions sidebar): Python v2021.11.1400738762-dev
-   OS (Windows | Mac | Linux distro) and version: Windows
-   Python

[2021-10-30 16:31] seVenVo1d commented on #1626
I am experiencing a similar problem. Here are my specs
[code]
and I am using Fedora 34.

When I run a .ipynb code, I see these instances

![before](https://user-images.githubusercontent.com/45866787/139540648-c315dabe-02d9-4182-8938-6f15b0953a8f.png)
and after closing the VSCode

![after](https://user-images.githubusercontent.com/45866787/139540650-69d993a5-ffe1-42c5-9415-771f683efbc2.png)

So the

[2021-10-31 06:45] chuongmep opened #8112 "Can't show multiple prints on the same line in Python"
## Environment data

-   VS Code version: 1.61.2
-   Jupyter Extension version (available under the Extensions sidebar): v2021.9.1101343141
-   Python Extension version (available under the Extensions sidebar): v2021.10.1365161279
-   OS (Windows | Mac | Linux distro) and version: Windows 10
-   Python and/or Anaconda version: 3.9.6
-   Type of virtual environment used (N/A | venv | virtualenv | c